{% load static %}
{% get_static_prefix as STATIC_URL %}

<p class='teamName'> {{ matchInfo.homeTeam }}</p>
<p class='teamName'> {{ matchInfo.awayTeam }}</p>


<div class='player-data'>
    <p id='title'> İsabetli Pas / Toplam Pas </p>

    <div id='content' class="player-data-pass">
        <div id='home-area'>
            <div class='sidebox' id='pass-home'>
                {% for x in homeData|dictsortreversed:'totalPass'|dictsort:'passRatio'|dictsortreversed:'successfulPass' %}

                    {% if forloop.counter == 6 %}
                        <div class='player-data-pass-extra collapse'>
                    {% endif %}
                    {% if x.totalPass > 0 %}
                        <div style='height: 40px'>
                            <a href='../../player/{{ x.teamId }}/{{ x.playerId }}' target='_blank'>
                                <img src='{{ STATIC_URL }}images/players/{{ x.playerId }}.jpg'
                                     onError='this.src="{{ STATIC_URL }}images/players/default.png";'/>

                                <p id='name'>{{ x.jerseyNumber }} - {{ x.playerName }}</p>

                                <p id='value'>{{ x.successfulPass }} / {{ x.totalPass }}</p>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
                {% if homeData|length > 5 %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div id='away-area'>
            <div class='sidebox' id='pass-away'>
                {% for x in awayData|dictsortreversed:'totalPass'|dictsort:'passRatio'|dictsortreversed:'successfulPass' %}
                    {% if forloop.counter == 6 %}
                        <div class='player-data-pass-extra collapse'>
                    {% endif %}
                    {% if x.totalPass > 0 %}
                        <div style='height: 40px'>
                            <a href='../../player/{{ x.teamId }}/{{ x.playerId }}' target='_blank'>
                                <img src='{{ STATIC_URL }}images/players/{{ x.playerId }}.jpg'
                                     onError='this.src="{{ STATIC_URL }}images/players/default.png";'>

                                <p id='name'>{{ x.jerseyNumber }} - {{ x.playerName }}</p>

                                <p id='value'>{{ x.successfulPass }} / {{ x.totalPass }}</p>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
                {% if awayData|length > 5 %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    <button class='collapse' data-toggle='collapse' data-target=".player-data-pass-extra"></button>

</div>


<div class='player-data'>
    <p id='title'> Koşu Mesafesi </p>

    <div id='content' class="player-data-run">
        <div id='home-area'>
            <div class='sidebox' id='run-home'>
                {% for x in homeData|dictsortreversed:'totalDistance' %}
                    {% if forloop.counter == 6 %}
                        <div class='player-data-run-extra collapse'>
                    {% endif %}
                    {% if x.totalDistance > 0 %}
                        <div style='height: 40px'>
                            <a href='../../player/{{ x.teamId }}/{{ x.playerId }}' target='_blank'>
                                <img src='{{ STATIC_URL }}images/players/{{ x.playerId }}.jpg'
                                     onError='this.src="{{ STATIC_URL }}images/players/default.png";'>

                                <p id='name'>{{ x.jerseyNumber }} - {{ x.playerName }}</p>

                                <p id='value'>{{ x.totalDistance }} m</p>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
        <div id='away-area'>
            <div class='sidebox' id='run-away'>
                {% for x in awayData|dictsortreversed:'totalDistance' %}
                    {% if forloop.counter == 6 %}
                        <div class='player-data-run-extra collapse'>
                    {% endif %}
                    {% if x.totalDistance > 0 %}
                        <div style='height: 40px'>
                            <a href='../../player/{{ x.teamId }}/{{ x.playerId }}' target='_blank'>
                                <img src='{{ STATIC_URL }}images/players/{{ x.playerId }}.jpg'
                                     onError='this.src="{{ STATIC_URL }}images/players/default.png";'>

                                <p id='name'>{{ x.jerseyNumber }} - {{ x.playerName }}</p>

                                <p id='value'>{{ x.totalDistance }} m</p>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <button class='collapse' data-toggle='collapse' data-target=".player-data-run-extra"></button>
</div>
<div class='player-data'><p id='title'> İsabetli Şut / Toplam Şut </p>

    <div id='content' class="player-data-shot">
        <div id='home-area'>
            <div class='sidebox' id='shot-home'>
                {% for x in homeData|dictsort:'shotRatio'|dictsortreversed:'totalShot'|dictsortreversed:'successfulShot' %}
                    {% if forloop.counter == 6 %}
                        <div class='player-data-shot-extra collapse'>
                    {% endif %}
                    {% if x.totalDistance > 0 %}
                        <div style='height: 40px'>
                            <a href='../../player/{{ x.teamId }}/{{ x.playerId }}' target='_blank'>
                                <img src='{{ STATIC_URL }}images/players/{{ x.playerId }}.jpg'
                                     onError='this.src="{{ STATIC_URL }}images/players/default.png";'>

                                <p id='name'>{{ x.jerseyNumber }} - {{ x.playerName }}</p>

                                <p id='value'>{{ x.successfulShot }} / {{ x.totalShot }}</p>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
                {% if homeData|length > 5 %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div id='away-area'>
            <div class='sidebox' id='shot-away'>
                {% for x in awayData|dictsort:'shotRatio'|dictsortreversed:'totalShot'|dictsortreversed:'successfulShot' %}
                    {% if forloop.counter == 6 %}
                        <div class='player-data-shot-extra collapse'>
                    {% endif %}
                    {% if x.totalDistance > 0 %}
                        <div style='height: 40px'>
                            <a href='../../player/{{ x.teamId }}/{{ x.playerId }}' target='_blank'>
                                <img src='{{ STATIC_URL }}images/players/{{ x.playerId }}.jpg'
                                     onError='this.src="{{ STATIC_URL }}images/players/default.png";'>

                                <p id='name'>{{ x.jerseyNumber }} - {{ x.playerName }}</p>

                                <p id='value'>{{ x.successfulShot }} / {{ x.totalShot }}</p>
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <button class='collapse' data-toggle='collapse' data-target=".player-data-shot-extra"></button>
</div>