{% extends "sc_base.html" %}

{% block head-addition %}
    <script type="text/javascript">
        var isSelected = 0;
        function handleSelect(elm){
            console.log("noproblem");
            var id = parseInt(elm.value);
            if(isSelected == 0){
                isSelected = 1;
                {% for i in best_eleven_list %}
                    var player_id = {{ i.playerId }};
                    if ( player_id == id){
                        console.log(id);
                        var htmltoSet = "";
                        htmltoSet += "{%include '_sc_quad.html' %}";
                        $("#info").html(htmltoSet);
                        $("#playerName1").text("{{ i.jerseyNumber }} - {{ i.playerName }}");
                        $("#goalLeague1").text("{{ i.goalLeague }}");
                        $("#goalMatch1").text("{{ i.goalMatch}}");
                        $("#assistLeague1").text("{{ i.assistLeague }}");
                        $("#assistMatch1").text("{{ i.assistMatch }}");
                        $("#shotLeague1").text("{{ i.shotSuccessfulLeague }}/{{ i.shotTotalLeague }}");
                        $("#shotMatch1").text("{{ i.shotSuccessfulMatch }}/{{ i.shotTotalMatch }}");
                        $("#passLeague1").text("{{ i.passSuccessfulLeague }}/{{ i.passTotalLeague }}");
                        $("#passMatch1").text("{{ i.passSuccessfulMatch }}/{{ i.passTotalMatch }}");
                        $("#crossLeague1").text("{{ i.crossSuccessfulLeague }}/{{ i.crossTotalLeague }}");
                        $("#crossMatch1").text("{{ i.crossSuccessfulMatch }}/{{ i.crossTotalMatch }}");
                        $("#totalLeague1").text("{{ i.distanceLeague }}");
                        $("#totalMatch1").text("{{ i.distanceMatch }}");
                        $("#HIRLeague1").text("{{ i.HIRLeague }}");
                        $("#HIRMatch1").text("{{ i.HIRMatch }}");
                        $("#sprintLeague1").text("{{ i.sprintLeague }}");
                        $("#sprintMatch1").text("{{ i.sprintMatch }}");
                        $("#faulAgainstLeague1").text("{{ i.faulAgainstLeague }}");
                        $("#faulAgainstMatch1").text("{{ i.faulAgainstMatch }}");
                        $("#faulCommittedLeague1").text("{{ i.faulCommittedLeague}}");
                        $("#faulCommittedMatch1").text("{{ i.faulCommittedMatch }}");
                        $("#stealLeague1").text("{{ i.stealLeague }}");
                        $("#stealMatch1").text("{{ i.stealMatch }}");
                        $("#turnoverLeague1").text("{{ i.turnoverLeague }}");
                        $("#turnoverMatch1").text("{{ i.turnoverMatch }}");
                        $("#playerImage1").attr("src","{{ STATIC_URL }}images/player{{ i.playerId }}.png");
                    }
                {% endfor %}
            }
            else{
                $("#info").html("");
                isSelected=0;
            }

        }
    </script>
{% endblock %}

{% block info %}
    <div class="info">
        <img style="float:left;height: 90%; margin: 3px;" src={{ STATIC_URL }}images/league1.png>
        <h1>Spor-Toto Süper Lig</h1>
        <h1 style="float: right;margin-right: 10px">{{ weekSelected }}. Hafta</h1>
    </div>
{% endblock %}


{% block menu-header %}

    <ul id="nav">
        <li>
            <a class="active" href="#"> <img src="{{ STATIC_URL }}images/home.png">Ana Sayfa</a>
        </li>
        <li>
            <a href="../../team"><img src="{{ STATIC_URL }}images/clubs_disabled.png">Takımlar</a>
        </li>
        <li>
            <a href="../../player"><img src="{{ STATIC_URL }}images/players_disabled.png">Oyuncular</a>
        </li>
        <li>
            <a href="../../compare"><img src="{{ STATIC_URL }}images/compare_disabled.png">Karşılaştır!</a>
        </li>
    </ul>

{% endblock %}

{% block week-menu %}
    <div class="week-menu">
        <p style="width: 2%; float: left"></p>
        {% for i in weekList %}
            {% if i == weekSelected %}
                <div class="active">
                    <a href="../{{ i }}"><p>{{ i }}</p></a>
                </div>
            {% else %}
                {% if i <= lastPlayedWeek %}
                    <a href="../{{ i }}"><p>{{ i }}</p></a>
                {% else %}
                    <div class="disabled">
                        <a href="../{{ i }}"><p>{{ i }}</p></a>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{%  endblock %}

{% block sidebar %}
    {% include '_sc_standings_table.html' %}
    {% include '_sc_fixture.html' %}
{% endblock %}

{% block content %}
    <div class="content">
        <div class="header">
            <img src="{{ STATIC_URL }}images/besteleven.png" style="height: 90%;margin-top:2px;float: left">
            <h1>Haftanın 11'i</h1>
        </div>
        <div style="width: 100%; height: 340px; float: left"> {% include '_sc_besteleven.html' %}</div>

    </div>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.baraja.js"></script>
    <script type="text/javascript">
        $(function() {
            var $el = $( '#baraja-el' ),
                baraja = $el.baraja();
        });
    </script>
    <div class="box-container" style="width: 100%;height: 390px">
        <div class="header">
            <img src="{{ STATIC_URL }}images/bestplayer.png">
            <p>Haftanın Kare Ası</p>
        </div>

        <div class="baraja-demo">
            <ul id="baraja-el" class="baraja-container">
                {% for p in quad_ace %}
                    <li value="{{ p.0 }}" onclick="handleSelect(this)">
                        <img src="{{ STATIC_URL }}images/players/{{ p.0 }}.jpg" alt="image1"/>
                        <h3>{{ p.1 }}</h3>
                        <p>{{ p.2 }}</p>
                        <p>{{ p.3 }}</p>
                    </li>
                {% endfor %}

            </ul>
            <div id="info">

            </div>
        </div>
    </div>

    <div class="box-container" style="width:100%">

        <div class="header">
            <img src="{{ STATIC_URL }}images/bestscorer.png">
            <p>Haftanın Golcüleri</p>
        </div>
        <div style="width: 100%;height: 325px; overflow-y: scroll">
            {% for p in top_scorers %}
                <a class="content" href="../../player/{{ p.0 }}/{{ p.2 }}">
                    <p style="width: 100%;text-align: center;font-size: 14px;height: 15px;line-height: 15px;margin-top: 6px;font-weight: bold">{{ forloop.counter }} - {{ p.1 }}</p>
                    <div class="image" style="width: 18%;margin-top: -2px">
                        <img src="{{ STATIC_URL }}images/players/{{p.2}}.jpg">
                    </div>
                    <ul style="width: 70%; margin-top: -2px">
                        <li><p class="first">Gol</p><p class="last">:{{ p.3|floatformat }}</p></li>
                        <li><p class="first">Toplam Şut</p><p class="last">:{{ p.4|floatformat }}</p></li>
                        <li><p class="first">Kaleyi Bulan Şut</p><p class="last">:{{ p.5|floatformat }}</p></li>
                    </ul>
                </a>
            {% endfor %}
        </div>
    </div>

    <div class="box-container" style="width:100%">
        <div class="header">
            <img src="{{ STATIC_URL }}images/bestpasser.png">
            <p>Haftanın Pasörleri</p>
        </div>
        <div style="width: 100%;height: 325px; overflow-y: scroll">
            {% for p in top_passers %}
                <a class="content" href="../../player/{{ p.0 }}/{{ p.2 }}">
                    <p style="width: 100%;text-align: center;font-size: 14px;height: 15px;line-height: 15px;margin-top: 6px;font-weight: bold">{{ forloop.counter }} - {{ p.1 }}</p>
                    <div class="image" style="width: 18%;margin-top: -2px">
                        <img src="{{ STATIC_URL }}images/players/{{p.2}}.jpg">
                    </div>
                    <ul style="width: 70%; margin-top: -2px">
                        <li><p class="first">Toplam Pas</p><p class="last">:{{ p.3|floatformat }}</p></li>
                        <li><p class="first">İsabetli Pas</p><p class="last">:{{ p.4|floatformat }}</p></li>
                        <li><p class="first">Pas İsabet Oranı</p><p class="last">:{{ p.5 }}</p></li>
                    </ul>
                </a>
            {% endfor %}
        </div>
    </div>
    <div class="box-container" style="width:100%">

        <div class="header">
            <img src="{{ STATIC_URL }}images/bestrunner.png">
            <p>Haftanın En Çok Koşanları</p>
        </div>
        <div style="width: 100%;height: 325px; overflow-y: scroll">
            {% for p in top_runners %}
                <a class="content" href="../../player/{{ p.0 }}/{{ p.2 }}">
                    <p style="width: 100%;text-align: center;font-size: 14px;height: 15px;line-height: 15px;margin-top: 6px;font-weight: bold">{{ forloop.counter }} - {{ p.1 }}</p>
                    <div class="image" style="width: 18%;margin-top: -2px">
                        <img src="{{ STATIC_URL }}images/players/{{p.2}}.jpg">
                    </div>
                    <ul style="width: 70%; margin-top: -2px">
                        <li><p class="first">Toplam Mesafe</p><p class="last">:{{ p.3|floatformat }} m</p></li>
                        <li><p class="first">Y. Şiddetli Koşu</p><p class="last">:{{ p.4|floatformat }} m</p></li>
                        <li><p class="first">Sprint</p><p class="last">:{{ p.5|floatformat }} m</p></li>
                    </ul>
                </a>
            {% endfor %}
        </div>
    </div>


{% endblock %}


