{% extends "sc_base.html" %}

{% block title %}İstatistik | istatistik.ligtv.com.tr{% endblock %}

{% block head-addition %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script>
        $(function() {
            var availableTags = [
                {% for i in best_eleven_list %}
                    "{{ i.playerName }}",
                {% endfor %}
            ];
            $( "#tags" ).autocomplete({
                source: availableTags
            });

        });
    </script>
    <script type="text/javascript">
        function handleSelect(elm)
        {
            window.location = elm.value;
        }
    </script>
{%  endblock %}

{% block info %}
    <div class="info">
        <p style="margin-left:10px; color:#000000;line-height: 50px;float: left">Oyuncu Ara:</p>
        <div class="ui-widget" style="float: left;margin: 12px">
            <input id="tags" />
        </div>
        <select style="color:#000000;width: 20%;margin: 10px;float: left;height: 30px; font-size: 12px" onchange="javascript:handleSelect(this)">
            <option class="item"> <a>Takım Seçiniz</a> </option>
            {% for i in try_list %}
                <option class="item" value="{{ i.teamId }}"> <a>{{ i.teamName }}</a> </option>
            {% endfor %}
        </select>
        <select style="color:#000000;width: 20%;margin: 10px;float: left;height: 30px; font-size: 12px" disabled>
            <option class="item"> <a>Oyuncu Seçiniz</a> </option>
            {% for i in best_eleven_list %}
                <option class="item"> <a>{{ i.playerName }}</a> </option>
            {% endfor %}
        </select>
    </div>
{% endblock %}

{% block content %}
    {% for i in try_list %}
        <div class = "teamselect">
            <a href="{{ i.teamId }}" class="wraptocenter"><span></span><img src="{{ STATIC_URL }}images/logo{{ i.teamId }}.png"></a>
        </div>
    {% endfor %}
{% endblock %}

{% block menu-header %}

    <ul id="nav">
        <li>
            <a href="../../"><img src="{{ STATIC_URL }}images/home_disabled.png">Ana Sayfa</a>
        </li>
        <li><a href="../team"><img src="{{ STATIC_URL }}images/clubs_disabled.png">Takımlar</a>

        </li>
        <li>
            <a class="active" href=""><img src="{{ STATIC_URL }}images/players.png">Oyuncular</a>
        </li>
        <li>
            <a href="../compare"><img src="{{ STATIC_URL }}images/compare_disabled.png">Karşılaştır!</a>
        </li>
    </ul>

{% endblock %}

{% block sidebar %}
    <div id="content">
        <div style="width: 100%;height: 35px">
            <select class="topmenuoption">
                <option class="item" style="float: right"> <a>Gol</a> </option>
                <option class="item"> <a>Asist</a> </option>
                <option class="item"> <a>Koşu Mesafesi</a> </option>
                <option class="item"> <a>Pas Yüzdesi</a> </option>
                <option class="item"> <a>Şut Yüzdesi</a> </option>
                <option class="item"> <a>Orta Yüzdesi</a> </option>
                <option class="item"> <a>Faul</a> </option>
                <option class="item"> <a>Yapılan Faul</a> </option>
                <option class="item"> <a>Sarı Kart</a> </option>
                <option class="item"> <a>Kırmızı Kart</a> </option>
            </select>
        </div>

        <div class="teamcomparison">
            {% for i in best_eleven_list|dictsortreversed:"goalLeague" %}
                <div class="teamitem">
                    <img alt="{{ i.playerName }}" title="{{ i.playerName }}" src="{{ STATIC_URL }}images/player{{ i.playerId }}.png">
                    {% for x in i.goalList %}
                        <a href="#" title="Golü izle"></a>
                    {% endfor %}
                    <div style="float: left;margin-left: 2px;line-height: 26px">{{ i.goalLeague }}</div>
                    <div class="placeholder"></div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}