.chalkboard{
	position: relative;
}

.chalkboard canvas{
	position: absolute;
	left: 0;
	top: 0;
}

.chalkboard #spinner{
	display: none; 
	position: absolute;
	top: 162px;
	left: 254.5px;
	z-index: 300;
}

.chalkboard #fgCanvas{
	z-index: 200;
}

.chalkboard-controls {
	text-align: center;
}