

ul.no-bullets, ol.no-bullets{
	list-style-type: none;
}

.navbar .nav li:hover {
	background-color: #fafafa;
}

p.centered {
	text-align: center;
}

.large-text {
	font-size: 18px;
	font-weight: bold;
}

.teamlist-container{
    margin-top: -505px;


}


.teamlist-inner {
	float: left;
	margin-left: 15px;
	margin-right: 7px;
    margin-top: -100px;
	padding: 0;
    box-shadow: 0pt 1px 0pt rgba(100,100,100,0.5) inset;
    background-color: #d8d8d8;
    width: 180px;
    text-decoration: none;

    color: #000000;

}

.teamlist-inner1 {
    float: right;

    margin-right: -5px;
    margin-top: -100px;
    padding: 0;
    box-shadow: 0pt 1px 0pt rgba(100,100,100,0.5) inset;
    background-color: #d8d8d8;
    width: 180px;
    text-decoration: none;

    color: #000000;
}
.teamlist-inner h5{
	margin-left: 7px;
    margin-right: 7px;
	border-bottom: 1px solid black;
    text-align: center;
}

.teamlist-inner1 h5{
    margin-left: 7px;
    margin-right: 7px;
    text-align: center;
    border-bottom: 1px solid black;
}

.teamlist{
    position: relative;
	margin: 0;
	float: left;
}

.teamlist:last-child{
	border-bottom: none;
}

.teamlist li {
    cursor: auto;
    position: relative;
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;


}

.teamlist li:hover {
	background-color: rgba(0,255,255,0.1);
	cursor: pointer;
}

.teamlist li.active {
	background-color: rgba(0,0,255,0.1);
}

.offset-half {
	margin-left: 90px;
}

.chalkboard-controls {
	font-size: 12px;
	text-align: center;
    margin-left: 80px;
    margin-top: 10px;
}

.macskoru {
	margin-top: 8px;
}

.game-banner {
	margin-bottom: 0;
}

.game-info p {
	font-size: 12px;
}

.pitch{
	margin-top: 10px;
	margin-left: 50px;
	margin-bottom: 10px;
	width: 662px;
	height: 440px;
}

.chalkboard{
    position: relative;
    top: -95px;
    left: 160px;
    width: 352px;
    height: 530px;
    right: 5px;
}

.chalkboard canvas{
	position: absolute;
	left: 0;
	top: 0;
}

.chalkboard #spinner{
	display: none;
	position: absolute;
	top: 240px;
	left: 155px;

}

.chalkboard #fgCanvas{
	z-index: 200;
}

.chalkboard-controls {
    position: relative;
    top: -15px;
	text-align: center;
}

.teamlist li{

	color: #333;
}

label {
    display: inline-block;
    cursor: auto;
    color: #333;
    position: relative;
    padding-left: 10px;
    margin-right: 40px;
    font-size: 17px;
}





