#rightButton{
    float:right;
}

#leftButton{
    float:left;
}

.sidebox a #bar-graph{
    float: left;
    margin-top: 7px;


}

canvas{
    border:1px solid #b8b8b8;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;


}

#videopng{
    margin-left:7px;
}

.manager-img{
    height:25px;
    margin-left:4px;
    margin-right: 10px;
}

#right-img{
    margin-left:1px;
}

#postponed-match{
    margin-top:8px;
}