
.row {
    margin-bottom: 40px;
}

.slider-holder {
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 662px;
    height: 70px;
    -webkit-border-radius: 4.3px;
    -moz-border-radius: 4.3px;
    border-radius: 4.3px;
    border: 1px solid #545454;
}

div.sidebox > div {
    height: 40px;
}

#timeDisplay {

    background-image: url("../images/score_board_bg.png");
    background-repeat: repeat;
    border: 1px solid #e0e0e0;
    height: 26px;
    line-height: 26px;
    font-family: Digital;
    font-size: 22px;
    text-align: center;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-top: -30px;
    margin-right: 40px;
    color: #ffffff;
    width: 60px;
}
