.slider-holder {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 662px;
    height: 70px;
    -webkit-border-radius: 4.3px;
    -moz-border-radius: 4.3px;
    border-radius: 4.3px;
    border: 1px solid #545454;
}

div.sidebox > div {
    height: 40px;
}

#timeDisplay {
    margin-right: 65px;
    color: #333355;
    font-size: 16pt;
}
