body{
    background-color: #dadada;
}
#container{
    margin-top: 5px;
    width:1000px;
    Margin-left:auto;
    Margin-right:auto;
}

#container #global-header {
    background-color: #4d1518;
    height: 60px;
    width:100%;
    Margin-left:auto;
    Margin-right:auto;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

#container #global-header #header-logo {
    padding-left: 20px;
    padding-top: 10px;
    width: 40px;
    padding-bottom: 10px;
    padding-right: 20px;
    float: left;
}

#container #global-header #header-menu {
    padding-top: 15px;
    float: left;
    margin-left: 20px;
    width: 70%;
    height: 45px;
}

#container #addition-menu{
    width:100%;
    background-image: -moz-linear-gradient(top, #4d1518 0%, #4d1518 25%, #75201e 25%, #75201e 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4d1518), color-stop(25%,#4d1518), color-stop(25%,#75201e), color-stop(100%,#75201e)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #4d1518 0%, #4d1518 25%, #75201e 25%, #75201e 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #4d1518 0%, #4d1518 25%, #75201e 25%, #75201e 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, #4d1518 0%, #4d1518 25%, #75201e 25%, #75201e 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  #4d1518 0%, #4d1518 25%, #75201e 25%, #75201e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d1518', endColorstr='#4d1518',GradientType=0 ); /* IE6-9 */
    height:40px;
    margin-top: -10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    border-radius: 0px 0px 10px 10px;
}

#container #team-menu{
    width:100%;
    background-color: #4d1518;
    height:50px;
    margin-top: 4px;
    Margin-left:auto;
    Margin-right:auto;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

#container #team-menu > a{
    float: left;
    text-decoration: none;
    width:5%;
    height:50px;
    /*background-color: #a92924;*/
    background-image: -moz-linear-gradient(top, #c9635a 0%, #a92924 8%,  #a92924 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,c9635a), color-stop(8%,#a92924), color-stop(100%,#a92924)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #c9635a 0%, #a92924 8%,  #a92924 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #c9635a 0%, #a92924 8%,  #a92924 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #c9635a 0%, #a92924 8%,  #a92924 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  #c9635a 0%, #a92924 8%,  #a92924 100%); /* W3C */
    Margin-left:2px;
    Margin-right:2px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
}

#container #team-menu > a:hover,
#container #team-menu #active > a,
#container #team-menu #active > a:hover{
    float: left;
    text-decoration: none;
    width:5%;
    height:50px;
    /*background-color: #56bf3f;*/
    background-image: -moz-linear-gradient(top, #a92924 0%, #c9635a 15%,  #c9635a 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a92924), color-stop(15%,#c9635a), color-stop(100%,#c9635a)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #a92924 0%, #c9635a 15%,  #c9635a 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #a92924 0%, #c9635a 15%,  #c9635a 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #a92924 0%, #c9635a 15%,  #c9635a 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  #a92924 0%, #c9635a 15%,  #c9635a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a92924', endColorstr='#c9635a',GradientType=0 ); /* IE6-9 */
    Margin-left:2px;
    Margin-right:2px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
}

#container #team-menu > a > img,
#container #team-menu > a > img:hover,
#container #team-menu #active > a > img,
#container #team-menu #active > a > img:hover{
    float: left;
    display:block;
    width:65%;
    height: 40px;
    padding-left: 10px;
    padding-top: 6px;
    margin-left:auto;
    margin-right:auto;
    text-decoration: none;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
}




#container #week-menu{
    width:100%;
    background-color: #4d1518;
    height:30px;
    margin-top: 4px;
    Margin-left:auto;
    Margin-right:auto;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

#container #week-menu > a{
    float: left;
    text-decoration: none;
    width:2.5%;
    height:30px;
    /*background-color: #a92924;*/
    background-image: -moz-linear-gradient(top, #c9635a 0%, #a92924 8%,  #a92924 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9635a), color-stop(15%,#a92924), color-stop(100%,#a92924)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #c9635a 0%, #a92924 8%,  #a92924 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #c9635a 0%, #a92924 8%,  #a92924 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #c9635a 0%, #a92924 8%,  #a92924 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  #c9635a 0%, #a92924 8%,  #a92924 100%); /* W3C */
    Margin-right:0.33%;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
}

#container #week-menu > a:hover,
#container #week-menu #active > a,
#container #week-menu #active > a:hover{
    float: left;
    text-decoration: none;
    width:2.5%;
    height:30px;
    /*background-color: #56bf3f;*/
    background-image: -moz-linear-gradient(top, #a92924 0%, #c9635a 15%,  #c9635a 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a92924), color-stop(15%,#c9635a), color-stop(100%,#c9635a)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #a92924 0%, #c9635a 15%,  #c9635a 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #a92924 0%, #c9635a 15%,  #c9635a 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #a92924 0%, #c9635a 15%,  #c9635a 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  #a92924 0%, #c9635a 15%,  #c9635a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a92924', endColorstr='#c9635a',GradientType=0 ); /* IE6-9 */
    Margin-right:0.33%;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
}

#container #week-menu #disabled > a,
#container #week-menu #disabled > a:hover{
    float: left;
    text-decoration: none;
    width:2.5%;
    height:30px;
    background-image: -moz-linear-gradient(top, #c9c7c9 0%, #a8a4a9 8%,  #a8a4a9 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c9c7c9), color-stop(15%,#a8a4a9), color-stop(100%,#a8a4a9)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #c9c7c9 0%, #a8a4a9 8%,  #a8a4a9 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #c9c7c9 0%, #a8a4a9 8%,  #a8a4a9 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #c9c7c9 0%, #a8a4a9 8%,  #a8a4a9 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  #c9c7c9 0%, #a8a4a9 8%,  #a8a4a9 100%); /* W3C */
    Margin-right:0.33%;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
}
button{
    background: none;
    border: none;
}

#container #week-menu > a > p,
#container #week-menu > a > p:hover,
#container #week-menu #active > a > p,
#container #week-menu #active > a > p:hover,
#container #week-menu #disabled > a > p,
#container #week-menu #disabled > a > p:hover{
    float: left;
    color: #ffffff;
    text-align: center;
    width: 100%;
    line-height: 30px;
    margin-left:auto;
    margin-right:auto;
    text-decoration: none;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
}


#container #content{
    margin-top: 4px;
    overflow: auto;
    width:100%;
    Margin-left:auto;
    Margin-right:auto;
}
#container #content #sidebar{
    background : none;
    float: left;
    width: 25%;
    color: #ffffff;

}

#container #content #sidebar #content{
    background-color: #2a2a28;
    margin-top: 0px;
    margin-bottom: 4px;
    float: left;
    width: 100%;
    color: #ffffff;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}

#container #content #sidebar #content #header{
    background-image: -moz-linear-gradient(top, #a92924 0%, #8c221e 20%, #8c221e 80%, #75201e 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a92924), color-stop(20%,#8c221e), color-stop(80%,#8c221e), color-stop(100%,#75201e)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #a92924 0%, #8c221e 20%, #8c221e 80%, #75201e 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #a92924 0%, #8c221e 20%, #8c221e 80%, #75201e 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, #a92924 0%, #8c221e 20%, #8c221e 80%, #75201e 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  #a92924 0%, #8c221e 20%, #8c221e 80%, #75201e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a92924', endColorstr='#75201e',GradientType=0 ); /* IE6-9 */
    float: left;
    width: 100%;
    color: #ffffff;
    height: 40px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}


#container #content #sidebar #content #header > h1{
    line-height: 40px;
    color: #ffffff;
    margin-top: 0px;
    margin-left: 10px;
    font-family: Century Gothic;
    float:left;
    font-size: 15px;
    font-weight: bold
}


#container #content #sidebar #content #player > a{
    background-image: -moz-linear-gradient(top, #474744 0%, #393937 0%, #393937 92%, #2a2a28 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#474744), color-stop(0%,#393937), color-stop(92%,#393937), color-stop(100%,#2a2a28)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #474744 0%, #393937 0%, #393937 92%, #2a2a28 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #474744 0%, #393937 0%, #393937 92%, #2a2a28 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #474744 0%, #393937 0%, #393937 92%, #2a2a28 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  #474744 0%, #393937 0%, #393937 92%, #2a2a28 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474744', endColorstr='#2a2a28',GradientType=0 ); /* IE6-9 */
    text-decoration: none;
    float: left;
    width: 100%;
    color: #ffffff;
    height: 30px;
}
#container #content #sidebar #content #player > a:hover{
    /*background-image: -moz-linear-gradient(top, #592f2d 0%, #3f1c19 20%, #3f1c19 80%, #391f1d 100%); /* FF3.6+ */
    /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#592f2d), color-stop(20%,#3f1c19), color-stop(80%,#3f1c19), color-stop(100%,#391f1d)); /* Chrome,Safari4+ */
    /*background-image: -webkit-linear-gradient(top,  #592f2d 0%, #3f1c19 20%, #3f1c19 80%, #391f1d 100%); /* Chrome10+,Safari5.1+ */
    /*background-image: -o-linear-gradient(top, #592f2d 0%, #3f1c19 20%, #3f1c19 80%, #391f1d 100%); /* Opera 11.10+ */
    /*background-image: -ms-linear-gradient(top, #592f2d 0%, #3f1c19 20%, #3f1c19 80%, #391f1d 100%); /* IE10+ */
    /*background-image: linear-gradient(to bottom,  #592f2d 0%, #3f1c19 20%, #3f1c19 80%, #391f1d 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#474744', endColorstr='#2a2a28',GradientType=0 ); /* IE6-9 */
    background-image: -moz-linear-gradient(top, #2a2a28 0%, #474744 8%,  #474744 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a2a28), color-stop(8%,#474744), color-stop(100%,#474744)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #2a2a28 0%, #474744 8%,  #474744 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #2a2a28 0%, #474744 8%,  #474744 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #2a2a28 0%, #474744 8%,  #474744 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  #2a2a28 0%, #474744 8%,  #474744 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2a28', endColorstr='#474744',GradientType=0 ); /* IE6-9 */
    text-decoration: none;
    float: left;
    width: 100%;
    color: #ffffff;
    height: 30px;
}


#container #content #main{
    background-color: #2a2a28;
    float: left;
    margin-left: 0.5%;
    width:74.5%;
    color: #ffffff;
    min-height: 900px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}


#container #content #main #header{
    background-image: -moz-linear-gradient(top, #a92924 0%, #8c221e 20%, #8c221e 80%, #75201e 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a92924), color-stop(20%,#8c221e), color-stop(80%,#8c221e), color-stop(100%,#75201e)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #a92924 0%, #8c221e 20%, #8c221e 80%, #75201e 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #a92924 0%, #8c221e 20%, #8c221e 80%, #75201e 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, #a92924 0%, #8c221e 20%, #8c221e 80%, #75201e 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  #a92924 0%, #8c221e 20%, #8c221e 80%, #75201e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a92924', endColorstr='#75201e',GradientType=0 ); /* IE6-9 */
    float: left;
    width: 100%;
    color: #ffffff;
    height: 40px;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}

#container #content #main #header > h1{
    float: left;
    margin-top: 0px;
    line-height: 40px;
    color: #ffffff;
    font-family: CenturyGothic;
    font-size: 25px;
    font-weight: bold;
}

#container #content #main #header > img{
    float:left;
    height: 30px;
    padding:5px
}

#container #content #main #menu{
    background-color: #4d1518;
    margin-top: 5px;
    float: left;
    width: 100%;
    height: 30px;
}


#container #content #main #menu > a{
    float: left;
    text-decoration: none;
    width:15%;
    height:30px;
    background-color: #a92924;
    Margin-left:2px;
    Margin-right:2px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
}

#container #content #main #menu > a:hover,
#container #content #main #menu #active > a,
#container #content #main #menu #active > a:hover{
    float: left;
    text-decoration: none;
    width:15%;
    height:30px;
    /*background-color: #56bf3f;*/
    background-image: -moz-linear-gradient(top, #a92924 0%, #c9635a 15%,  #c9635a 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a92924), color-stop(12%,#c9635a), color-stop(100%,#c9635a)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #a92924 0%, #c9635a 15%,  #c9635a 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #a92924 0%, #c9635a 15%,  #c9635a 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #a92924 0%, #c9635a 15%,  #c9635a 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  #a92924 0%, #c9635a 15%,  #c9635a 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a92924', endColorstr='#c9635a',GradientType=0 ); /* IE6-9 */
    Margin-left:2px;
    Margin-right:2px;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
}

#container #content #main #menu > a > button,
#container #content #main #menu > a > button:hover,
#container #content #main #menu #active > a > button,
#container #content #main #menu #active > a > button:hover{
    float: left;
    width: 100%;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    font-family: CenturyGothic;
    text-align: center;
    line-height: 30px;
    margin-left:auto;
    margin-right:auto;
    text-decoration: none;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
}

#container #content #main .standings{
    background-color: #dadada;
    margin-top: 5px;
    float: left;
    margin-left: 1%;
    width: 35%;
    min-height: 400px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

#container #content #main .standings > h1{
    height: 20px;
    width: 100%;
    float: left;
    margin-top: 0px;
    line-height: 20px;
    color: #ffffff;
    font-family: CenturyGothic;
    background-color: #a92924;
    text-indent: 10px;
    font-size: 12px;
    font-weight: bold;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}

.player-filter{
    float: right;
    width: 100px;
    color:#ffffff;
    height: 26px;
    margin-top: 7px;
    margin-right: 5px;
    background-color: #8c221e;
    border: none;
}
.player-filter .item{
    float: right;
    color:#ffffff;
    width: 100px;
    height: 24px;
    background-color: #7a2326;
    border: none;
}

#box-container{
    Margin-left:auto;
    Margin-right:auto;
    width: 300px;
    height: 400px;
    background-image: -moz-linear-gradient(top, #b1b0ae 0%, #d7d7d6 44%, #b1b0ae 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b1b0ae), color-stop(44%,#d7d7d6), color-stop(100%,#b1b0ae)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #b1b0ae 0%,#d7d7d6 44%,#b1b0ae 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top,  #b1b0ae 0%,#d7d7d6 44%,#b1b0ae 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #b1b0ae 0%,#d7d7d6 44%,#b1b0ae 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  #b1b0ae 0%,#d7d7d6 44%,#b1b0ae 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b1b0ae', endColorstr='#b1b0ae',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
}
#box-header{
    width: 300px;
    height: 50px;
     background-image: -moz-linear-gradient(top, #a92924 0%, #8c221e 20%, #8c221e 80%, #75201e 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a92924), color-stop(20%,#8c221e), color-stop(80%,#8c221e), color-stop(100%,#75201e)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #a92924 0%, #8c221e 20%, #8c221e 80%, #75201e 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #a92924 0%, #8c221e 20%, #8c221e 80%, #75201e 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, #a92924 0%, #8c221e 20%, #8c221e 80%, #75201e 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  #a92924 0%, #8c221e 20%, #8c221e 80%, #75201e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a92924', endColorstr='#75201e',GradientType=0 ); /* IE6-9 */
    color:#ffffff;
    text-align: center;
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
}
#box-content{
    margin-top: 10px;
    margin-left : 5px;
    width: 290px;
    height: 275px;
    background-color : #ffffff;
}
#box-footer{
    width: 300px;
    height: 75px;
}

#navbar{
    width: 100%;
    Margin-left:auto;
    Margin-right:auto;
}

#navbar #nav > a{
    width: 200px;
    height: 40px;
    margin: 5px;
    float:left;
    text-decoration: none;
    background-image: -moz-linear-gradient(top, #73161f 0%, #5d161a 8%, #5d161a 92%, #4e1619 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#73161f), color-stop(8%,#5d161a), color-stop(92%,#5d161a), color-stop(100%,#4e1619)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #73161f 0%, #5d161a 8%, #5d161a 92%, #4e1619 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #73161f 0%, #5d161a 8%, #5d161a 92%, #4e1619 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #73161f 0%, #5d161a 8%, #5d161a 92%, #4e1619 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  #73161f 0%, #5d161a 8%, #5d161a 92%, #4e1619 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73161f', endColorstr='#4e1619',GradientType=0 ); /* IE6-9 */
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    /*-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
    background-image: -moz-linear-gradient(top, #83262c 0%, #4d1518 44%, #210708 100%); /* FF3.6+ */
    /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#83262c), color-stop(44%,#4d1518 ), color-stop(100%,#210708)); /* Chrome,Safari4+ */
    /*background-image: -webkit-linear-gradient(top,  #83262c 0%,#4d1518  44%,#210708 100%); /* Chrome10+,Safari5.1+ */
    /*background-image: -o-linear-gradient(top,  #83262c 0%,#4d1518  44%,#210708 100%); /* Opera 11.10+ */
    /*background-image: -ms-linear-gradient(top,  #83262c 0%,#4d1518  44%,#210708 100%); /* IE10+ */
    /*background-image: linear-gradient(to bottom,  #83262c 0%,#4d1518  44%,#210708 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83262c', endColorstr='#210708',GradientType=0 ); /* IE6-9 */
}

#navbar #nav > a:hover,
#navbar #nav #active > a,
#navbar #nav #active > a:hover{
    margin: 5px;
    width: 200px;
    height: 40px;
    float:left;
    text-decoration: none;
    -webkit-border-radius: 4px 4px 0px 0px;
    -moz-border-radius: 4px 4px 0px 0px;
    border-radius: 4px 4px 0px 0px;
    background-image: -moz-linear-gradient(top, #a92924 0%, #8c221e 20%, #8c221e 80%, #75201e 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a92924), color-stop(20%,#8c221e), color-stop(80%,#8c221e), color-stop(100%,#75201e)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #a92924 0%, #8c221e 20%, #8c221e 80%, #75201e 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #a92924 0%, #8c221e 20%, #8c221e 80%, #75201e 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, #a92924 0%, #8c221e 20%, #8c221e 80%, #75201e 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  #a92924 0%, #8c221e 20%, #8c221e 80%, #75201e 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a92924', endColorstr='#75201e',GradientType=0 ); /* IE6-9 */
    /* -webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
    /*background-image: -moz-linear-gradient(top, #d53f49 0%, #832429 44%, #320a0c 100%); /* FF3.6+ */
    /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d53f49), color-stop(44%,#832429), color-stop(100%,#320a0c)); /* Chrome,Safari4+ */
    /*background-image: -webkit-linear-gradient(top,  #d53f49 0%,#832429 44%,#320a0c 100%); /* Chrome10+,Safari5.1+ */
    /*background-image: -o-linear-gradient(top,  #d53f49 0%,#832429 44%,#320a0c 100%); /* Opera 11.10+ */
    /*background-image: -ms-linear-gradient(top,  #d53f49 0%,#832429 44%,#320a0c 100%); /* IE10+ */
    /*background-image: linear-gradient(to bottom,  #d53f49 0%,#832429 44%,#320a0c 100%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d53f49', endColorstr='#320a0c',GradientType=0 ); /* IE6-9 */
}

#navbar #nav > a > p{
    width: 200px;
    text-decoration: none;
    color: #f9f9f9;
    line-height: 40px;
    font-family: Century Gothic;
    font-size: 14px;
    text-shadow: none;
    text-align: center;
    text-spacing: space-adjacent;
    /*-webkit-transform: skew(20deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);*/
}

#navbar #nav > a > p:hover,
#navbar #nav #active > a > p,
#navbar #nav #active > a > p:hover{
    width: 200px;
    text-decoration: none;
    color: #ffffff;
    font-family: Century Gothic;
    line-height: 40px;
    font-size: 14px;
    text-shadow: none;
    text-align: center;
    font-weight: bold;
    text-spacing: space-adjacent;
    /*-webkit-transform: skew(20deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);*/
}