@font-face {
    font-family: Digital;
    font-style: normal;
    src: url("../fonts/Digital.otf") format("opentype");
}
@font-face {
    font-family: Time;
    font-style: normal;
    src: url("../fonts/digital-7.ttf") format("truetype");
}

@font-face {
    font-family: Bebas;
    font-style: normal;
    src: url("../fonts/BEBAS.ttf") format("truetype");
}

@font-face {
    font-family: LeagueGothic;
    src: url("../fonts/LeagueGothic-Regular.otf") format("opentype");
}

@font-face {
    font-family: LeagueGothic;
    font-style: italic;
    src: url("../fonts/LeagueGothic-Italic.otf") format("opentype");
}

p{
    padding: 0px;
    margin: 0px;
    line-height: 12px;
}


/* used for match scores, has an digital bilboard efect */
p.score{
    background-image: url("http://sentiotab.blob.core.windows.net/static/score_board_bg.png");
    background-repeat: repeat;

    border: 1px solid #e0e0e0;
    height:36px;
    line-height: 36px;
    margin-top: 7px;

    font-family: Digital;
    font-size: 32px;

    text-align: center;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* team names on global-header */
p.header-team-name{

    text-align: center;
    font-size: 18px;
    line-height: 50px;
    font-weight: bold;
    cursor: default;
    font-family: "Helvetica Neue", Helvetica , sans-serif;
    padding-left: 1%;
    padding-right: 1%;
}

h1.main{
    margin-top: 10px;
    margin-bottom: 5px;
    width: 90%;
    margin-left: 5%;
    height: 30px;
    overflow: hidden;

    background-image: url("http://sentiotab.blob.core.windows.net/static/header.png");
    background-size: cover;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    color: #fff;

    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    float: left;

    line-height: 30px;
    text-align: center;
    box-shadow: 0pt 1px 0pt rgba(255,255,255,0.4) inset,0pt -1px 0pt rgba(0,0,0,0.3) inset,0pt 0pt 10px rgba(255,255,255,0.4) inset,0pt 2px 4px rgba(0,0,0,0.3);

}
p.teamName{
    width: 50%;
    float: left;
    color: #2a2a28;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

h1.sidebox{
    width: 100%;
    height: 30px;
    margin-bottom: 2px;

    background-image: url("http://sentiotab.blob.core.windows.net/static/header.png");
    background-size: cover;

    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    border: 0px solid;
    margin-top: 0px;

    box-shadow: 0px 0px 0px #000000;

    color: #fff;

    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;

    line-height: 30px;
    width: 100%;
    text-align: center;
}


body{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    cursor: default;
    color: #ffffff;
    background-color: #c3c3c3;
}
button,a{
    outline: none;
}


/* holds stadium,refere,date info */
.match-info{
    width: 15%;
    margin-top: 5px;
    height: 40px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    float: left;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}
.match-info > p{
    margin-top: 6px;
    font-size: 14px;
    line-height: 10px;
    text-align: center;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}
/* holds team names and scores */
.score-area{
    width: 70%;
    height: 50px;
    float: left;
}
/* holds match time*/
.match-time{
    width: 15%;
    height: 50px;
    float: left;
}
.match-time p{
    width: 60%;
    height: 40px;
    margin-top: 5px;
    line-height: 40px;
    text-align: center;
    font-size: 24px;
    background-color: rgba(0,0,0,0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: "Helvetica Neue", sans-serif;
}

.score-area #homeTeamName, .score-area #awayTeamName{
    width: 37.5%;
    float: left;
}

.score-area #homeTeamScore, .score-area #awayTeamScore{
    width: 8%;
    float: left;
}

p.score-seperator{
    line-height: 50px;
    width: 3.5%;
    padding-left: 0.5%;
    float: left;
    font-size: 36px;
    text-align: center;
    font-family: Digital;
}
p.no-data{
    color: #000000;
    font-size: 12px;
    width: 94%;
    margin-left: 3%;
    text-align: center;
    line-height: 20px;
}


#global-header{

    background-image: url("http://sentiotab.blob.core.windows.net/static/header.png");
    background-size: cover;

    width: 1000px;
    height: 50px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0 ;
    border-radius: 3px 3px 0 0;
    box-shadow: 2px 2px 2px #888888;
}

#global-header #scoreboard{
    width: 75%;
    margin-left: 1%;
    float: left;
}

#global-header #logo{
    width: 24%;
    height: 50px;
    float: left;

}
.logo{
    margin-left: 30px;
    height: 50px;
    width: 180px;
    background: url("http://sentiotab.blob.core.windows.net/static/logo.png");
    float: left;
}

#content{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#content #sidebar{
    width: 24%;
    float: left;
}

#content #main{
    float: left;
    margin-left: 1%;
    width: 75%;
    min-height: 600px;
    background-color: #f9f9f9;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    -webkit-box-shadow: 0 2px 2px #888888 inset, 2px 2px 2px #888888;
    -moz-box-shadow: 0 2px 2px #888888 inset, 2px 2px 2px #888888;
    box-shadow: 0 2px 2px #888888 inset, 2px 2px 2px #888888;
}


#content #main #container{
    width: 97.6%;
    margin-left: 1.2%;
}
.nav-head{
    width: 100%;
    height: 38px;
    background-image: -moz-linear-gradient(top, #2a2a28 0%, #5d5d59 8%, #575757 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2a2a28), color-stop(8%,#5d5d59), color-stop(100%,#575757)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #2a2a28 0%,#5d5d59 8%, #575757 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #2a2a28 0%,#5d5d59 8%, #575757 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #2a2a28 0%,#5d5d59 8%, #575757 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, #2a2a28 0%,#5d5d59 8%, #575757 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a2a28', endColorstr='#575757',GradientType=0 ); /* IE6-9 */
}
#footer{
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    min-height: 100px;
    background-color: rgba(200,200,200,0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

.fixture{
    width: 100%;
    background-color: #f9f9f9;
    -webkit-box-shadow: 0 2px 2px #888888 inset, 2px 2px 2px #888888;
    -moz-box-shadow: 0 2px 2px #888888 inset, 2px 2px 2px #888888;
    box-shadow: 0 2px 2px #888888 inset, 2px 2px 2px #888888;

    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;

    padding-bottom: 3px;
}

#content #main #menu{
    margin-top: 3px;
    width: 98%;
    margin-left: 1.2%;
    height: 42px;
    border-left: 1px solid #b8b8b8;
}
#navbar{
    height: 35px;
    width: 100%;

    margin-left:auto;
    margin-right:auto;
}
#navbar #nav{
    height: 100%;
    width: 100%;

    margin-left:auto;
    margin-right:auto;
}

#navbar #nav > a, #navbar #nav > button{


    background-image: -moz-linear-gradient(top, #f3f3f3 0%, #ddddd7 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3),  color-stop(100%,#ddddd7)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #f3f3f3 0%,  #ddddd7 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #f3f3f3 0%, #ddddd7 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #f3f3f3 0%,  #ddddd7 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, #f3f3f3 0%,  #ddddd7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#ddddd7',GradientType=0 ); /* IE6-9 */
    border-right: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;
    border-top: 1px solid #b8b8b8;

    color: #000000;
    text-decoration: none;

    width: 243px;
    height: 40px;
    line-height: 40px;

    float: left;

    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-shadow: none;
    text-align: center;
    text-spacing: space-adjacent;

}

#navbar #nav > a:hover, #navbar #nav > button:hover{

    text-decoration: none;

    background-image: -moz-linear-gradient(top, #c7c7c7 0%, #d6d6d6 22%, #ddddd7 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c7c7c7), color-stop(22%,#d6d6d6), color-stop(100%,#ddddd7)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #c7c7c7 0%, #d6d6d6 22%, #ddddd7 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #c7c7c7 0%, #d6d6d6 22%, #ddddd7 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #c7c7c7 0%, #d6d6d6 22%, #ddddd7 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, #c7c7c7 0%, #d6d6d6 22%, #ddddd7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7c7c7', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */


    color: #000000;
}


#navbar #nav #active > a,
#navbar #nav #active > a:hover,
#navbar #nav #active > a:focus,
#navbar #nav #active > button,
#navbar #nav #active > button:hover,
#navbar #nav #active > button:focus {

    width: 243px;
    height: 40px;
    line-height: 40px;
    float: left;

    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-shadow: none;
    text-align: center;
    text-decoration: none;
    text-spacing: space-adjacent;

    background-image: -moz-linear-gradient(top, #7c0308 0%, #890900 15%, #911600 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7c0308), color-stop(15%,#890900), color-stop(100%,#911600)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #7c0308 0%, #890900 15%, #911600 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #7c0308 0%, #890900 15%, #911600 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #7c0308 0%, #890900 15%, #911600 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, #7c0308 0%, #890900 15%, #911600 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c0308', endColorstr='#911600',GradientType=0 ); /* IE6-9 */

    color: #ffffff;

    border-right: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;
    border-top: 1px solid #b8b8b8;


}



/**/
.match {
    width: 96%;
    margin-left: 2%;
    height: 40px;
    text-decoration: none;
    background-image: url(http://sentiotab.blob.core.windows.net/static/matchbg.png);
    text-decoration: none;
    color: #000000;
    float: left;
    font-weight: normal;
}

.match-selected{
    width: 96%;
    margin-left: 2%;
    height: 40px;
    text-decoration: none;
    background-image: url(http://sentiotab.blob.core.windows.net/static/matchselected.png);
    background-size: cover;
    text-decoration: none;
    color: #000000;
    float: left;
}


.match-selected:hover{
    background-image: url(http://sentiotab.blob.core.windows.net/static/matchselected.png);
    background-size: cover;
    color: #000000;
}

.match:hover{
    background-image: url(http://sentiotab.blob.core.windows.net/static/matchover.png);
    background-size: cover;
    text-decoration: none;
    color: #000000;
    /* background-color: rgba(80,80,80,0.9);*/
    float: left;
}
.match #scorearea,.match-selected #scorearea{
    width: 60%;
    height: 40px;
    padding-top: 1px;
    padding-bottom: 1px;
    float: left;
    /*background-color: #e0e0e0;*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.match #scorearea #home, .match #scorearea #away,.match-selected #scorearea #home, .match-selected #scorearea #away{
    width: 100%;
    height: 20px;
}

.match #scorearea #home #name, .match #scorearea #away #name,.match-selected #scorearea #home #name, .match-selected #scorearea #away #name{
    float: left;
    height: 20px;
    margin-left: 5%;
    width: 70%;
    text-align: left;
}
.match #scorearea #home #score, .match #scorearea #away #score,.match-selected #scorearea #home #score, .match-selected #scorearea #away #score{
    float: right;
    width: 20%;
    height: 20px;
    margin-right: 5%;
    text-align: right;
}

.match #scorearea p,.match-selected #scorearea p {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    height: 20px;
    font-size: 12px;
    margin-left: 4px;
    line-height: 18px;
    float: left;
    text-align: left;
}

.match #scorearea img,.match-selected #scorearea img {
    height: 16px;
    width: 15px;
    margin-top: 1px;
    display: block;
    float: left;
}
.match #datearea, .match-selected #datearea{
    margin-top: 4px;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    width: 35%;
    height: 32px;
    float: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.match #datearea p, .match-selected #datearea p{
    height: 16px;
    line-height: 16px;
    font-size: 11px;
    width: 100%;
    float: left;
    text-align: center;
}
.match #live, .match-selected #live{
    margin-right: 8%;
    width: 20%;
    height: 25px;
    margin-top: 7px;
    margin-bottom: 5px;
    margin-left: 10%;
    padding-top: 2px;
    padding-bottom: 2px;
    float: left;
    color:  #ffffff;
    background-color:#ae0e13 ;
    background-size: cover;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    animation:flash 5s;
    -webkit-animation:flash 5s; /* Safari and Chrome */
    -webkit-animation-iteration-count: infinite;
}

@keyframes flash
{
    0%   {background:#ae0e13;}
    50% {background:green;}
    1000%   {background:#ae0e13;}
}

@-webkit-keyframes flash /* Safari and Chrome */
{
    0%   {background:#ae0e13;}
    50% {background:green;}
    100%   {background:#ae0e13;}
}

.match #live p.live-time, .match-selected #live p.live-time{
    font-family: Digital;
    width: 100%;
    height: 25px;
    letter-spacing: 2px;
    font-size: 24px;
    line-height: 25px;
    float: left;
    text-align: center;
}

.line-info{

    font-family: "Helvetica Neue", Helvetica, sans-serif;
    width: 96%;
    margin-left: 2%;
    margin-top: 2px;
    height: 20px;
    line-height: 20px;
    background-image: url("http://sentiotab.blob.core.windows.net/static/header.png");
    background-size: cover;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    float: left;
}

.sidebox{

    width: 100%;
    margin-top: 4px;
    padding-bottom: 2px;

    background-color: #f9f9f9;
    box-shadow: 2px 2px 2px #888888;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.sidebox a{
    width: 96%;
    margin-left: 2%;
    height: 40px;

    text-decoration: none;
    background: url(http://sentiotab.blob.core.windows.net/static/matchbg.png) repeat-x;
    background-size: cover;
    color: #000000;
    float: left;
}
.sidebox a:hover{
    background: url(http://sentiotab.blob.core.windows.net/static/matchover.png);
    background-size: cover;

    text-decoration: none;
    color: #000000;
    /* background-color: rgba(80,80,80,0.9);*/
    float: left;
}
.sidebox a img{
    height: 34px;
    margin-top: 2px;
    display: block;
    margin-left: 1%;
    float: left;
}
.sidebox a #name{
    float: left;
    height: 38px;
    line-height: 38px;
    margin: 0px;
    margin-left: 1%;
    width: 57%;
    text-align: left;
    text-decoration: none;
    font-size: 11px;
}

.sidebox a #min{
    margin: 0px;
    height: 38px;
    float: left;
    font-size: 24px;
    font-family: Time;
    line-height: 38px;
    margin-left: 1%;
    width: 18%;
    text-align: center;
}
.sidebox a #value{
    margin: 0px;
    height: 38px;
    float: left;
    font-size: 11px;
    line-height: 38px;
    width: 18%;
    text-align: center;
}
.squad-area{
    width: 100%;
    float: left;
}
.squad-area #homesquad, .squad-area #awaysquad{
    width: 48.5%;
    margin-left: 1%;
    float: left;
}
.vote-area{
    width: 15%;
    height: 30px;
    margin-left: 1%;
    float: left;
}
.vote-area #percent, .vote-area #vote-button{
    width: 50%;
    height: 30px;
    text-align: center;
    float: left;
    color: black;
}

.starting{
    height: 30px;

    margin-left: 1%;
    width: 83%;
    float: left;


    box-shadow: 0pt 2px 0pt rgba(255,255,255,0.4) inset,0pt -1px 0pt rgba(0,0,0,0.2) inset;
    background-color: #ebebeb;

    text-decoration: none;
    color: #000000;
}

.starting:hover{

    background-color: #fbfbfb;
    text-decoration: none;
    color: #000000;
}

.sub{
    height: 30px;
    margin-left: 1%;
    width: 83%;
    float: left;

    box-shadow: 0pt 1px 0pt rgba(100,100,100,0.5) inset;
    background-color: #d8d8d8;

    text-decoration: none;

    color: #000000;

}

.sub:hover{
    float: left;

    background-color: #9da7d1;
    text-decoration: none;

    color: #000000;

}

.starting #no,.sub #no{
    text-shadow: 1px 1px 1px #2a2a28;
    height: 20px;
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    width: 10%;
    float: left;
    margin-left: 1%;
    line-height: 20px;
    color: #ffffff;
    cursor: default;
}
.pos1{
    background-color: #ffdc00;
    -webkit-box-shadow: 0 1px 0px rgba(255,255,255,0.2) inset, 0 0px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 1px 0px rgba(255,255,255,0.2) inset, 0 0px 1px rgba(0,0,0,0.7);
    box-shadow: 0 1px 0px rgba(255,255,255,0.2) inset, 0 0px 1px rgba(0,0,0,0.7);
}
.pos2{
    background-color: #5d77eb;
    -webkit-box-shadow: 0 1px 0px rgba(255,255,255,0.2) inset, 0 0px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 1px 0px rgba(255,255,255,0.2) inset, 0 0px 1px rgba(0,0,0,0.7);
    box-shadow: 0 1px 0px rgba(255,255,255,0.2) inset, 0 0px 1px rgba(0,0,0,0.7);
}

.pos3{
    background-color: #53b25c;
    -webkit-box-shadow: 0 1px 0px rgba(255,255,255,0.2) inset, 0 0px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 1px 0px rgba(255,255,255,0.2) inset, 0 0px 1px rgba(0,0,0,0.7);
    box-shadow: 0 1px 0px rgba(255,255,255,0.2) inset, 0 0px 1px rgba(0,0,0,0.7);
}
.pos4{
    background-color: #eb493a;
    -webkit-box-shadow: 0 1px 0px rgba(255,255,255,0.2) inset, 0 0px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 1px 0px rgba(255,255,255,0.2) inset, 0 0px 1px rgba(0,0,0,0.7);
    box-shadow: 0 1px 0px rgba(255,255,255,0.2) inset, 0 0px 1px rgba(0,0,0,0.7);
}
.starting #name, .sub #name{
    width: 50%;
    height: 30px;
    line-height: 30px;
    float: left;
    margin-left: 2%;
    font-size: 12px;
    cursor: default;
}
.event a{
    height: 24px;
    margin-top: 3px;
    display: block;
    float: right;
    margin-right: 2px;
    cursor: pointer;
    width: 18px;
}
.sub-out{
    background-image: url(http://sentiotab.blob.core.windows.net/static/sub-out.png);
}
.sub-in{
    background-image: url(http://sentiotab.blob.core.windows.net/static/sub-in.png);
}
.goal{
    background-image: url(http://sentiotab.blob.core.windows.net/static/goal.png);
}
.own-goal{
    background-image: url(http://sentiotab.blob.core.windows.net/static/own-goal.png);
}
.penalty{
    background-image: url(http://sentiotab.blob.core.windows.net/static/penalty.png);
}
.missed-pen{
    background-image: url(http://sentiotab.blob.core.windows.net/static/missed-pen.png);
}
.yellow{
    background-image: url(http://sentiotab.blob.core.windows.net/static/yellow.png);
}
.second-yellow{
    background-image: url(http://sentiotab.blob.core.windows.net/static/second-yellow.png);
}
.red{
    background-image: url(http://sentiotab.blob.core.windows.net/static/red.png);
}

.history-area{
    width: 100%;
    float: left;
}

.history-area #home, .history-area #away{
    width: 20%;
    margin-top: 35px;
    margin-left: 1%;
    float: left;
}
.history-area #comparison{
    margin-left: 20%;
    width: 60%;
    float: left;
}
.history-area #home img , .history-area #away img{
    margin-top: 5px;
    width: 60%;
    margin-left: 20%;
    float: left;
}
.history-area #home > h2 , .history-area #away > h2{
    margin: 0px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    float: left;
    width: 100%;
    font-size: 14px;
}

.info-area{
    width: 100%;
    float: left;
}

.info-area #home, .info-area #away{
    width: 20%;
    margin-top: 5px;
    margin-left: 1%;
    float: left;
}
.info-area #matchinfo{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 57%;
    float: left;
    background-color: #dadada;
    box-shadow: 0pt 1px 0pt rgba(255,255,255,0.4) inset,0pt -1px 0pt rgba(0,0,0,0.3) inset,0pt 0pt 10px rgba(255,255,255,0.4) inset,0pt 2px 4px rgba(0,0,0,0.3);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.info-area #matchinfo img{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 9%;
    margin-left: 2%;
    background-size: cover;
    float: left;
}
.info-area #matchinfo p{
    color: black;
    margin-left: 2%;
    width: 37%;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    float: left;
    font-weight: bold;
}

.info-area #home img , .info-area #away img{
    margin-top: 5px;
    width: 60%;
    margin-left: 20%;
    float: left;
}
.info-area #home > h2 , .info-area #away > h2{
    margin: 0px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    float: left;
    width: 100%;
    font-size: 14px;
}

.holder{
    width:98%;
    margin-left: 1%;
    height: 60px;
}
.holder h3{
    width: 100%;
    text-align: center;
    margin: 0px;
    height: 30px;
    float: left;
    font-size: 14px;
    line-height: 30px;
    color: #2a2a28;
}
.home-ratio{

    font-weight: bold;
    float: left;
    height: 26px;
    padding: 0px;
    margin-bottom: 0px;
    line-height: 26px;
    text-align: center;
    margin-top: 2px;
    color: #ffffff;

    text-shadow: 1px 1px 1px #2a2a28;
    box-shadow: 0pt 1px 0pt rgba(255,255,255,0.4) inset,0pt -1px 0pt rgba(0,0,0,0.3) inset,0pt 2px 4px rgba(0,0,0,0.3);
    background-color: #eb493a;


    -webkit-border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    border-radius: 5px 0px 0px 5px;
}

.home-ratio-full{
    text-shadow: 1px 1px 1px #2a2a28;
    font-weight: bold;
    float: left;
    height: 26px;
    padding: 0px;
    margin-bottom: 0px;
    line-height: 26px;
    text-align: center;
    margin-top: 2px;
    color: #ffffff;


    box-shadow: 0pt 1px 0pt rgba(255,255,255,0.4) inset,0pt -1px 0pt rgba(0,0,0,0.3) inset,0pt 2px 4px rgba(0,0,0,0.3);
    background-color: #eb493a;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.draw-ratio{
    text-shadow: 1px 1px 1px #2a2a28;
    font-weight: bold;
    float: left;
    height: 26px;
    line-height: 26px;
    padding: 0px;
    margin-bottom: 0px;
    text-align: center;
    margin-top: 2px;
    color: #ffffff;

    box-shadow: 0pt 1px 0pt rgba(255,255,255,0.4) inset,0pt -1px 0pt rgba(0,0,0,0.3) inset,0pt 2px 4px rgba(0,0,0,0.3);
    background-color: #53b25c;
}
.away-ratio{


    font-weight: bold;
    float: left;
    height: 26px;
    line-height: 26px;
    padding: 0px;
    margin-bottom: 0px;
    text-align: center;
    margin-top: 2px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #2a2a28;

    box-shadow: 0pt 1px 0pt rgba(255,255,255,0.4) inset,0pt -1px 0pt rgba(0,0,0,0.3) inset,0pt 2px 4px rgba(0,0,0,0.3);
    background-color: #5d77eb;

    -webkit-border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;

}

.away-ratio-full{

    text-shadow: 1px 1px 1px #2a2a28;
    font-weight: bold;
    float: left;
    height: 26px;
    line-height: 26px;
    padding: 0px;
    margin-bottom: 0px;
    text-align: center;
    margin-top: 2px;
    color: #ffffff;

    box-shadow: 0pt 1px 0pt rgba(255,255,255,0.4) inset,0pt -1px 0pt rgba(0,0,0,0.3) inset,0pt 2px 4px rgba(0,0,0,0.3);
    background-color: #5d77eb;

    -webkit-border-radius:5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

.win{
    float: left;
    background-image: url(http://sentiotab.blob.core.windows.net/static/win.png);
    background-size: cover;
    height: 24px;
    width: 24px;
    margin-top: 3px;
    margin-left: 12px;
    cursor: pointer;
}
.draw{
    float: left;
    background-image: url(http://sentiotab.blob.core.windows.net/static/draw.png);
    background-size: cover;
    height: 24px;
    width: 24px;
    margin-top: 3px;
    margin-left: 12px;
    cursor: pointer;
}
.lose{
    float: left;
    background-image: url(http://sentiotab.blob.core.windows.net/static/lose.png);
    background-size: cover;
    height: 24px;
    width: 24px;
    margin-top: 3px;
    margin-left: 12px;
    cursor: pointer;
}
.seperator{
    color: #000000;
    margin-left: 1.4%;
    float: left;
    line-height: 25px;
}
.form{
    height: 30px;
    width: 94%;
    margin-left: 2%;
    box-shadow: 0pt 1px 0pt rgba(255,255,255,0.4) inset,0pt -1px 0pt rgba(0,0,0,0.3) inset,0pt 0pt 10px rgba(255,255,255,0.4) inset,0pt 2px 4px rgba(0,0,0,0.3);
    background-color: #d7d7d7;

}

.past-match-area{
    width: 100%;
    height: 306px;
    overflow-y: scroll;
    margin-bottom: 5px;

}

.past-match, .past-match-not-clickable{
    margin-top: 4px;
    width: 82%;
    margin-left: 10%;
    text-decoration: none;

    box-shadow: 0pt 1px 0pt rgba(255,255,255,0.4) inset,0pt -1px 0pt rgba(0,0,0,0.3) inset,0pt 0pt 10px rgba(255,255,255,0.4) inset,0pt 2px 4px rgba(0,0,0,0.3);
    background-color: #ebebeb;
    height: 70px;
    float: left;
    color: #000000;
    border: 1px solid #b8b8b8;
}

.past-match-not-clickable:hover{
    color: #000000;
    text-decoration: none;
}

.past-match:hover{
    text-decoration: none;
    background-color: #fefefe;
    height: 70px;
    color: #000000;
}
.past-match #upper, .past-match-not-clickable #upper{
    width: 100%;
    height: 30px;
    background-color: rgba(125,125,125,0.2);
}
.upper-info{
    height: 25px;
    margin-top: 2px;
    margin-bottom: 8px;
    line-height: 22px;
    width: 33.3%;
    float: left;
    font-size: 12px;
    text-align: center;
}
.upper-info img{
    height: 25px;
    display: block;
    margin-left: 25px;
    float: left;
}
.upper-info p{
    float:left;
    line-height: 25px;
    text-align: left;
    margin-left: 2px;
    font-size: 12px;
}

.past-match  #homename, .past-match-not-clickable #homename{
    height: 30px;
    line-height: 30px;
    width: 22%;
    margin-right: 1%;
    float: left;
    font-size: 12px;
    text-align: right;
    margin-bottom: 2px;
}
.past-match #awayname, .past-match-not-clickable #awayname{
    height: 30px;
    line-height: 30px;
    width: 22%;
    margin-left: 1%;
    float: left;
    font-size: 12px;
    text-align: left;
    margin-bottom: 2px;
}
.past-match #homelogo, .past-match-not-clickable #homelogo{
    width: 5%;
    margin-left: 14.5%;
    float: left;
    display: block;
}
.past-match #awaylogo, .past-match-not-clickable #awaylogo{
    width: 5%;
    margin-right: 14.5%;
    float: left;
    display: block;
}

.past-match #homescore, .past-match-not-clickable #homescore, .past-match #awayscore, .past-match-not-clickable #awayscore {
    background-image: url("http://sentiotab.blob.core.windows.net/static/score_board_bg.png");
    background-repeat: repeat;

    height:30px;
    line-height: 30px;

    font-family: Digital;
    font-size: 26px;

    text-align: center;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;


    color: #ffffff;

    width: 5%;
    float: left;

    text-align: center;
    margin-bottom: 2px;

}
.past-match #separator, .past-match-not-clickable #separator{
    height: 30px;
    line-height: 30px;
    width: 5%;
    float: left;
    text-align: center;
    font-size: 24px;
}
.data-area{
    margin-bottom: 12px;
    width: 100%;
    background-color: #e0e0e0;
    float: left;
}
.event-item{
    width: 80%;
    margin-left: 10%;
    height: 30px;
    float: left;

    background-image: -moz-linear-gradient(top, #f9f9f9 0%, #ebebeb 5%,#ebebeb 95%, #e0e0e0 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9),color-stop(5%,#ebebeb ),color-stop(95%,#ebebeb ), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #ebebeb 5%,#ebebeb 95%, #e0e0e0 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #f9f9f9 0%, #ebebeb 5%,#ebebeb 95%, #e0e0e0 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #f9f9f9 0%, #ebebeb 5%,#ebebeb 95%, #e0e0e0 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #ebebeb 5%,#ebebeb 95%, #e0e0e0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='##e0e0e0',GradientType=0 ); /* IE6-9 */

    text-decoration: none;
    color: #000000;
}
.event-item:hover{
    width: 80%;
    margin-left: 10%;
    height: 30px;
    float: left;
    background-image: -moz-linear-gradient(top, #fdfdfd 0%, #fbfbfb 5%,#fbfbfb 95%, #eeeeee 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd),color-stop(5%,#fbfbfb ),color-stop(95%,#fbfbfb ), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #fbfbfb 5%,#fbfbfb 95%, #eeeeee 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #fdfdfd 0%, #fbfbfb 5%,#fbfbfb 95%, #eeeeee 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #fdfdfd 0%, #fbfbfb 5%,#fbfbfb 95%, #eeeeee 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, #fdfdfd 0%, #fbfbfb 5%,#fbfbfb 95%, #eeeeee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */

    text-decoration: none;
    color: #000000;
}
.event-item #min{
    font-family: Time;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    height: 24px;
    margin-top: 3px;
    line-height: 24px;
    width: 6%;
    margin-left: 0.3%;
    padding-left: 0.7%;
    float: left;
    font-size: 22px;
    color: #ffffff;
    background-image: url(http://sentiotab.blob.core.windows.net/static/score_board_bg.png);
    background-repeat: repeat;
    text-align: center;
}
.event-item img{
    width: 4%;
    float: left;
    display: block;
}
.event-item #home-name{
    width: 41%;
    font-size: 14px;
    float: left;
    margin-right: 1%;
    text-align: right;
    height: 30px;
    line-height: 30px;
    color: #000000;
}
.event-item #away-name{
    font-size: 14px;
    width: 41%;
    float: left;
    margin-left: 1%;
    text-align: left;
    height: 30px;
    line-height: 30px;
    color: #000000;
}
.event-item #holder{
    width: 4%;
    float: left;
    height: 30px;
}
.narration{
    width: 90%;
    margin-left: 5%;
    float: left;
    margin-top: 2px;
    background-image: -moz-linear-gradient(top, #f9f9f9 0%, #ebebeb 5%,#ebebeb 95%, #e0e0e0 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9),color-stop(5%,#ebebeb ),color-stop(95%,#ebebeb ), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #ebebeb 5%,#ebebeb 95%, #e0e0e0 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #f9f9f9 0%, #ebebeb 5%,#ebebeb 95%, #e0e0e0 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #f9f9f9 0%, #ebebeb 5%,#ebebeb 95%, #e0e0e0 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #ebebeb 5%,#ebebeb 95%, #e0e0e0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='##e0e0e0',GradientType=0 ); /* IE6-9 */

    text-decoration: none;
    color: #000000;
}
.narration:hover{
    width: 90%;
    margin-left: 5%;
    float: left;
    background-image: -moz-linear-gradient(top, #fdfdfd 0%, #fbfbfb 5%,#fbfbfb 95%, #eeeeee 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd),color-stop(5%,#fbfbfb ),color-stop(95%,#fbfbfb ), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #fbfbfb 5%,#fbfbfb 95%, #eeeeee 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #fdfdfd 0%, #fbfbfb 5%,#fbfbfb 95%, #eeeeee 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #fdfdfd 0%, #fbfbfb 5%,#fbfbfb 95%, #eeeeee 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, #fdfdfd 0%, #fbfbfb 5%,#fbfbfb 95%, #eeeeee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */

    text-decoration: none;
    color: #000000;
}
.narration img{
    width: 3%;
    float: left;
}
.narration #holder{
    width: 3%;
    height: 1px;
    float: left;
}
.narration #text{
    width: 85%;
    line-height: 20px;
    margin-left: 1%;
    font-size: 14px;
    float: left;
}
.narration #min{
    width: 5%;
    margin-left: 2%;
    font-family: time;
    font-size: 24px;
    margin-top: 4px;
    float: left;
}
.stat-object{
    width: 90%;
    margin-left: 5%;
    float: left;
    margin-top: 5px;
    background-image: -moz-linear-gradient(top, #f9f9f9 0%, #ebebeb 5%,#ebebeb 95%, #e0e0e0 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9),color-stop(5%,#ebebeb ),color-stop(95%,#ebebeb ), color-stop(100%,#e0e0e0)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #ebebeb 5%,#ebebeb 95%, #e0e0e0 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #f9f9f9 0%, #ebebeb 5%,#ebebeb 95%, #e0e0e0 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #f9f9f9 0%, #ebebeb 5%,#ebebeb 95%, #e0e0e0 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #ebebeb 5%,#ebebeb 95%, #e0e0e0 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='##e0e0e0',GradientType=0 ); /* IE6-9 */

    text-decoration: none;
    color: #000000;
}
.stat-object:hover{
    width: 90%;
    margin-left: 5%;
    float: left;
    background-image: -moz-linear-gradient(top, #fdfdfd 0%, #fbfbfb 5%,#fbfbfb 95%, #eeeeee 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fdfdfd),color-stop(5%,#fbfbfb ),color-stop(95%,#fbfbfb ), color-stop(100%,#eeeeee)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #fdfdfd 0%, #fbfbfb 5%,#fbfbfb 95%, #eeeeee 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #fdfdfd 0%, #fbfbfb 5%,#fbfbfb 95%, #eeeeee 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #fdfdfd 0%, #fbfbfb 5%,#fbfbfb 95%, #eeeeee 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, #fdfdfd 0%, #fbfbfb 5%,#fbfbfb 95%, #eeeeee 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */

    text-decoration: none;
    color: #000000;
}

.stat-object #name{
    width: 15%;
    float: left;
    margin: 0px 0px 0px;
    margin-left: 1%;
    line-height: 30px;
    font-size: 14px;
}
.stat-object #home-value{
    float: left;
    text-align: right;
    width: 15%;
    margin: 0px 0px 0px;
    margin-left: 1%;
    margin-right: 1%;
    line-height: 30px;
    font-size: 14px;
}
.stat-object #away-value{
    float: left;
    width: 15%;
    margin: 0px 0px 0px;
    margin-left: 1%;
    line-height: 30px;
    font-size: 14px;
}
.stat-object #ratio-area{
    width: 34%;
    float: left;
}
.player-data{
    width: 90%;
    margin-left: 5%;
    float: left;
    background-color: #f2f2f2;
    margin-bottom: 10px;
}

.player-data #content #home-area,.player-data #content #away-area{
    width: 44%;
    float: left;
    margin-left: 2%;
}
.player-data #title{
    width: 100%;
    height: 30px;
    margin-bottom: 2px;

    background-image: url("http://sentiotab.blob.core.windows.net/static/header.png");
    background-size: cover;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    color: #fff;

    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;

    line-height: 30px;
    text-align: center;
}
.player-data #content{
    width: 100%;
    padding-left: 5%;
    margin-bottom: 10px;
}
button.collapse{
    width: 100%;
    height: 25px;
    margin-top: 5px;
    background-image: url(http://sentiotab.blob.core.windows.net/static/collapse-bar.png);
    background-size: cover;
    border: 1px solid #b1b1b1;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
button.collapse:hover{
    background-image: url(http://sentiotab.blob.core.windows.net/static/collapse-bar-hover.png);
    background-size: cover;
    border: 1px solid #b1b1b1;
}

#logo p {
    width: 100%;
    height: 40px;
    line-height: 50px;
    text-align: center;
}
.date{
    width: 231px;
    float: left;
    height: 32px;
    margin-left: 2.5%;
    margin-bottom: 0px;
    margin-top: 3px;
    border-left: 1px solid #b8b8b8;
}
.date li{
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    list-style: none;
    height: 30px;
    width: 75px;
    float: left;
    border-right: 1px solid #b8b8b8;
    border-top: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;
}

.date li a p{
    font-weight: bold;
    text-align: center;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    background-image: -moz-linear-gradient(top, #f3f3f3 0%, #ddddd7 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3),  color-stop(100%,#ddddd7)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #f3f3f3 0%,  #ddddd7 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #f3f3f3 0%, #ddddd7 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #f3f3f3 0%,  #ddddd7 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, #f3f3f3 0%,  #ddddd7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#ddddd7',GradientType=0 ); /* IE6-9 */
    color: #000000;
    text-decoration: none;
}


.date li a:hover p{
    text-decoration: none;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-image: -moz-linear-gradient(top, #c7c7c7 0%, #d6d6d6 22%, #ddddd7 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c7c7c7), color-stop(22%,#d6d6d6), color-stop(100%,#ddddd7)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #c7c7c7 0%, #d6d6d6 22%, #ddddd7 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #c7c7c7 0%, #d6d6d6 22%, #ddddd7 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #c7c7c7 0%, #d6d6d6 22%, #ddddd7 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, #c7c7c7 0%, #d6d6d6 22%, #ddddd7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7c7c7', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
    color: #000000;

}
.date li a.selected p{
    text-decoration: none;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-image: -moz-linear-gradient(top, #7c0308 0%, #890900 15%, #911600 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7c0308), color-stop(15%,#890900), color-stop(100%,#911600)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #7c0308 0%, #890900 15%, #911600 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #7c0308 0%, #890900 15%, #911600 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #7c0308 0%, #890900 15%, #911600 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, #7c0308 0%, #890900 15%, #911600 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c0308', endColorstr='#911600',GradientType=0 ); /* IE6-9 */
    color: #ffffff;
}
.date li a:hover{
    text-decoration: none;
}
.teamColor{
    width: 4%;
    margin-left: 1%;
    margin-top: 2px;
    height: 34px;
    float: left;
    box-shadow: 1px 1px 2px #888888;
}
.teamColor #box{
    height: 17px;
    width: 100%;
    float: left;
}

.inside-menu{
    width: 100%;
    height: 40px;
    background-image: -moz-linear-gradient(top, #5d5d59 0%, #ddddd7 8%, #ddddd7 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5d5d59), color-stop(8%,#ddddd7), color-stop(100%,#ddddd7)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #5d5d59 0%, #ddddd7 8%, #ddddd7 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #5d5d59 0%, #ddddd7 8%, #ddddd7 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #5d5d59 0%, #ddddd7 8%, #ddddd7 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, #5d5d59 0%, #ddddd7 8%, #ddddd7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d5d59', endColorstr='#ddddd7',GradientType=0 ); /* IE6-9 */
}
.inside-menu button{
    margin-top: 4px;

    background-image: -moz-linear-gradient(top, #f3f3f3 0%, #ddddd7 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3),  color-stop(100%,#ddddd7)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #f3f3f3 0%,  #ddddd7 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #f3f3f3 0%, #ddddd7 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #f3f3f3 0%,  #ddddd7 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, #f3f3f3 0%,  #ddddd7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#ddddd7',GradientType=0 ); /* IE6-9 */

    border: 1px solid #b8b8b8;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    color: #000000;
    text-decoration: none;

    width: 24%;
    margin-left: 1%;
    height: 30px;
    line-height: 30px;

    float: left;

    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    text-align: center;
    text-spacing: space-adjacent;
}
.inside-menu button:hover{
    background-image: -moz-linear-gradient(top, #c7c7c7 0%, #d6d6d6 22%, #ddddd7 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c7c7c7), color-stop(22%,#d6d6d6), color-stop(100%,#ddddd7)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #c7c7c7 0%, #d6d6d6 22%, #ddddd7 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #c7c7c7 0%, #d6d6d6 22%, #ddddd7 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #c7c7c7 0%, #d6d6d6 22%, #ddddd7 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, #c7c7c7 0%, #d6d6d6 22%, #ddddd7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7c7c7', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
}
.inside-menu button.active{
    background-image: -moz-linear-gradient(top, #7c0308 0%, #890900 15%, #911600 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7c0308), color-stop(15%,#890900), color-stop(100%,#911600)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #7c0308 0%, #890900 15%, #911600 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #7c0308 0%, #890900 15%, #911600 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #7c0308 0%, #890900 15%, #911600 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, #7c0308 0%, #890900 15%, #911600 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c0308', endColorstr='#911600',GradientType=0 ); /* IE6-9 */
    color: #ffffff;
}

.ui-tooltip{
    color: #000000;
    background: #e8e8e8;

    padding-right: 4px;
    padding-left: 4px;
    box-shadow: 0 0 3px black;
    max-width: 300px;
    display: inline-block;
    position: absolute;
    z-index: 9999;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.ttip-formation p{
    font-size: 10px;
    line-height: 16px;
    padding: 0;
    margin: 0;
    color: black;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}
.ttip-form p{
    font-size: 12px;
    line-height: 22px;
    padding: 0;
    margin: 0;
    color: black;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}
.ttip-events p{
    font-size: 12px;
    line-height: 22px;
    padding: 0;
    margin: 0;
    color: black;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

/* Some changes to radar */


#canvasOverlay {
    position: absolute;
    z-index: 1;
    margin: 120px 0 0 130px;
    width: 300px;
    height: 50px;
    text-align: center;
    padding: 50px;
    display: none;
}

#canvas-message-overlay {
    position: absolute;
    z-index: 1;
    margin: 80px 0 0 130px;
    width: 300px;
    height: 50px;
    text-align: center;
    padding: 50px;
    display: none;
}
.manager-name{
    width: 45%;
    margin-left: 9%;
    margin-right: -12%;
    text-align: left;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #000000;
    float: left;
    font-weight: bold;
}
.rate-expander{
    background: none;
    color: #940b14;
    border: none;
    width: 100%;
    text-align: center;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    text-decoration: underline;
}
.vote-button-selectable{
    background: url(http://sentiotab.blob.core.windows.net/static/vote.png);
    border: none;
    height: 30px;
    width: 30px;
    background-size: cover;
}

.vote-button-selected, .vote-button-selectable:hover{
    background: url(http://sentiotab.blob.core.windows.net/static/vote-selected.png);
    border: none;
    height: 30px;
    width: 30px;
    background-size: cover;
}

.tooltip-white{
    background: url(http://sentiotab.blob.core.windows.net/static/tool-tip-white.png);
    height: 16px;
    width: 16px;
    margin-top: 7px;
    margin-left: 5px;
    float: left;
    background-size: cover;
    cursor: pointer;
    position: absolute;
}
.tooltip-white:hover{
    background: url(http://sentiotab.blob.core.windows.net/static/tool-tip-white-hover.png);
    background-size: cover;
}

.tooltip-red{
    background: url(http://sentiotab.blob.core.windows.net/static/tool-tip-red.png);
    height: 16px;
    width: 16px;
    margin-top: 7px;
    margin-left: 5px;
    float: left;
    background-size: cover;
    cursor: pointer;
    position: absolute;
}
.tooltip-red:hover{
    background: url(http://sentiotab.blob.core.windows.net/static/tool-tip-red-hover.png);
    background-size: cover;
}
#canvas-play-button {
    position: absolute;
    z-index: 1;
    background-color: black;
    color:white;
    padding: 20px;
    margin: 20px 0 0 121px;
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    /*display: none;*/
}

#canvas-play-button:hover{
    background-color: rgba(0,0,0,0.7);
    /*display: none;*/
}

#canvas-message {
    background-color: black;
    color:white;
    opacity: 0.5;
    padding: 5px;
    font-size: 11px;
}

#canvas-play-button i {
    opacity: 1;
    color: white;
}

.playerDisplay
{
    width: 45px;
    height: 75px;
    background-color: transparent;
    position: inherit;
    min-width: 45px;

}
.firstPart
{
    width: auto;
    height: 35px;
    background-color: transparent;
}
.secondPart
{
    width: auto;
    height: auto;
    background-color: transparent;

}
.thirdPart
{
    width: auto;
    height: auto;
    background-color: transparent;
}

.canvas-button{
    height: 30px;
    width: 80px;
    background-image: -moz-linear-gradient(top, #f3f3f3 0%, #ddddd7 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3),  color-stop(100%,#ddddd7)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #f3f3f3 0%,  #ddddd7 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #f3f3f3 0%, #ddddd7 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #f3f3f3 0%,  #ddddd7 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, #f3f3f3 0%,  #ddddd7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#ddddd7',GradientType=0 ); /* IE6-9 */
    color: #000000;
    margin-right: 2px;
    border: 2px solid #888888;
    border-bottom: none;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    outline: none;
}
.canvas-button-active{
    height: 30px;
    width: 80px;
    background: #316308;
    color: #ffffff;
    margin-right: 2px;
    border: 2px solid #888888;
    border-bottom: none;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    outline: none;
}
.video-button{
    height: 30px;
    width: 80px;
    background-image: -moz-linear-gradient(top, #f3f3f3 0%, #ddddd7 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3),  color-stop(100%,#ddddd7)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #f3f3f3 0%,  #ddddd7 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #f3f3f3 0%, #ddddd7 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #f3f3f3 0%,  #ddddd7 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, #f3f3f3 0%,  #ddddd7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#ddddd7',GradientType=0 ); /* IE6-9 */
    color: #000000;
    margin-right: 2px;
    border: 2px solid #888888;
    border-bottom: none;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    outline: none;
    float: left;
}
.video-button:hover{
    height: 30px;
    width: 80px;
    text-decoration: none;

    background-image: -moz-linear-gradient(top, #c7c7c7 0%, #d6d6d6 22%, #ddddd7 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c7c7c7), color-stop(22%,#d6d6d6), color-stop(100%,#ddddd7)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #c7c7c7 0%, #d6d6d6 22%, #ddddd7 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #c7c7c7 0%, #d6d6d6 22%, #ddddd7 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #c7c7c7 0%, #d6d6d6 22%, #ddddd7 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, #c7c7c7 0%, #d6d6d6 22%, #ddddd7 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7c7c7', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */

    color: #000000;
    margin-right: 2px;
    border: 2px solid #888888;
    border-bottom: none;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    outline: none;
    float: left;
}
.video-button-selected{
    height: 30px;
    width: 80px;
    background-image: -moz-linear-gradient(top, #7c0308 0%, #890900 15%, #911600 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7c0308), color-stop(15%,#890900), color-stop(100%,#911600)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #7c0308 0%, #890900 15%, #911600 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #7c0308 0%, #890900 15%, #911600 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #7c0308 0%, #890900 15%, #911600 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, #7c0308 0%, #890900 15%, #911600 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c0308', endColorstr='#911600',GradientType=0 ); /* IE6-9 */

    color: #ffffff;
    margin-right: 2px;
    border: 2px solid #888888;
    border-bottom: none;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    outline: none;
    float: left;
}


.team-name-area{
    width: 100%;
    height: 50px;
    float: left;
}
.team-name-area img{
    margin-right: 2.5%;
    margin-left: 2.5%;
    width: 10%;
    float: left;
}
.team-name-area p{
    margin-right: 2.5%;
    margin-left: 2.5%;
    width: 30%;
    text-align: center;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    float: left;
    line-height: 70px;
}
.open-button{
    margin-top: 5px;
    margin-left: 49.5%;
    width: 33px;
    height: 33px;
    border: none;
    float: left;
    background: url(http://sentiotab.blob.core.windows.net/static/button_open.png);
    background-size: cover;
}
.open-button:hover{
    background: url(http://sentiotab.blob.core.windows.net/static/button_open_hover.png);
    background-size: cover;
}
.close-button{
    margin-top: 5px;
    margin-left: 49.5%;
    float: left;
    width: 33px;
    height: 33px;
    border: none;
    background: url(http://sentiotab.blob.core.windows.net/static/button-close.png);
    background-size: cover;
}
.close-button:hover{
    background: url(http://sentiotab.blob.core.windows.net/static/button_close_hover.png);
    background-size: cover;
}
