@font-face {
    font-family: 'digi';
    src: url('http://cssdeck.com/uploads/resources/fonts/digii/DS-DIGII.TTF');
}

@font-face {
    font-family: LeagueGothic;
    src: url("../fonts/LeagueGothic-Regular.otf") format("opentype");
}

@font-face {
    font-family: LeagueGothic;
    font-style: italic;
    src: url("../fonts/LeagueGothic-Italic.otf") format("opentype");
}

body{
    /*background-image: url(../images/bodybg.png);*/
    background-color: #ffffff;
    color: #ffffff;
    font-family: Georgia, serif;
}

#global-header{
    background-color: #940b14;
    -webkit-box-shadow: 0 2px 0px rgba(255,255,255,0.2) inset, 0 0px 2px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 2px 0px rgba(255,255,255,0.2) inset, 0 0px 2px rgba(0,0,0,0.7);
    box-shadow: 0 2px 0px rgba(255,255,255,0.2) inset, 0 0px 2px rgba(0,0,0,0.7);
    border: 1px solid #2a2a28;
    width: 1000px;
    margin-top: 4px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#global-header #cnt{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#global-header #cnt #scoreboard{
    width: 75%;
    margin-left: 1%;
    float: left;
}

#global-header #cnt #logo{
    width: 24%;
    height: 50px;
    float: left;
}

#content{
    margin-top: 3px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#footer{
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 100%;
    min-height: 100px;
    background-color: #dadada;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;

}

#content #sidebar{
    width: 24%;
    float: left;
}

.fixture{
    width: 100%;
    background-color: #dadada;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#content #main{
    float: left;
    margin-left: 1%;
    width: 75%;
    min-height: 600px;
    background-color: #dadada;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#content #main #menu{
    background-color: #940b14;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    -webkit-box-shadow: 0 2px 0px rgba(255,255,255,0.2) inset;
    -moz-box-shadow: 0 2px 0px rgba(255,255,255,0.2) inset;
    box-shadow: 0 2px 0px rgba(255,255,255,0.2) inset;
    width: 100%;
    height: 45px;
}
.container{
    width: 96%;
    margin-left: 2%;
    margin-top: 5px;
    background-color: rgba(100,100,100,0.7);
    min-height: 500px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}


* {
    margin: 0;
    padding: 0;
}


h1,h2,h4,h5,h6 {
    text-align: center;
    color: #ccc;
    text-shadow: #000 1px 1px 2px;
    margin-bottom: 5px;
}
h1 {
    font-size: 18px;
}
h2 {
    font-size: 14px;
}
.sociales {
    text-align: center;
    margin-bottom: 20px;
}
.timeline-correcter{
    background-color: #940b14;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    -webkit-box-shadow: 0 2px 0px rgba(255,255,255,0.2) inset, 0 0px 2px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 2px 0px rgba(255,255,255,0.2) inset, 0 0px 2px rgba(0,0,0,0.7);
    box-shadow: 0 2px 0px rgba(255,255,255,0.2) inset, 0 0px 2px rgba(0,0,0,0.7);
    width: 100%;
    height: 5px;
}
#timeline {
    width: 100%;
    overflow: hidden;
    position: relative;
    background:none;
}
#dates {
    background-color: #940b14;
    margin-bottom: 0px;
    width: 100%;
    height: 40px;
    overflow: hidden;

}
#dates li {
    margin-top: 7px;
    list-style: none;
    float: left;
    width: 80px;
    height: 25px;
    font-size: 14px;
    text-align: center;

}
#dates a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    height: 30px;
    line-height:25px;
    padding-top: 6px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    color: #ffffff;
    text-decoration: none;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

}

#dates a:hover,
#dates a.selected {
    color: #ffffff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    background-image: -moz-linear-gradient(top, #cb2224 0%, #c51015 50%, #b90f13 50%, #ae0e13 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb2224), color-stop(50%,#c51015), color-stop(50%,#b90f13), color-stop(100%,#ae0e13)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #cb2224 0%, #c51015 50%, #b90f13 50%, #ae0e13 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #cb2224 0%, #c51015 50%, #b90f13 50%, #ae0e13 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #cb2224 0%, #c51015 50%, #b90f13 50%, #ae0e13 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  #cb2224 0%, #c51015 50%, #b90f13 50%, #ae0e13 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb2224', endColorstr='#ae0e13',GradientType=0 ); /* IE6-9 */
    /*background-image: -moz-linear-gradient(top, #0e5b16 0%, #13791d 8%); /* FF3.6+ */
    /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0e5b16), color-stop(8%,#13791d)); /* Chrome,Safari4+ */
    /*background-image: -webkit-linear-gradient(top,  #0e5b16 0%, #13791d 8%); /* Chrome10+,Safari5.1+ */
    /*background-image: -o-linear-gradient(top, #0e5b16 0%, #13791d 8%); /* Opera 11.10+ */
    /*background-image: -ms-linear-gradient(top,  #0e5b16 0%, #13791d 8%); /* IE10+ */
    /*background-image: linear-gradient(to bottom,  #0e5b16 0%, #13791d 8%); /* W3C */
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e5b16', endColorstr='#13791d',GradientType=0 ); /* IE6-9 */
}


#issues {
    width: 100%;
    overflow: hidden;
}
#issues ul{
    margin: 0px;
}
#issues li {
    width: 238px;
    list-style: none;
    float: left;
}

#grad_left,
#grad_right {
    width: 25px;
    height: 100%;
    position: absolute;
    top: 0;
}
#grad_left {
    left: 0;
    background: url('../images/grad_left.png') repeat-y;
}
#grad_right {
    right: 0;
    background: url('../images/grad_right.png') repeat-y;
}

#next,
#prev {
    position: absolute;
    font-size: 70px;
    top: 250px;
    width: 10px;
    height: 50px;
    background-position: 0 0;
    background-repeat: no-repeat;
    text-indent: -9999px;
    overflow: hidden;
}
#next:hover,
#prev:hover {
}
#next {
    right: 4px;
    background-image: url('../images/next_n.png');
}
#prev {
    left: 4px;
    background-image: url('../images/back_n.png');
}
#next.disabled,
#prev.disabled {
    opacity: 0.2;
}

#navbar{
    height: 35px;
    width: 100%;
    Margin-left:auto;
    Margin-right:auto;
}
#navbar #nav{
    height: 100%;
    width: 100%;
    Margin-left:auto;
    Margin-right:auto;
}

#navbar #nav > a{
    margin-left: 2%;
    margin-top: 4px;
    width: 29.5%;
    height: 35px;
    line-height: 35px;
    float: left;
    color: #ffffff;
    font-family: AvalonB;
    font-size: 14px;
    text-shadow: none;
    text-align: center;
    text-spacing: space-adjacent;
    /*
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-image: -moz-linear-gradient(top, #ae676b 0%, #ae3e42 5%, #ae0e13 8%  ); /* FF3.6+ */
    /*background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ae676b), color-stop(5%,#ae3e42 ), color-stop(8%,#ae0e13)  ); /* Chrome,Safari4+ */
    /*background-image: -webkit-linear-gradient(top,  #ae676b 0%, #ae3e42 5%, #ae0e13 8% ); /* Chrome10+,Safari5.1+ */
    /*background-image: -o-linear-gradient(top, #ae676b 0%, #ae3e42 5%, #ae0e13 8% ); /* Opera 11.10+ */
    /*background-image: -ms-linear-gradient(top, #ae676b 0%, #ae3e42 5%, #ae0e13 8% ); /* IE10+ */
    /*background-image: linear-gradient(to bottom,  #ae676b 0%, #ae3e42 5%, #ae0e13 8% ); /* W3C */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae676b', endColorstr='#ae0e13 ',GradientType=0 ); /* IE6-9 */
}

#navbar #nav > a:hover{
    text-decoration: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-image: -moz-linear-gradient(top, #cb2224 0%, #c51015 50%, #b90f13 50%, #ae0e13 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb2224), color-stop(50%,#c51015), color-stop(50%,#b90f13), color-stop(100%,#ae0e13)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #cb2224 0%, #c51015 50%, #b90f13 50%, #ae0e13 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #cb2224 0%, #c51015 50%, #b90f13 50%, #ae0e13 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #cb2224 0%, #c51015 50%, #b90f13 50%, #ae0e13 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  #cb2224 0%, #c51015 50%, #b90f13 50%, #ae0e13 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb2224', endColorstr='#ae0e13',GradientType=0 ); /* IE6-9 */
}


#navbar #nav #active > a,
#navbar #nav #active > a:hover,
#navbar #nav #active > a:focus {
    margin-left: 2%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    margin-top: 4px;
    width: 33%;
    height: 35px;
    line-height: 35px;
    float: left;
    color: #ffffff;
    font-family: AvalonB;
    font-size: 14px;
    text-shadow: none;
    text-align: center;
    text-decoration: none;
    text-spacing: space-adjacent;
    background-image: -moz-linear-gradient(top, #cb2224 0%, #c51015 50%, #b90f13 50%, #ae0e13 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb2224), color-stop(50%,#c51015), color-stop(50%,#b90f13), color-stop(100%,#ae0e13)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #cb2224 0%, #c51015 50%, #b90f13 50%, #ae0e13 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #cb2224 0%, #c51015 50%, #b90f13 50%, #ae0e13 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #cb2224 0%, #c51015 50%, #b90f13 50%, #ae0e13 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  #cb2224 0%, #c51015 50%, #b90f13 50%, #ae0e13 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb2224', endColorstr='#ae0e13',GradientType=0 ); /* IE6-9 */
}



/**/
.match {
    width: 98%;
    margin-top: 2px;
    margin-left: 1%;
    height: 40px;
    text-decoration: none;
    background-image: -moz-linear-gradient(top, #ddd7dc 0%, #bbb8bc 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddd7dc), color-stop(100%,#bbb8bc)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #ddd7dc 0%, #bbb8bc 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #ddd7dc 0%, #bbb8bc 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #ddd7dc 0%,  #bbb8bc 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  #ddd7dc 0%,  #bbb8bc 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddd7dc', endColorstr='#bbb8bc',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow: 0 1px 0px rgba(255,255,255,0.2) inset, 0 0px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 1px 0px rgba(255,255,255,0.2) inset, 0 0px 1px rgba(0,0,0,0.7);
    box-shadow: 0 1px 0px rgba(255,255,255,0.2) inset, 0 0px 1px rgba(0,0,0,0.7);
    border: 1px solid #a3a3a3;
    text-decoration: none;
    color: #000000;
    float: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.match-selected{
    width: 98%;
    margin-top: 2px;
    margin-left: 1%;
    height: 40px;
    text-decoration: none;
    background-image: -moz-linear-gradient(top, #c1ddbc 0%, #a6dda6 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dda6a6), color-stop(100%,#bc5257)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #c1ddbc 0%, #a6dda6 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #c1ddbc 0%, #a6dda6 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #c1ddbc 0%, #a6dda6 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, #c1ddbc 0%, #a6dda6 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dda6a6', endColorstr='#bc5257',GradientType=0 ); /* IE6-9 */

    -webkit-box-shadow: 0 1px 0px rgba(255,255,255,0.2) inset, 0 0px 1px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 1px 0px rgba(255,255,255,0.2) inset, 0 0px 1px rgba(0,0,0,0.7);
    box-shadow: 0 1px 0px rgba(255,255,255,0.2) inset, 0 0px 1px rgba(0,0,0,0.7);
    border: 1px solid #a3a3a3;
    text-decoration: none;
    color: #000000;
    float: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.match:hover,.match-selected:hover {
    background-image: -moz-linear-gradient(top, #f4edf3 0%, #d8d5d9 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4edf3), color-stop(100%,#d8d5d9)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #f4edf3 0%,  #d8d5d9 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #f4edf3 0%,  #d8d5d9 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top,  #f4edf3 0%,  #d8d5d9 100%); /* IE10+ */
    background-image: linear-gradient(to bottom,  #f4edf3 0%,  #d8d5d9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4edf3', endColorstr='#d8d5d9',GradientType=0 ); /* IE6-9 */
    text-decoration: none;
    color: #000000;
    /* background-color: rgba(80,80,80,0.9);*/
    float: left;
}
.match #scorearea,.match-selected #scorearea{
    width: 60%;
    height: 40px;
    padding-top: 1px;
    padding-bottom: 1px;
    float: left;
    /*background-color: #dadada;*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.match #scorearea #home, .match #scorearea #away,.match-selected #scorearea #home, .match-selected #scorearea #away{
    width: 100%;
    height: 20px;
}

.match #scorearea #home #name, .match #scorearea #away #name,.match-selected #scorearea #home #name, .match-selected #scorearea #away #name{
    float: left;
    height: 20px;
    padding-left: 5%;
    width: 80%;
    text-align: left;
}
.match #scorearea #home #score, .match #scorearea #away #score,.match-selected #scorearea #home #score, .match-selected #scorearea #away #score{
    float: right;
    width: 10%;
    height: 20px;
    padding-right: 5%;
    text-align: right;
}

.match #scorearea p,.match-selected #scorearea p {
    height: 20px;
    font-size: 14px;
    margin-left: 4px;
    line-height: 20px;
    float: left;
    text-align: left;
}
.match #scorearea img,.match-selected #scorearea img {
    height: 18px;
    margin-top: 1px;
    display: block;
    float: left;
}
.match #datearea, .match-selected #datearea{
    font-family: 'Source Sans Pro', sans-serif;
    width: 35%;
    height: 40px;
    float: left;
    /*background-color: #dadada;*/
    background-size: cover;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.match #datearea p, .match-selected #datearea p{
    height: 0px;
    margin-top: 5px;
    font-size: 12px;
    width: 100%;
    float: left;
    text-align: center;
}
.match #live, .match-selected #live{
    margin-right: 8%;
    width: 20%;
    height: 25px;
    margin-top: 7px;
    margin-bottom: 5px;
    margin-left: 14%;
    padding-top: 2px;
    padding-bottom: 2px;
    float: left;
    color:  #ffffff;
    background-color:#ae0e13 ;
    background-size: cover;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.match #live p.live-time, .match-selected #live p.live-time{
    font-family: 'digi';
    width: 100%;
    height: 25px;
    text-decoration: blink;
    font-size: 24px;
    line-height: 25px;
    float: left;
    text-align: center;
}

.line-info{
    font-family: Calibri;
    width: 234px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 2px;
    margin-top: 2px;
    margin-bottom: 0px;
    background-image: -moz-linear-gradient(top, #ae676b 0%, #ae3e42 5%, #ae0e13 8%  ); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ae676b), color-stop(5%,#ae3e42 ), color-stop(8%,#ae0e13)  ); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #ae676b 0%, #ae3e42 5%, #ae0e13 8% ); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #ae676b 0%, #ae3e42 5%, #ae0e13 8% ); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, #ae676b 0%, #ae3e42 5%, #ae0e13 8% ); /* IE10+ */
    background-image: linear-gradient(to bottom,  #ae676b 0%, #ae3e42 5%, #ae0e13 8% ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae676b', endColorstr='#ae0e13 ',GradientType=0 ); /* IE6-9 */
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    float: left;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.weeks{
    width: 100%;
    background-color: #940b14;
    height: 29px;
    -webkit-border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
}
.weeks > select{
    width: 90%;
    height: 25px;
    margin-top: 3px;
    margin-left: 5%;
    font-size: 12px;
    margin-bottom: 0px;
    color: #000000;
}
.sidebox{
    width: 100%;
    margin-top: 4px;
    background-color: #dadada;
    min-height: 180px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.sidebox #head{
    width: 100%;
    height: 30px;
}
.sidebox #head > p{
    background-image: -moz-linear-gradient(top, #ae676b 0%, #ae3e42 5%, #ae0e13 8%  ); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ae676b), color-stop(5%,#ae3e42 ), color-stop(8%,#ae0e13)  ); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top,  #ae676b 0%, #ae3e42 5%, #ae0e13 8% ); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #ae676b 0%, #ae3e42 5%, #ae0e13 8% ); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, #ae676b 0%, #ae3e42 5%, #ae0e13 8% ); /* IE10+ */
    background-image: linear-gradient(to bottom,  #ae676b 0%, #ae3e42 5%, #ae0e13 8% ); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae676b', endColorstr='#ae0e13 ',GradientType=0 ); /* IE6-9 */

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    margin-top: 2px;
    color: #fff;
    text-decoration: none;
    font-family: Calibri;
    font-size: 14px;
    height: 24px;
    line-height: 24px;

    width: 100%;
    text-align: center;
}

.match-info{
    width: 25%;
    height: 50px;
    float: left;
}
.score-area{
    width: 50%;
    height: 50px;
    float: left;
}
.match-time{
    width: 25%;
    height: 50px;
    float: left;
}
.score-area p{
    text-align: center;
    line-height: 50px;
    width: 100%;
    float: left;
}
.score-area #hometeam, .score-area #awayteam{
    width: 38%;
    float: left;
}

.score-area #hometeam p , .score-area #awayteam p {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 16px;
}
.score-area #homescore, .score-area #awayscore{

    width: 10%;
    float: left;
}
.score-area #homescore p , .score-area #awayscore p{
    background-color: #2a2a28;
    height:40px;
    line-height: 40px;
    margin-top: 5px;
    font-family: 'digi';
    font-size: 32px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.score-seperator{
    line-height: 50px;
    width: 4%;
    float: left;
    text-align: center;
}


