{% extends "matchbase.html" %}

{% block title %}Maç Merkezi | istatistik.ligtv.com.tr{% endblock %}

{% block head-addition %}

{% endblock %}


{% block menu-header %}
        <div id="navbar">
                <div id="nav">

                    <div id="first">
                        <a href="../before">MAÇ ÖNCESİ</a>
                    </div>


                    <a href="../center">MAÇ MERKEZİ</a>

                    <div id="active">
                        <a href="../summary">MAÇ ÖZETİ</a>
                    </div>

                    <a href="../player">OYUNCU İSTATİSTİKLERİ</a>

                    <div id="last">
                        <a href="../table">MAÇ TAHTASI</a>
                    </div>

                </div>
        </div>

{% endblock %}

{% block week-menu %}


{%  endblock %}

{% block content %}


{% endblock %}

