{% load url from future %}
{% load static %}
{% load templateextras %}
{% get_static_prefix as STATIC_URL %}
<!DOCTYPE html>
<html lang="en">

<head>


    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css" charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/application.css" charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/matchstyle.css" charset="utf-8" />

    <script language="javascript">var STATIC_URL = "{{ STATIC_URL }}";</script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.masonry.min.js"></script>
    {% block head-addition %}{% endblock %}

</head>
<body>
    <div id="card-container">
        <div id=card-menu style="height: 33px;width: 336px">
            <div id="cardbar" style="float: left; height: 33px; width: 336px">
                <div id="card">
                    <div id="first">
                        <a href="../before" style="width: 110px; height: 30px; line-height: 30px">TAKIM KARTI</a>
                    </div>
                    <div id="active">
                        <a href="../center" style="width: 110px; height: 30px; line-height: 30px">OYUNCU KARTI</a>
                    </div>
                    <div id="last">
                        <a href="../player" style="width: 110px; height: 30px; line-height: 30px">ISI HARİTASI</a>
                    </div>
                </div>
            </div>
        </div>
        <div id="card-content" style="width: 336px; height: 120px;float: left">
            <div id="card" style="background-color:#3b4c25;float: left; width: 125px;height: 164px;margin-top: 28px; padding-top: 8px">
                <div id="player-image" style=" width: 120px">
                    <img src="{{ STATIC_URL }}{{ image_link }}" style="width: 90px; height: 120px;margin-left: 16px;">
                </div>
                <div id="player-name" style="background-color:rgba(255,255,255,0.4);margin-left: 2px; width: 120px">
                    <p style="text-align: center;font-size:12px;color: #ffffff; height: 6px">{{ player_name }}</p>
                    <p style="text-align: center;font-size:12px;color: #ffffff;">{{ player_info }}</p>
                </div>
            </div>
            <div id="data"style="float: left; width: 200px; height: 210px;margin: 4px">
                <div id="data-header" style="background-color:#c80b19;   height: 20px; width: 100%">
                    <p style="float:right;font-size: 10px;    height: 0px;;text-align:center;color: #ffffff;width:30px;margin-right: 4px"> Sezon</p>
                    <p style="float:right;font-size: 10px;    height: 0px;;text-align:center;color: #ffffff;width:30px;margin-right: 4px"> Maç</p>
                </div>
                <div id="data-atack" style="background-color:rgba(255,255,255,0.4); height: 40px; width: 100%;margin-top: 4px">
                    <div id="goal-data" style="width: 100%;  height: 12px;  ">
                        <p style="float:right;font-size: 10px;    height: 0px;;text-align:center;color: #ffffff;width:30px;margin-right: 4px"> 7</p>
                        <p style="float:right;font-size: 10px;    height: 0px;;text-align:center;color: #ffffff;width:30px;margin-right: 4px"> 0</p>
                        <p style="float:left;font-size: 10px;    height: 0px;;text-align:left;color: #ffffff;width:120px;margin-right: 4px"> Gol</p>
                    </div>
                    <div id="asist-data" style="width: 100%;  height: 12px;  ">
                        <p style="float:right;font-size: 10px;    height: 0px;;text-align:center;color: #ffffff;width:30px;margin-right: 4px"> 10</p>
                        <p style="float:right;font-size: 10px;    height: 0px;;text-align:center;color: #ffffff;width:30px;margin-right: 4px"> 1</p>
                        <p style="float:left;font-size: 10px;    height: 0px;;text-align:left;color: #ffffff;width:120px;margin-right: 4px"> Asist</p>
                    </div>
                    <div id="shot-data" style="width: 100%;  height: 12px;  ">
                        <p style="float:right;font-size: 10px;    height: 0px;;text-align:center;color: #ffffff;width:30px;margin-right: 4px"> 54</p>
                        <p style="float:right;font-size: 10px;    height: 0px;;text-align:center;color: #ffffff;width:30px;margin-right: 4px"> 4</p>
                        <p style="float:left;font-size: 10px;    height: 0px;;text-align:left;color: #ffffff;width:120px;margin-right: 4px"> Şut</p>
                    </div>
                </div>
                <div id="data-atack" style="background-color:rgba(255,255,255,0.4); height: 40px; width: 100%;margin-top: 4px">
                    <div id="goal-data" style="width: 100%;  height: 12px;  ">
                        <p style="float:right;font-size: 10px;    height: 0px;;text-align:center;color: #ffffff;width:30px;margin-right: 4px"> 7</p>
                        <p style="float:right;font-size: 10px;    height: 0px;;text-align:center;color: #ffffff;width:30px;margin-right: 4px"> 0</p>
                        <p style="float:left;font-size: 10px;    height: 0px;;text-align:left;color: #ffffff;width:120px;margin-right: 4px"> Topla Buluşma</p>
                    </div>
                    <div id="asist-data" style="width: 100%;  height: 12px;  ">
                        <p style="float:right;font-size: 10px;    height: 0px;;text-align:center;color: #ffffff;width:30px;margin-right: 4px"> 10</p>
                        <p style="float:right;font-size: 10px;    height: 0px;;text-align:center;color: #ffffff;width:30px;margin-right: 4px"> 1</p>
                        <p style="float:left;font-size: 10px;    height: 0px;;text-align:left;color: #ffffff;width:120px;margin-right: 4px"> Pas</p>
                    </div>
                    <div id="shot-data" style="width: 100%;  height: 12px;  ">
                        <p style="float:right;font-size: 10px;    height: 0px;;text-align:center;color: #ffffff;width:30px;margin-right: 4px"> 54</p>
                        <p style="float:right;font-size: 10px;    height: 0px;;text-align:center;color: #ffffff;width:30px;margin-right: 4px"> 4</p>
                        <p style="float:left;font-size: 10px;    height: 0px;;text-align:left;color: #ffffff;width:120px;margin-right: 4px"> Pas Yüzdesi(%)</p>
                    </div>
                </div>
                <div id="data-atack" style="background-color:rgba(255,255,255,0.4); height: 40px; width: 100%;margin-top: 4px">
                    <div id="goal-data" style="width: 100%;  height: 12px;  ">
                        <p style="float:right;font-size: 10px;    height: 0px;;text-align:center;color: #ffffff;width:30px;margin-right: 4px"> 7</p>
                        <p style="float:right;font-size: 10px;    height: 0px;;text-align:center;color: #ffffff;width:30px;margin-right: 4px"> 0</p>
                        <p style="float:left;font-size: 10px;    height: 0px;;text-align:left;color: #ffffff;width:120px;margin-right: 4px"> Top Çalma</p>
                    </div>
                    <div id="asist-data" style="width: 100%;  height: 12px;  ">
                        <p style="float:right;font-size: 10px;    height: 0px;;text-align:center;color: #ffffff;width:30px;margin-right: 4px"> 10</p>
                        <p style="float:right;font-size: 10px;    height: 0px;;text-align:center;color: #ffffff;width:30px;margin-right: 4px"> 1</p>
                        <p style="float:left;font-size: 10px;    height: 0px;;text-align:left;color: #ffffff;width:120px;margin-right: 4px"> Top Kaybı</p>
                    </div>
                    <div id="shot-data" style="width: 100%;  height: 12px;  ">
                        <p style="float:right;font-size: 10px;    height: 0px;;text-align:center;color: #ffffff;width:30px;margin-right: 4px"> 54</p>
                        <p style="float:right;font-size: 10px;    height: 0px;;text-align:center;color: #ffffff;width:30px;margin-right: 4px"> 4</p>
                        <p style="float:left;font-size: 10px;    height: 0px;;text-align:left;color: #ffffff;width:120px;margin-right: 4px"> Top Çalma(%)</p>
                    </div>
                </div>
                <div id="data-atack" style="background-color:rgba(255,255,255,0.4); height: 40px; width: 100%;margin-top: 4px">
                    <div id="goal-data" style="width: 100%;  height: 12px;  ">
                        <p style="float:right;font-size: 10px;    height: 0px;;text-align:center;color: #ffffff;width:30px;margin-right: 4px"> 7</p>
                        <p style="float:right;font-size: 10px;    height: 0px;;text-align:center;color: #ffffff;width:30px;margin-right: 4px"> 0</p>
                        <p style="float:left;font-size: 10px;    height: 0px;;text-align:left;color: #ffffff;width:120px;margin-right: 4px"> Mesafe(km)</p>
                    </div>
                    <div id="asist-data" style="width: 100%;  height: 12px;  ">
                        <p style="float:right;font-size: 10px;    height: 0px;;text-align:center;color: #ffffff;width:30px;margin-right: 4px"> 10</p>
                        <p style="float:right;font-size: 10px;    height: 0px;;text-align:center;color: #ffffff;width:30px;margin-right: 4px"> 1</p>
                        <p style="float:left;font-size: 10px;    height: 0px;;text-align:left;color: #ffffff;width:120px;margin-right: 4px"> Hızlı Koşu(m)</p>
                    </div>
                    <div id="shot-data" style="width: 100%;  height: 12px;  ">
                        <p style="float:right;font-size: 10px;    height: 0px;;text-align:center;color: #ffffff;width:30px;margin-right: 4px"> 54</p>
                        <p style="float:right;font-size: 10px;    height: 0px;;text-align:center;color: #ffffff;width:30px;margin-right: 4px"> 4</p>
                        <p style="float:left;font-size: 10px;    height: 0px;;text-align:left;color: #ffffff;width:120px;margin-right: 4px"> Şiddetli Koşu(m)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>