{% extends "virtual_stadium_base.html" %}
{% block menu %}
    <div id="navbar">
        <div id="nav">
            <div id="active">

                <a href="../before">MAÇ ÖNCESİ</a>

            </div>
            <a href="../center">STADYUM</a>

            <a href="../table">MAÇ TAHTASI</a>

        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="history-area">
        <h1 class="main">Rekabet Geçmişi</h1>
        {% for x in matchInfo %}
            <div id="home">
                <h2>{{ x.homeTeam }}</h2>
                <img src="{{ STATIC_URL }}images/logo{{ x.homeTeamId }}.png">
            </div>
            <div id="comparison">
                {% for hist in history %}
                    <div class="holder">
                        <h3>Geçmiş Maçlar</h3>
                        <p class="home-ratio" style="width:{{ hist.homeWinRatio }}%">{{ hist.homeWins }}</p>
                        <p class="draw-ratio" style="width:{{ hist.drawRatio }}%">{{ hist.draws}}</p>
                        <p class="away-ratio" style="width:{{ hist.awayWinRatio }}%">{{ hist.awayWins }}</p>
                    </div>
                    <div class="holder">
                        <h3>Karşılıklı Goller</h3>
                        <p class="home-ratio" style="width:{{ hist.homeGoalRatio }}%">{{ hist.homeGoals }}</p>
                        <p class="away-ratio" style="width:{{ hist.awayGoalRatio }}%">{{ hist.awayGoals }}</p>
                    </div>
                    <div class="holder">
                        <h3>Son Maçlar</h3>
                        <div style="width: 50%;float: left;margin-top: 0px">
                            <div class="form">
                                {% for f in homeForm reversed%}
                                    {% if f.win == 1 %}
                                        <p class="win"> G </p>
                                        {% if forloop.counter < 5 %}
                                            <p class="seperator">-</p>
                                        {% endif %}
                                    {% endif %}
                                    {% if f.win == 0 %}
                                        <p class="draw"> B </p>
                                        {% if forloop.counter < 5 %}
                                            <p class="seperator">-</p>
                                        {% endif %}
                                    {% endif %}
                                    {% if f.win == 2 %}
                                        <p class="lose"> M </p>
                                        {% if forloop.counter < 5 %}
                                            <p class="seperator">-</p>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <div style="width: 50%;float: left;margin-top: 0px">
                            <div class="form">
                                {% for f in awayForm reversed %}
                                    {% if f.win == 1 %}
                                        <p title = "{{ f.homeScore }} - {{ f.awayScore }}" class="win"> G </p>
                                        {% if forloop.counter < 5 %}
                                            <p class="seperator">-</p>
                                        {% endif %}
                                    {% endif %}
                                    {% if f.win == 0 %}
                                        <p class="draw"> B </p>
                                        {% if forloop.counter < 5 %}
                                            <p class="seperator">-</p>
                                        {% endif %}
                                    {% endif %}
                                    {% if f.win == 2 %}
                                        <p class="lose"> M </p>
                                        {% if forloop.counter < 5 %}
                                            <p class="seperator">-</p>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div id="away">
                <h2>{{ x.awayTeam }}</h2>
                <img src="{{ STATIC_URL }}images/logo{{ x.awayTeamId }}.png">
            </div>
        {% endfor %}
    </div>
    <div class="squad-area">
        <h1 class="main">Maç Kadrosu</h1>
        <div id="home-suspended">
        </div>
        <div id="homesquad">
            {% for player in homeSquad|dictsort:"playPosition"|dictsortreversed:"eleven" %}
                {% if player.eleven == 1 %}
                    <div class="starting">
                        <p id="no" class="pos{{ player.playPosition }}">{{ player.jerseyNumber }}</p>
                        <p id="name">{{ player.playerName }}</p>
                        {% for event in player.playerEvents|dictsortreversed:"matchTime" %}
                            <div class="event">
                                {% if event.eventType == 7 %}
                                    <img alt="{{ event.matchTime }}'" title="{{ event.matchTime }}'" src="{{ STATIC_URL }}images/sub-out.png">
                                {% endif %}
                                {% if event.eventType == 0 %}
                                    <img alt="{{ event.matchTime }}'" title="{{ event.matchTime }}'" src="{{ STATIC_URL }}images/goal.png">
                                {% endif %}
                                {% if event.eventType == 1 %}
                                    <img alt="{{ event.matchTime }}'" title="{{ event.matchTime }}'" src="{{ STATIC_URL }}images/own-goal.png">
                                {% endif %}
                                {% if event.eventType == 2 %}
                                    <img alt="Pen: {{ event.matchTime }}'" title="Pen: {{ event.matchTime }}'" src="{{ STATIC_URL }}images/penalty.png">
                                {% endif %}
                                {% if event.eventType == 3 %}
                                    <img alt="Pen: {{ event.matchTime }}'" title="Pen: {{ event.matchTime }}'" src="{{ STATIC_URL }}images/missed-pen.png">
                                {% endif %}
                                {% if event.eventType == 4 %}
                                    <img alt="{{ event.matchTime }}'" title="{{ event.matchTime }}'" src="{{ STATIC_URL }}images/yellow.png">
                                {% endif %}
                                {% if event.eventType == 5 %}
                                    <img alt="{{ event.matchTime }}'" title="{{ event.matchTime }}'" src="{{ STATIC_URL }}images/second-yellow.png">
                                {% endif %}
                                {% if event.eventType == 6 %}
                                    <img alt="{{ event.matchTime }}'" title="{{ event.matchTime }}'" src="{{ STATIC_URL }}images/red.png">
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if player.eleven == 0 %}
                    <div class="sub">
                        <p id="no" class="pos{{  player.playPosition }}">{{ player.jerseyNumber }}</p>
                        <p id="name">{{ player.playerName }}</p>
                        {% for event in player.playerEvents|dictsortreversed:"matchTime" %}
                            <div class="event">
                                {% if event.eventType == 7 %}
                                    {% if event.playerId == player.playerId %}
                                        <img alt="{{ event.matchTime }}'" title="{{ event.matchTime }}'" src="{{ STATIC_URL }}images/sub-out.png">
                                    {% else %}

                                        <img alt="{{ event.matchTime }}'" title="{{ event.matchTime }}'" src="{{ STATIC_URL }}images/sub-in.png">
                                    {% endif %}
                                {% endif %}
                                {% if event.eventType == 0 %}
                                    <img alt="{{ event.matchTime }}'" title="{{ event.matchTime }}'" src="{{ STATIC_URL }}images/goal.png">
                                {% endif %}
                                {% if event.eventType == 1 %}
                                    <img alt="{{ event.matchTime }}'" title="{{ event.matchTime }}'" src="{{ STATIC_URL }}images/own-goal.png">
                                {% endif %}
                                {% if event.eventType == 2 %}
                                    <img alt="Pen: {{ event.matchTime }}'" title="Pen: {{ event.matchTime }}'" src="{{ STATIC_URL }}images/penalty.png">
                                {% endif %}
                                {% if event.eventType == 3 %}
                                    <img alt="Pen: {{ event.matchTime }}'" title="Pen: {{ event.matchTime }}'" src="{{ STATIC_URL }}images/missed-pen.png">
                                {% endif %}
                                {% if event.eventType == 4 %}
                                    <img alt="{{ event.matchTime }}'" title="{{ event.matchTime }}'" src="{{ STATIC_URL }}images/yellow.png">
                                {% endif %}
                                {% if event.eventType == 5 %}
                                    <img alt="{{ event.matchTime }}'" title="{{ event.matchTime }}'" src="{{ STATIC_URL }}images/second-yellow.png">
                                {% endif %}
                                {% if event.eventType == 6 %}
                                    <img alt="{{ event.matchTime }}'" title="{{ event.matchTime }}'" src="{{ STATIC_URL }}images/red.png">
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div id="awaysquad">
            {% for player in awaySquad|dictsort:"playPosition"|dictsortreversed:"eleven" %}
                {% if player.eleven == 1 %}
                    <div class="starting">
                        <p id="no" class="pos{{  player.playPosition }}">{{ player.jerseyNumber }}</p>
                        <p id="name">{{ player.playerName }}</p>
                        {% for event in player.playerEvents|dictsortreversed:"matchTime" %}
                            <div class="event">
                                {% if event.eventType == 7 %}
                                    <img alt="{{ event.matchTime }}'" title="{{ event.matchTime }}'" src="{{ STATIC_URL }}images/sub-out.png">
                                {% endif %}
                                {% if event.eventType == 0 %}
                                    <img alt="{{ event.matchTime }}'" title="{{ event.matchTime }}'" src="{{ STATIC_URL }}images/goal.png">
                                {% endif %}
                                {% if event.eventType == 1 %}
                                    <img alt="{{ event.matchTime }}'" title="{{ event.matchTime }}'" src="{{ STATIC_URL }}images/own-goal.png">
                                {% endif %}
                                {% if event.eventType == 2 %}
                                    <img alt="Pen: {{ event.matchTime }}'" title="Pen: {{ event.matchTime }}'" src="{{ STATIC_URL }}images/goal.png">
                                {% endif %}
                                {% if event.eventType == 3 %}
                                    <img alt="Pen: {{ event.matchTime }}'" title="Pen: {{ event.matchTime }}'" src="{{ STATIC_URL }}images/missed-pen.png">
                                {% endif %}
                                {% if event.eventType == 4 %}
                                    <img alt="{{ event.matchTime }}'" title="{{ event.matchTime }}'" src="{{ STATIC_URL }}images/yellow.png">
                                {% endif %}
                                {% if event.eventType == 5 %}
                                    <img alt="{{ event.matchTime }}'" title="{{ event.matchTime }}'" src="{{ STATIC_URL }}images/second-yellow.png">
                                {% endif %}
                                {% if event.eventType == 6 %}
                                    <img alt="{{ event.matchTime }}'" title="{{ event.matchTime }}'" src="{{ STATIC_URL }}images/red.png">
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% if player.eleven == 0 %}
                    <div class="sub">
                        <p id="no" class="pos{{  player.playPosition }}">{{ player.jerseyNumber }}</p>
                        <p id="name">{{ player.playerName }}</p>
                        {% for event in player.playerEvents|dictsortreversed:"matchTime" %}
                            <div class="event">
                                {% if event.eventType == 7 %}
                                    <img alt="{{ event.matchTime }}'" title="{{ event.matchTime }}'" src="{{ STATIC_URL }}images/sub-in.png">
                                {% endif %}
                                {% if event.eventType == 0 %}
                                    <img alt="{{ event.matchTime }}'" title="{{ event.matchTime }}'" src="{{ STATIC_URL }}images/goal.png">
                                {% endif %}
                                {% if event.eventType == 1 %}
                                    <img alt="{{ event.matchTime }}'" title="{{ event.matchTime }}'" src="{{ STATIC_URL }}images/own-goal.png">
                                {% endif %}
                                {% if event.eventType == 2 %}
                                    <img alt="Pen: {{ event.matchTime }}'" title="Pen: {{ event.matchTime }}'" src="{{ STATIC_URL }}images/goal.png">
                                {% endif %}
                                {% if event.eventType == 3 %}
                                    <img alt="Pen: {{ event.matchTime }}'" title="Pen: {{ event.matchTime }}'" src="{{ STATIC_URL }}images/missed-pen.png">
                                {% endif %}
                                {% if event.eventType == 4 %}
                                    <img alt="{{ event.matchTime }}'" title="{{ event.matchTime }}'" src="{{ STATIC_URL }}images/yellow.png">
                                {% endif %}
                                {% if event.eventType == 5 %}
                                    <img alt="{{ event.matchTime }}'" title="{{ event.matchTime }}'" src="{{ STATIC_URL }}images/second-yellow.png">
                                {% endif %}
                                {% if event.eventType == 6 %}
                                    <img alt="{{ event.matchTime }}'" title="{{ event.matchTime }}'" src="{{ STATIC_URL }}images/red.png">
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endfor %}

        </div>
        <div id="away-suspended">
        </div>
    </div>
    <h1 class="main">Son Karşılaşmalar</h1>
    <div class="past-match-area">
        {% for historic in history %}
            {% for match in historic.pastMatches %}
                <a class="past-match">
                    <p class="upper-info">{{ match.stadium }}</p>
                    <p class="upper-info">{{ match.date }}</p>
                    <p class="upper-info">{{ match.referee }}</p>
                    <img src="{{ STATIC_URL }}images/logo{{ match.homeTeamId }}.png" id="homelogo">
                    <p id="homename">{{ match.homeTeam }}</p>
                    <p id="homescore">{{ match.homeScore }}</p>
                    <p id="separator">-</p>
                    <p id="awayscore">{{ match.awayScore }}</p>
                    <p id="awayname">{{ match.awayTeam }}</p>
                    <img src="{{ STATIC_URL }}images/logo{{ match.awayTeamId }}.png" id="awaylogo">
                </a>
            {% endfor %}
        {% endfor %}
    </div>


{% endblock %}


