{% extends "statsbase.html" %}

{% block title %}İstatistik | istatistik.ligtv.com.tr{% endblock %}

{% block head-addition %}

{% endblock %}


{% block menu-header %}

    <div id="menubar" style="background-color:#454541; Margin-left:auto;Margin-right:auto;">
    <!--<img src="{{ STATIC_URL }}images/buttonbg.png" height="150px" width="240px" onmouseover="this.src='{{ STATIC_URL }}images/buttonbgclicked.png'" onmouseout="this.src='{{ STATIC_URL }}images/buttonbg.png'">-->
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <ul class="nav">
                    <li class="active" style="width:200px"><a href="#">Ana Sayfa</a></li>
                    <li class="divider-vertical"></li>
                    <li style="width:200px"><a href="team">Takım Sayfaları</a></li>
                    <li class="divider-vertical"></li>
                    <li style="width:200px"><a href="#">Lig İstatistikleri</a></li>
                </ul>
            </div>
        </div>

    </div>

{% endblock %}

{% block week-menu %}

    <div id="week-item">
    {% for i in weeklist %}
        {% if i < 23 %}
                 <div id="enabled" style="float:left">
                 <button>{{ i }}</button>
                 </div>
        {% elif i == 24 %}
                 <div id="active" style="float:left">
                 <button>{{ i }}</button>
                 </div>
        {% else %}
                 <div id="disabled" style="float:left">
                 <button>{{ i }}</button>
                 </div>
        {% endif %}

    {% endfor %}
    </div>

{%  endblock %}

{% block content %}
    <div>
        <div style="float:left; margin-top:30px; margin-left: 80px">
            <div id="includedContent">{% include 'contentboxbase.html' with headerimage="images/player.png" headerimageover="images/playerover.png" headerText="Haftanın Oyuncusu" %}</div>
        </div>
        <div style="float:left; margin-top:30px; margin-left: 80px">
            <div id="includedContent">{% include 'contentboxbase.html' with headerimage="images/player.png" headerimageover="images/playerover.png" headerText="Haftanın Golcüleri" %}</div>
        </div>
    </div>


    <div>
        <div style="float:left; margin-top:30px; margin-left: 80px">
            <div id="includedContent">{% include 'contentboxbase.html' with headerimage="images/player.png" headerimageover="images/playerover.png" headerText="Haftanın Pasörleri" %}</div>
        </div>
        <div style="float:left; margin-top:30px; margin-left: 80px">
            <div id="includedContent">
                {% include 'contentboxbase.html' with headerimage="images/player.png" headerimageover="images/playerover.png" headerText="Haftanın En Çok Koşanları" %}</div>
        </div>
    </div>

{% endblock %}

{% block sidebar %}

    <div id="includedContent"style="background:#336699;height:200px;margin:10px;margin-right:10px;border: 1px solid #000000;text-align:center;color: #ffffff"><p>Puan Tablosu burda duracak.</p></div>

{% endblock %}
