{% load static %}
{% get_static_prefix as STATIC_URL %}




<div class="sidebox">
    <h1 class="sidebox"> Maç Videoları </h1>
    {% if goals|length == 0 %}
        <p class="no-data"> Bu maçla ilgili videolar henüz hazır değildir.</p>
    {% else %}
        {% for x in goals %}
            <a id="video{{ forloop.counter}}" href="{{ x.goalLink }}" target="_blank" >
                {% if x.type == 1 %}
                    <div class="teamColor">
                        {% if x.teamId == homeTeamId %}

                            <div id="box" style="background-color: #{{ teamColors.homeFill }}"></div>
                            <div id="box" style="background-color: #{{ teamColors.homeStroke }}"></div>
                        {% else %}

                            <div id="box" style="background-color: #{{ teamColors.awayFill }}"></div>
                            <div id="box" style="background-color: #{{ teamColors.awayStroke }}"></div>
                        {% endif %}
                    </div>
                    <img src="http://sentiotab.blob.core.windows.net/player/{{ x.playerId }}.png" onError="this.src='http://sentiotab.blob.core.windows.net/player/default.png';">
                {% endif %}
                {% if x.type == 0 %}
                    <img id="videopng" src="http://sentiotab.blob.core.windows.net/static/mac_ozeti_3.png" >
                    <p id="name">{{ x.text }}</p>
                {% else %}
                    <p id="name">{{ x.playerName }}</p>
                    <p id="min">{{ x.min }}'</p>
                {% endif %}
            </a>
        {% endfor %}
        <br style="clear:both"/>
    {% endif %}
</div>


