{% load static %}
{% get_static_prefix as STATIC_URL %}

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.1.js"></script>

<script src="{{ STATIC_URL }}js/jquery-ui-1.10.3.custom.min.js"></script>
<style type="text/css">
    .video-button{
        height: 30px;
        width: 140px;
        background-image: -moz-linear-gradient(top, #f3f3f3 0%, #ddddd7 100%); /* FF3.6+ */
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3f3f3),  color-stop(100%,#ddddd7)); /* Chrome,Safari4+ */
        background-image: -webkit-linear-gradient(top, #f3f3f3 0%,  #ddddd7 100%); /* Chrome10+,Safari5.1+ */
        background-image: -o-linear-gradient(top, #f3f3f3 0%, #ddddd7 100%); /* Opera 11.10+ */
        background-image: -ms-linear-gradient(top,  #f3f3f3 0%,  #ddddd7 100%); /* IE10+ */
        background-image: linear-gradient(to bottom, #f3f3f3 0%,  #ddddd7 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#ddddd7',GradientType=0 ); /* IE6-9 */
        color: #000000;
        margin-right: 2px;
        border: 1px solid #888888;
        text-align: center;
        font-size: 14px;
        line-height: 30px;
        outline: none;
        float: left;
    }
    .video-button:hover{
        height: 30px;
        width: 140px;
        text-decoration: none;

        background-image: -moz-linear-gradient(top, #c7c7c7 0%, #d6d6d6 22%, #ddddd7 100%); /* FF3.6+ */
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c7c7c7), color-stop(22%,#d6d6d6), color-stop(100%,#ddddd7)); /* Chrome,Safari4+ */
        background-image: -webkit-linear-gradient(top, #c7c7c7 0%, #d6d6d6 22%, #ddddd7 100%); /* Chrome10+,Safari5.1+ */
        background-image: -o-linear-gradient(top, #c7c7c7 0%, #d6d6d6 22%, #ddddd7 100%); /* Opera 11.10+ */
        background-image: -ms-linear-gradient(top,  #c7c7c7 0%, #d6d6d6 22%, #ddddd7 100%); /* IE10+ */
        background-image: linear-gradient(to bottom, #c7c7c7 0%, #d6d6d6 22%, #ddddd7 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c7c7c7', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */

        color: #000000;
        margin-right: 2px;
        border: 1px solid #888888;
        text-align: center;
        font-size: 14px;
        line-height: 30px;
        outline: none;
        float: left;
    }
    .video-button-selected{
        height: 30px;
        width: 140px;
        background-image: -moz-linear-gradient(top, #7c0308 0%, #890900 15%, #911600 100%); /* FF3.6+ */
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7c0308), color-stop(15%,#890900), color-stop(100%,#911600)); /* Chrome,Safari4+ */
        background-image: -webkit-linear-gradient(top, #7c0308 0%, #890900 15%, #911600 100%); /* Chrome10+,Safari5.1+ */
        background-image: -o-linear-gradient(top, #7c0308 0%, #890900 15%, #911600 100%); /* Opera 11.10+ */
        background-image: -ms-linear-gradient(top,  #7c0308 0%, #890900 15%, #911600 100%); /* IE10+ */
        background-image: linear-gradient(to bottom, #7c0308 0%, #890900 15%, #911600 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c0308', endColorstr='#911600',GradientType=0 ); /* IE6-9 */

        color: #ffffff;
        margin-right: 2px;
        border: 1px solid #888888;
        text-align: center;
        font-size: 14px;
        line-height: 30px;
        outline: none;
        float: left;
    }
</style>


<div style="width:780px; margin: 0; border: none; padding: 0;text-align: center;">

    <div style="font-size: 24px;color: #000000;margin-bottom: 2px"><b>{{ matchInfoDict.homeTeam  }}  {{ matchInfoDict.homeTeamScore  }} -
         {{ matchInfoDict.awayTeamScore  }}  {{ matchInfoDict.awayTeam  }} </b></div>


    {% if goals|length == 0 %}
        <p class="no-data"> Bu maçla ilgili videolar henüz hazır değildir.</p>
    {% else %}

        {% for x in goals %}
            {% if forloop.counter  != videoId %}

                <a id="sortVideo{{ forloop.counter}}"  >
                    {% if forloop.counter == 1 %}
                        <p class="video-button">{{ x.text}}</p>
                    {% else %}
                        <p class="video-button">{{ x.playerName }} - {{ x.min }}'</p>
                    {% endif %}
                </a>

            {% else %}
                {% if forloop.counter == 1 %}
                    <p class="video-button-selected"  >{{ x.text}}</p>
                {% else %}
                    <p class="video-button-selected"  >{{ x.playerName }} - {{ x.min }}'</p>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% for x in goals %}
            {% if forloop.counter  == videoId %}

                <div style="float:left;">
                    <img src="{{ STATIC_URL  }}img/space.png" style="height: 325px">
                    <video id="my_video_{{ forloop.counter }}" class="video-js vjs-default-skin" controls autoplay preload="auto" width="580" height="325"  data-setup="{}">
                        <source src="{{ x.goalLink }}" type='video/mp4'>
                    </video><img src="{{ STATIC_URL  }}img/space.png" style="height: 325px">
                </div>

            {% endif %}
        {% endfor %}
    {% endif %}
</div>
<script type="text/javascript">

    var counter = 0;
    function getUrl(){
        var url = document.URL ;
        var urlComponentsArray = url.split('/');
        var videoUrl = urlComponentsArray[0]+urlComponentsArray[1]+"//"+urlComponentsArray[2]+"/"+urlComponentsArray[3]+"/"+urlComponentsArray[4]+"/"+urlComponentsArray[5]+"/"+(++counter);
        return videoUrl;
    }

    $(function(){
        {% for x in goals %}
            var divname = "#sortVideo" + {{ forloop.counter }};
            $(divname).attr("href", getUrl());
        {% endfor %}
    });

</script>
