{% for stat in teamStats %}
    <div class='stat-object'>
        <p id='name'>{{ stat.name }}</p>
        <p id='home-value'>{{ stat.homeValue }}{{ stat.addition }}</p>
        <div id='ratio-area'>
            {% if stat.homePercent != 0 and stat.homePercent != 100 %}
                <p class='home-ratio' style='width: {{ stat.homePercent }}%'>%{{ stat.homePercent }}</p>
            {% elif stat.homePercent == 100%}
                <p class='home-ratio-full' style='width: 100%'>%100</p>
            {% endif %}

            {% if stat.awayPercent != 0 and stat.awayPercent != 100 %}
                <p class='away-ratio' style='width: {{ stat.awayPercent }}%'>%{{ stat.awayPercent }}</p>
            {% elif stat.awayPercent == 100%}
                <p class='away-ratio-full' style='width: 100%'>%100</p>
            {% endif %}
        </div>
        <p id='away-value'>{{ stat.awayValue }}{{ stat.addition }}</p>
    </div>
{% endfor %}

<div class="stat-vis">
    


</div>