{% for f in form|dictsort:"weekId"%}
    {% if f.win == 1 %}
        <span class="before-form" form-data="{{ f.weekId }},{{ f.homeTeam }},{{ f.homeScore }},{{ f.awayScore }},{{ f.awayTeam }}"><a href="../../{{ f.matchId }}" class="win" title="" id="{{ team }}{{ forloop.counter }}f" ></a></span>
    {% endif %}
    {% if f.win == 0 %}
        <span class="before-form" form-data="{{ f.weekId }},{{ f.homeTeam }},{{ f.homeScore }},{{ f.awayScore }},{{ f.awayTeam }}"><a href="../../{{ f.matchId }}" class="draw" title="" id="{{ team }}{{ forloop.counter }}f" ></a></span>
    {% endif %}
    {% if f.win == 2 %}
        <span class="before-form" form-data="{{ f.weekId }},{{ f.homeTeam }},{{ f.homeScore }},{{ f.awayScore }},{{ f.awayTeam }}"><a href="../../{{ f.matchId }}" class="lose" title="" id="{{ team }}{{ forloop.counter }}f" ></a></span>
    {% endif %}

{% endfor %}