{% for f in form|dictsort:"weekId"%}
    {% if f.win == 1 %}
        <a href="../../{{ f.matchId }}" class="win" title="" id="{{ team }}{{ forloop.counter }}f"></a>
    {% endif %}
    {% if f.win == 0 %}
        <a href="../../{{ f.matchId }}" class="draw" title="" id="{{ team }}{{ forloop.counter }}f"></a>
    {% endif %}
    {% if f.win == 2 %}
        <a href="../../{{ f.matchId }}" class="lose" title="" id="{{ team }}{{ forloop.counter }}f"></a>
    {% endif %}
    <script>

        $(function() {
            var divname = "#" +"{{ team }}{{ forloop.counter }}" + "f";
            $( divname ).tooltip({
                content: function(){
                    return "<div style='color:black'><p style='text-align:center'>{{ f.weekId }}. Hafta</p><br><p>{{ f.homeTeam }} {{ f.homeScore }} - {{ f.awayScore }} {{ f.awayTeam }}</p></div>"
                },
                show: {
                    effect: "show",
                    delay: 50
                },
                hide: {
                    effect: "hide",
                    delay: 100
                },
                position: {
                    my: "center bottom-20",
                    at: "center top"
                },
                close: function (event, ui) {
                    $('div.ui-effects-wrapper').remove();
                }
            });
        });
    </script>
{% endfor %}