{% load static %}
{% get_static_prefix as STATIC_URL %}

<div class="event-item">

    {% if event.type == 7 %}
        {% if event.teamId == homeTeamId %}
            <p id="home-name"><span style="color: #940b14">{{ event.playerName }}</span> - <span style="color: #0b9819">{{ event.playerNameIn }}</span></p>
            <img src="http://sentiotab.blob.core.windows.net/static/substitution.png">
            <p id="min">{{ event.min }}'</p>
        {% endif %}
        {% if event.teamId == awayTeamId %}
            <p id="home-name"></p>
            <p id="holder"></p>
            <p id="min">{{ event.min }}'</p>
            <img src="http://sentiotab.blob.core.windows.net/static/substitution.png">
            <p id="away-name"><span style="color: #940b14">{{ event.playerName }}</span> - <span style="color: #0b9819">{{ event.playerNameIn }}</span></p>
        {% endif %}
    {% else %}
        {% if event.teamId == homeTeamId %}
            <p id="home-name">{{ event.playerName }}</p>
            <img src="http://sentiotab.blob.core.windows.net/static/{{ eventImagePath }}">
            <p id="min">{{ event.min }}'</p>
        {% endif %}
        {% if event.teamId == awayTeamId %}
            <p id="home-name"></p>
            <p id="holder"></p>
            <p id="min">{{ event.min }}'</p>
            <img src="http://sentiotab.blob.core.windows.net/static/{{ eventImagePath }}">
            <p id="away-name">{{ event.playerName }}</p>
        {% endif %}
    {% endif %}
</div>