{% load static %}
{% get_static_prefix as STATIC_URL %}

{% if team == "home" %}
    <div class="vote-area">

        {% if votingActive %}
            <button title="Oyla" class="vote-button-selectable" id="rightButton" value="{{player.teamId }}/{{ player.playerId }}" onclick="votePlayer(this)"></button>
        {% endif %}
    </div>
{% endif %}

<div class="{{ class }}">

    <p id="no" class="pos{{ player.playPosition }}">{{ player.jerseyNumber }}</p>
    <p id="name">{{ player.playerName }}</p>
    {% for event in player.playerEvents|dictsortreversed:"matchTime" %}
        <div class="event" >
            {% if event.eventType == 7 %}
                {% if player.eleven == 0 %}
                    {% if event.playerId == player.playerId %}
                        <a title="" class="sub-out" id="{{ player.playerId }}-{{ forloop.counter }} " player-data="{{ event.matchTime}},{{ event.playerNameIn }},{{ event.playerName }},{{ event.eventType }}"></a>
                    {% else %}
                        <a title="" class="sub-in" id="{{ player.playerId }}-{{ forloop.counter }}" player-data="{{ event.matchTime}},{{ event.playerNameIn }},{{ event.playerName }},{{ event.eventType }}"></a>
                    {% endif %}
                {% else %}
                    <a title="" class="sub-out" id="{{ player.playerId }}-{{ forloop.counter }}" player-data="{{ event.matchTime}},{{ event.playerNameIn }},{{ event.playerName }},{{ event.eventType }}"></a>
                {% endif %}
            {% endif %}
            {% if event.eventType == 0 %}
                <a title=""  class="goal" id="{{ player.playerId }}-{{ forloop.counter }}" player-data="{{ event.matchTime}},{{ event.playerNameIn }},{{ event.playerName }},{{ event.eventType }}"></a>
            {% endif %}
            {% if event.eventType == 1 %}
                <a title="" class="own-goal" id="{{ player.playerId }}-{{ forloop.counter }}" player-data="{{ event.matchTime}},{{ event.playerNameIn }},{{ event.playerName }},{{ event.eventType }}"></a>
            {% endif %}
            {% if event.eventType == 2 %}
                <a title="" class="penalty" id="{{ player.playerId }}-{{ forloop.counter }}" player-data="{{ event.matchTime}},{{ event.playerNameIn }},{{ event.playerName }},{{ event.eventType }}"></a>
            {% endif %}
            {% if event.eventType == 3 %}
                <a title="" class="missed-pen" id="{{ player.playerId }}-{{ forloop.counter }}" player-data="{{ event.matchTime}},{{ event.playerNameIn }},{{ event.playerName }},{{ event.eventType }}"></a>
            {% endif %}
            {% if event.eventType == 4 %}
                <a title="" class="yellow" id="{{ player.playerId }}-{{ forloop.counter }}" player-data="{{ event.matchTime}},{{ event.playerNameIn }},{{ event.playerName }},{{ event.eventType }}"></a>
            {% endif %}
            {% if event.eventType == 5 %}
                <a title="" class="second-yellow" id="{{ player.playerId }}-{{ forloop.counter }}" player-data="{{ event.matchTime}},{{ event.playerNameIn }},{{ event.playerName }},{{ event.eventType }}"></a>
            {% endif %}
            {% if event.eventType == 6 %}
                <a title="" class="red" id="{{ player.playerId }}-{{ forloop.counter }}" player-data="{{ event.matchTime}},{{ event.playerNameIn }},{{ event.playerName }},{{ event.eventType }}"></a>
            {% endif %}
        </div>

    {% endfor %}

</div>


{% if team == "away" %}

    <div class="vote-area">
        {% if votingActive %}
            <button title="Oyla" class="vote-button-selectable" id="leftButton" value="{{player.teamId }}/{{ player.playerId }}" onclick="votePlayer(this)"></button>
        {% endif %}
    </div>

{% endif %}



