{% load static %}
{% get_static_prefix as STATIC_URL %}

{% if matchStatus != 1 and matchStatus != 2 %}
    <div class="sidebox">
        <h1 class="sidebox">Maçın Adamı Oylaması</h1>
        {% if matchData|length == 0 %}
            <p class="no-data"> Bu maçla ilgili veri bulunmamaktadır.</p>
        {% else %}
            {% for x in matchSquad|dictsortreversed:"votePercent" %}

                    <a class="player-rate">
                        <div class="teamColor">
                            {% if x.teamId == homeTeamId %}
                                <div id="box" style="background-color: #{{ teamColors.homeFill }}"></div>
                                <div id="box" style="background-color: #{{ teamColors.homeStroke }}"></div>
                            {% else %}
                                <div id="box" style="background-color: #{{ teamColors.awayFill }}"></div>
                                <div id="box" style="background-color: #{{ teamColors.awayStroke }}"></div>
                            {% endif %}
                        </div>
                        <img src="{{ STATIC_URL }}images/players/{{ x.playerId }}.jpg" onError="this.src='{{ STATIC_URL }}images/players/default.png';">
                        <p id="name"> {{ x.playerName }}</p>
                        <p id="mycanvas" ><canvas id="mycanvas{{ forloop.counter }}" height="25" width="55" ></canvas></p>

                    </a>

            {% endfor %}
            <button id="rate-expander" class="rate-expander" onclick="showAll()">Tümünü göster</button>
            <br style="clear:both"/>
        {% endif %}
    </div>
{% endif %}
<div class="sidebox">
    <h1 class="sidebox"> Koşu Mesafesi </h1>
    {% if matchData|length == 0 %}
        <p class="no-data"> Bu maçla ilgili veri bulunmamaktadır.</p>
    {% else %}
        {% for x in matchData|dictsortreversed:'totalDistance' %}
            {% if forloop.counter < 6 %}
                <a href="">
                    <div class="teamColor">
                        {% if x.teamId == homeTeamId %}
                            <div id="box" style="background-color: #{{ teamColors.homeFill }}"></div>
                            <div id="box" style="background-color: #{{ teamColors.homeStroke }}"></div>
                        {% else %}
                            <div id="box" style="background-color: #{{ teamColors.awayFill }}"></div>
                            <div id="box" style="background-color: #{{ teamColors.awayStroke }}"></div>
                        {% endif %}
                    </div>
                    <img src="{{ STATIC_URL }}images/players/{{ x.playerId }}.jpg" onError="this.src='{{ STATIC_URL }}images/players/default.png';">
                    <p id="name">{{ x.jerseyNumber }} - {{ x.playerName }}</p>
                    <p id="value">{{ x.totalDistance }} m</p>
                </a>
            {% endif %}
        {% endfor %}
        <br style="clear:both"/>
    {% endif %}
</div>
<div class="sidebox">
    <h1 class="sidebox"> İsabetli Pas / Toplam Pas </h1>
    {% if matchData|length == 0 %}
        <p class="no-data"> Bu maçla ilgili veri bulunmamaktadır.</p>
    {% else %}
        {% for x in matchData|dictsortreversed:'totalPass'|dictsort:'passRatio'|dictsortreversed:'successfulPass' %}
            {% if forloop.counter < 6 %}
                <a href="">
                    <div class="teamColor">
                        {% if x.teamId == homeTeamId %}
                            <div id="box" style="background-color: #{{ teamColors.homeFill }}"></div>
                            <div id="box" style="background-color: #{{ teamColors.homeStroke }}"></div>
                        {% else %}
                            <div id="box" style="background-color: #{{ teamColors.awayFill }}"></div>
                            <div id="box" style="background-color: #{{ teamColors.awayStroke }}"></div>
                        {% endif %}
                    </div>
                    <img src="{{ STATIC_URL }}images/players/{{ x.playerId }}.jpg" onError="this.src='{{ STATIC_URL }}images/players/default.png';">
                    <p id="name">{{ x.jerseyNumber }} - {{ x.playerName }}</p>
                    <p id="value">{{ x.successfulPass}} / {{ x.totalPass }}</p>
                </a>
            {% endif %}
        {% endfor %}
        <br style="clear:both"/>
    {% endif %}

</div>
<div class="sidebox">
    <h1 class="sidebox"> İsabetli Şut / Toplam Şut </h1>
    {% if matchData|length == 0 %}
        <p class="no-data"> Bu maçla ilgili veri bulunmamaktadır.</p>
    {% else %}
        {% for x in matchData|dictsort:'shotRatio'|dictsortreversed:'totalShot'|dictsortreversed:'successfulShot' %}
            {% if forloop.counter < 6 %}
                <a href="">
                    <div class="teamColor">
                        {% if x.teamId == homeTeamId %}
                            <div id="box" style="background-color: #{{ teamColors.homeFill }}"></div>
                            <div id="box" style="background-color: #{{ teamColors.homeStroke }}"></div>
                        {% else %}
                            <div id="box" style="background-color: #{{ teamColors.awayFill }}"></div>
                            <div id="box" style="background-color: #{{ teamColors.awayStroke }}"></div>
                        {% endif %}
                    </div>
                    <img src="{{ STATIC_URL }}images/players/{{ x.playerId }}.jpg" onError="this.src='{{ STATIC_URL }}images/players/default.png';">
                    <p id="name">{{ x.jerseyNumber }} - {{ x.playerName }}</p>
                    <p id="value">{{ x.successfulShot}} / {{ x.totalShot }}</p>
                </a>
            {% endif %}
        {% endfor %}
        <br style="clear:both"/>
    {% endif %}
</div>

<script>
    var rates = document.getElementsByClassName("player-rate")
    for(var i= 0; i< rates.length; i++){
        var item = rates[i];
        if(i>4){
            $(item).hide();
        }
    }
    var isOpen = false;
    showAll = function(){
        if(isOpen){
            var rates = document.getElementsByClassName("player-rate")
            for(var i= 0; i< rates.length; i++){
                var item = rates[i];
                if(i>4){
                    $(item).hide();
                }
                isOpen = false;
            }
            $("#rate-expander").text("Tümünü göster");
        }
        else{
            var rates = document.getElementsByClassName("player-rate")
            for(var i= 0; i< rates.length; i++){
                var item = rates[i];
                $(item).show();
                isOpen = true;
            }
            $("#rate-expander").text("İlk 5'i göster");
        }
    }
    player_vote = function(match_id,team_id,player_id,returnValue){
        $.post("/playervote/" + match_id + "/"+ team_id + "/"+ player_id + "/").done(function(response){
            returnValue(JSON.parse(response));
        })
    }
    votePlayer = function(elem){
        var splitting = elem.value.split("/");
        var teamId = splitting[0];
        var playerId  = splitting[1];
        var matchId = {{ selectedMatch }};
        var storedValue = amplify.store(matchId);
        if(!storedValue){
            player_vote(matchId,teamId,playerId,function(returnVal){
                console.log(returnVal);
            });
            $(elem).removeClass("vote-button-selectable");
            $(elem).addClass("vote-button-selected");
            var rates = document.getElementsByClassName("vote-button-selectable")
            for(var i= 0; i< rates.length; i++){
                var item = rates[i];
                $(item).hide();
            }
            amplify.store(matchId,teamId+"/"+playerId);
        }
    }
    var storedValue = amplify.store("{{ selectedMatch }}")
    if(storedValue){
        var rates = document.getElementsByClassName("vote-button-selectable")
        for(var i= 0; i< rates.length; i++){
            var item = rates[i];
            if(item.value == storedValue){
                $(item).removeClass("vote-button-selectable");
                $(item).addClass("vote-button-selected");
            }
        }
        var rates = document.getElementsByClassName("vote-button-selectable")
        for(var i= 0; i< rates.length; i++){
            var item = rates[i];
            $(item).hide();
        }
    }
</script>
<script type="text/javascript">
    {% for x in matchSquad|dictsortreversed:"votePercent" %}
        var canvas=document.getElementById('mycanvas{{ forloop.counter }}');
        var ctx=canvas.getContext('2d');
        ctx.fillStyle="red";
        var number = {{ x.votePercent }}*(canvas.width/100);
        var percentDifference = parseInt(number);
        ctx.fillRect(0,0,percentDifference,canvas.height);
        ctx.font="normal 12px Arial";
        ctx.fillStyle="black";
        ctx.fillText("%{{ x.votePercent }}", 25, canvas.height/2+4);
    {% endfor %}
</script>