{% load url from future %}
{% load static %}
{% load templateextras %}
{% load match_center_tags %}
{% get_static_prefix as STATIC_URL %}

<!DOCTYPE html>
<html lang="en">

<head>

    <title>{% block title %}İstatistik | istatistik.ligtv.com.tr{% endblock %}</title>

    {% include '_vs_headincludes.html' %}
    <script>
        var week = {{ currentWeek }}
                console.log("{{ currentWeek }}")
        console.log("{{ selectedMatch }}")

        var prepTimelinr = function(){
            $().timelinr({
                issuesSpeed: 	300,
                datesSpeed: 	100,
                arrowKeys: 		'true',
                startAt:		week
            })
        }

        $(prepTimelinr);
    </script>

    {% block head-addition %}{% endblock %}

</head>

<body>

<div id="global-header">
    {% include '_vs_scoreboard.html' with matchInfo=matchInfo only %}
</div>

<div id="content">
    <div id="sidebar">

        <div class="fixture">
            {% sl_fixture selectedMatch %}
        </div>

        {% include '_vs_goalvideo.html' with goals=goals only %}

        {% include '_vs_sidestats.html' with matchData=matchData only %}

    </div>
    <div id="main">
        <div id="menu">
            {% block menu %}{% endblock %}
        </div>
        <div style="width:100%;">
            {% block content %}{% endblock %}
        </div>
    </div>

</div>

<div id="footer"></div>

</body>

</html>