{% extends "vs_base.html" %}

{% block head-addition %}
    <script src="{{ STATIC_URL }}js/heatmap.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/chalkboard.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}/js/timeline.js" type="text/javascript"></script>

    <script type="text/javascript"> window.matchId = {{selectedMatch}}; </script>

    <script src="{{ STATIC_URL }}js/chalkboard_ui.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/chalkboard.css" />
    <link rel="stylesheet"  type="text/css" href="{{ STATIC_URL }}css/slider.css" />

    <style type="text/css">
        canvas#slider {
            margin-left: 50px;
        }
    </style>
{% endblock %}
{% block menu %}
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="../before">MAÇ ÖNCESİ</a></li>
                <li><a href="../center">STADYUM</a></li>
                <li class="active"><a href="../table">MAÇ TAHTASI</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block content %}

    <div class="row">
        <canvas id="slider"></canvas>
    </div>
    
    <div class="row">
        <div id="chalkboardContainer"></div>
    </div>
    <div class="row chalkboard-controls">
        <div class="btn-group">
            <button type="button" class="btn" data-toggle="button" id="shots">
                Sutlar
            </button>
            <button type="button" class="btn" data-toggle="button" id="passes">
                Paslar
            </button>
            <button type="button" class="btn" data-toggle="button" id="heatmap">
                Isi Haritasi
            </button>
            <button type="button" class="btn" data-toggle="button" id="runpaths">
                Kosu Yollari
            </button>
        </div>
    </div>
    <div class="row">
        <div class="span6 teamlist-container">
            <div class="teamlist-inner">
                <h5 class="homeTeamName"></h5> 
                <ul class="no-bullets teamlist" id="homeTeamJersey">
                </ul>
            </div>
            <div class="teamlist-inner">
                <h5 class="awayTeamName"></h5>
                <ul class="no-bullets teamlist" id="awayTeamJersey">
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
