{% extends "vs_base.html" %}


{% block menu %}
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <ul class="nav">
                <li class="active"><a href="../before">MAÇ ÖNCESİ</a></li>
                <li><a href="../center">STADYUM</a></li>
                <li><a href="../table">MAÇ TAHTASI</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
{% block content %}
    <div class="history-area">
        <h1 class="main">Rekabet Geçmişi</h1>
            <div id="home">
                <h2>{{ matchInfo.homeTeam }}</h2>
                <img src="{{ STATIC_URL }}images/logo{{ matchInfo.homeTeamId }}.png">
            </div>
            <div id="comparison">
                    <div class="holder">
                        <h3>Geçmiş Maçlar</h3>
                        <p class="home-ratio home-ratio-before" style="width:{{ history.homeWinRatio }}%">{{ history.homeWins }}</p>
                        <p class="draw-ratio draw-ratio-before" style="width:{{ history.drawRatio }}%">{{ history.draws}}</p>
                        <p class="away-ratio away-ratio-before" style="width:{{ history.awayWinRatio }}%">{{ history.awayWins }}</p>
                    </div>
                    <div class="holder">
                        <h3>Karşılıklı Goller</h3>
                        <p class="home-ratio home-ratio-before" style="width:{{ history.homeGoalRatio }}%">{{ history.homeGoals }}</p>
                        <p class="away-ratio away-ratio-before" style="width:{{ history.awayGoalRatio }}%">{{ history.awayGoals }}</p>
                    </div>
                    <div class="holder">
                        <h3>Son 5 Maç</h3>
                        <div style="width: 50%;float: left;margin-top: 0px">
                            <div class="form">
                                {% include '_vs_before_form.html' with form=homeForm only %}
                            </div>
                        </div>
                        <div style="width: 50%;float: left;margin-top: 0px">
                            <div class="form">
                                {% include '_vs_before_form.html' with form=awayForm only %}
                            </div>
                        </div>
                    </div>
            </div>
            <div id="away">
                <h2>{{ matchInfo.awayTeam }}</h2>
                <img src="{{ STATIC_URL }}images/logo{{ matchInfo.awayTeamId }}.png">
            </div>
    </div>
    <div class="squad-area">
        {% include '_vs_before_squads.html' with awaySquad=awaySquad homeSquad=homeSquad only %}
    </div>

    <h1 class="main">Son Karşılaşmalar</h1>
    <div class="past-match-area">
        {% for match in history.pastMatches %}
            <a class="past-match">
                {% if match.referee %}
                    <p class="upper-info"> {{ match.stadium }}</p>
                {% else  %}
                    <p class="upper-info"> </p>
                {% endif %}
                <p class="upper-info">{{ match.date }}</p>
                {% if match.referee %}
                    <p class="upper-info"> {{ match.referee }}</p>
                {% else  %}
                    <p class="upper-info"> </p>
                {% endif %}
                <img src="{{ STATIC_URL }}images/logo{{ match.homeTeamId }}.png" id="homelogo">
                <p id="homename">{{ match.homeTeam }}</p>
                <p id="homescore">{{ match.homeScore }}</p>
                <p id="separator">-</p>
                <p id="awayscore">{{ match.awayScore }}</p>
                <p id="awayname">{{ match.awayTeam }}</p>
                <img src="{{ STATIC_URL }}images/logo{{ match.awayTeamId }}.png" id="awaylogo">
            </a>
        {% endfor %}
    </div>

{% endblock %}


