{% extends "vs_base.html" %}

{% block head-addition %}
    <script src="{{ STATIC_URL }}js/heatmap.js" type="text/javascript" xmlns="http://www.w3.org/1999/html"></script>
    <script src="{{ STATIC_URL }}js/chalkboard.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/timeline.js" type="text/javascript"></script>

    <script type="text/javascript"> window.matchId = {{selectedMatch}}; </script>

    <script src="{{ STATIC_URL }}js/chalkboard_ui.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/chalkboard.css" />
    <link rel="stylesheet"  type="text/css" href="{{ STATIC_URL }}css/slider.css" />


{% endblock %}
{% block menu %}
    <div id="navbar">
        <div id="nav">
            <a href="../before">MAÇ ÖNCESİ</a>
            <a href="../center">STADYUM</a>
            <div id="active">
                <a href="../table">MAÇ TAHTASI</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}

    <div class="slider-holder">
        <canvas id="slider"></canvas>
    </div>

    <div class="chalkboard-controls">
        <div class="checkbox">

            <label><input type="checkbox" class="btn"  data-toggle="checkbox" value="shots" id="shots">Şutlar</label>

            <label><input type="checkbox" class="btn" data-toggle="checkbox" value="passes" id="passes">Paslar</label>

            <label><input type="checkbox" class="btn" data-toggle="checkbox" value="heatmap" id="heatmap">Yoğunluk Haritası</label>

            <label><input type="checkbox" class="btn" data-toggle="checkbox" value="runpaths" id="runpaths">Koşu Yolları</label>

        </div>
    </div>



    <div>
        <div class="teamlist-container">
            <div class="teamlist-inner">
                <h5 class="homeTeamName"></h5>
                <ul  class="no-bullets teamlist" id="homeTeamJersey">
                </ul>
            </div>
        </div>

        <div class="put-arrowUp" id="homeArrow" title="Atak yönü"></div>
        <div class="put-arrowDown" id="awayArrow" title="Atak yönü"></div>
        <div id="chalkboardContainer">

        </div>

        <div class="teamlist-container">
            <div class="teamlist-inner1">
                <h5 class="awayTeamName" ></h5>
                <ul class="no-bullets teamlist" id="awayTeamJersey">

                </ul>
            </div>
        </div>
    </div>

{% endblock %}
