{% extends "vs_base.html" %}


{% block menu %}
    <div id="navbar">
        <div id="nav">
            <div id="active">
                <a href="../before">MAÇ ÖNCESİ</a>
            </div>
            <a href="../center">STADYUM</a>
            <a href="../table">MAÇ TAHTASI</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="info-area">
        <h1 class="main">Maç Bilgisi</h1>
        <div id="home">
            <h2>{{ matchInfo.homeTeam }}</h2>
            <img src="{{ STATIC_URL }}images/logo{{ matchInfo.homeTeamId }}.png">
        </div>

        <div id="matchinfo" data-bind="foreach: matchInfo">
            <img src="{{ STATIC_URL }}images/saat.png"><p data-bind="text: date + ', ' + time"></p>
            <img src="{{ STATIC_URL }}images/saha2.png"><p data-bind="text: stadium"></p>
            <img src="{{ STATIC_URL }}images/duduk.png"><p data-bind="text: referee"></p>
        </div>
        <div id="away">
            <h2>{{ matchInfo.awayTeam }}</h2>
            <img src="{{ STATIC_URL }}images/logo{{ matchInfo.awayTeamId }}.png">
        </div>
    </div>
    <div class="history-area">
        <div id="comparison">
            <div class="holder">
                <div class="tooltip-red"></div><h3>Geçmiş Maçlar</h3>
                <p class="home-ratio" style="width:{{ history.homeWinRatio }}%">{{ history.homeWins }}</p>
                <p class="draw-ratio" style="width:{{ history.drawRatio }}%">{{ history.draws}}</p>
                <p class="away-ratio" style="width:{{ history.awayWinRatio }}%">{{ history.awayWins }}</p>
            </div>
            <div class="holder">
                <div class="tooltip-red"></div><h3>Karşılıklı Goller</h3>
                <p class="home-ratio" style="width:{{ history.homeGoalRatio }}%">{{ history.homeGoals }}</p>
                <p class="away-ratio" style="width:{{ history.awayGoalRatio }}%">{{ history.awayGoals }}</p>
            </div>
            <div class="holder">
                <div class="tooltip-red"></div><h3>Son 5 Maç</h3>
                <div style="width: 50%;float: left;margin-top: 0px">
                    <div class="form">
                        {% include '_vs_before_form.html' with form=homeForm team=1 currentWeek=currentWeek only %}
                    </div>
                </div>
                <div style="width: 50%;float: left;margin-top: 0px">
                    <div class="form">
                        {% include '_vs_before_form.html' with form=awayForm team=2 currentWeek=currentWeek only %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="squad-area">
        {% include '_vs_before_squads.html' with awaySquad=awaySquad homeSquad=homeSquad %}
    </div>

    <h1 class="main">Geçmiş Karşılaşmalar</h1>
    <div class="past-match-area">
        {% for match in history.pastMatches %}
            <a class="past-match">
                {% if match.referee %}
                    <p class="upper-info"> {{ match.stadium }}</p>
                {% else  %}
                    <p class="upper-info"> </p>
                {% endif %}
                <p class="upper-info">{{ match.date }}</p>
                {% if match.referee %}
                    <p class="upper-info"> {{ match.referee }}</p>
                {% else  %}
                    <p class="upper-info"> </p>
                {% endif %}
                <img src="{{ STATIC_URL }}images/logo{{ match.homeTeamId }}.png" id="homelogo">
                <p id="homename">{{ match.homeTeam }}</p>
                <p id="homescore">{{ match.homeScore }}</p>
                <p id="separator">-</p>
                <p id="awayscore">{{ match.awayScore }}</p>
                <p id="awayname">{{ match.awayTeam }}</p>
                <img src="{{ STATIC_URL }}images/logo{{ match.awayTeamId }}.png" id="awaylogo">
            </a>
        {% endfor %}
    </div>

{% endblock %}


