{% extends "vs_base.html" %}

{% block head-addition %}
{% endblock %}
{% block menu %}
    <div id="navbar">
        <div id="nav">
            <div id="active">
                <a href="../before">MAÇ ÖNCESİ</a>
            </div>
            <a href="../center">STADYUM</a>
            <a href="../table">MAÇ TAHTASI</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="info-area">
        <h1 class="main">Maç Bilgisi<span class="tooltip-white"></span></h1>
        <div id="home">
            <h2>{{ matchInfo.homeTeam }}</h2>
            <img src="http://sentiotab.blob.core.windows.net/team/logo{{ matchInfo.homeTeamId }}_90.png">
        </div>

        <div id="matchinfo" data-bind="foreach: matchInfo">
            <img src="http://sentiotab.blob.core.windows.net/static/saat.png"><p data-bind="text: date + ', ' + time"></p>
            <img src="http://sentiotab.blob.core.windows.net/static/saha2.png"><p data-bind="text: stadium"></p>
            <img src="http://sentiotab.blob.core.windows.net/static/duduk.png"><p data-bind="text: referee"></p>
        </div>
        <div id="away">
            <h2>{{ matchInfo.awayTeam }}</h2>
            <img src="http://sentiotab.blob.core.windows.net/team/logo{{ matchInfo.awayTeamId }}.png">
        </div>
    </div>
    <div class="history-area">
        <div id="comparison">
            <div class="holder">
                <h3>Geçmiş Maçlar<span class="tooltip-red"></span></h3>
                <p class="home-ratio" style="width:{{ history.homeWinRatio }}%">{{ history.homeWins }}</p>
                <p class="draw-ratio" style="width:{{ history.drawRatio }}%">{{ history.draws}}</p>
                <p class="away-ratio" style="width:{{ history.awayWinRatio }}%">{{ history.awayWins }}</p>
            </div>
            <div class="holder">
                <h3>Karşılıklı Goller<span class="tooltip-red"></span></h3>
                <p class="home-ratio" style="width:{{ history.homeGoalRatio }}%">{{ history.homeGoals }}</p>
                <p class="away-ratio" style="width:{{ history.awayGoalRatio }}%">{{ history.awayGoals }}</p>
            </div>
            <div class="holder">
                <h3>Son 5 Maç<span class="tooltip-red"></span></h3>
                <div style="width: 50%;float: left;margin-top: 0px">
                    <div class="form">
                        {% include '_vs_before_form.html' with form=homeForm team=1 currentWeek=currentWeek only %}
                    </div>
                </div>
                <div style="width: 50%;float: left;margin-top: 0px">
                    <div class="form">
                        {% include '_vs_before_form.html' with form=awayForm team=2 currentWeek=currentWeek only %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="squad-area">
        {% include '_vs_before_squads.html' with awaySquad=awaySquad homeSquad=homeSquad %}
    </div>

    <h1 class="main">Geçmiş Karşılaşmalar<span class="tooltip-white"></span></h1>
    <div class="past-match-area">
        {% for match in history.pastMatches %}
            {% if  match.link %}
                <a href="{{ match.link }}" target="blank_" class="past-match">
            {% else %}
                <a class="past-match-not-clickable">
            {% endif %}
        <div id="upper">
            <div class=upper-info>
                {% if match.stadium %}
                    <img src="http://sentiotab.blob.core.windows.net/static/saha2.png">
                    <p> {{ match.stadium }}</p>
                {% endif %}
            </div>
            <div class="upper-info">
                <img src="http://sentiotab.blob.core.windows.net/static/saat.png">
                <p>{{ match.date }}</p>
            </div>
            <div class="upper-info">
                {% if match.referee %}
                    <img src="http://sentiotab.blob.core.windows.net/static/duduk.png">
                    <p> {{ match.referee }}</p>
                {% endif %}
            </div>
        </div>
        <img src="http://sentiotab.blob.core.windows.net/team/logo{{ match.homeTeamId }}_30.png" id="homelogo">
        <p id="homename">{{ match.homeTeam }}</p>
        <p id="homescore">{{ match.homeScore }}</p>
        <p id="separator">-</p>
        <p id="awayscore">{{ match.awayScore }}</p>
        <p id="awayname">{{ match.awayTeam }}</p>
        <img src="http://sentiotab.blob.core.windows.net/team/logo{{ match.awayTeamId }}_30.png" id="awaylogo">
        </a>
        {% endfor %}
    </div>


{% endblock %}


