{% extends "vs_base.html" %}

{% load match_center_tags %}

{% block head-addition %}
    <script src="{{ STATIC_URL }}js/radar.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/timeline.js" type="text/javascript"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js"></script>
    <script type="text/javascript"> window.matchId = {{selectedMatch}}; </script>
    <script src="{{ STATIC_URL }}js/radar_ui.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/radar.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/teambar-style.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/formations.css" />
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="{{ STATIC_URL }}js/simpled3.js"></script>

    <script type="text/javascript">

        $( document ).ready(function() {
            //console.log( "ready!" );
            $("#radarContainer").hide();
            toggleCanvas = function(elem){
                var elemValue = elem.value;
                if(elemValue == "showFormation"){
                    $("#radarContainer").hide();
                    $("#stadium").show();
                    $("#canvas-row").height("360px");
                    $("#showRadar").removeClass("canvas-button-active");
                    $("#showFormation").removeClass("canvas-button");
                    $("#showRadar").addClass("canvas-button");
                    $("#showFormation").addClass("canvas-button-active");
                }
                else if(elemValue == "showRadar"){
                    $("#radarContainer").show();
                    $("#stadium").hide();
                    $("#canvas-row").height("470px");
                    $("#showRadar").removeClass("canvas-button");
                    $("#showFormation").removeClass("canvas-button-active");
                    $("#showRadar").addClass("canvas-button-active");
                    $("#showFormation").addClass("canvas-button");
                }
            }
        });

    </script>

    <script type="text/javascript">

        var valueMap = {1: "events",
            2: "narrations",
            3: "teamstats",
            4: "playerstats"};

        function handleSelect(elm)
        {
            $(".inside-menu button.active").removeClass("active");
            $(elm).addClass("active");
            if (elm.value == 3) {
                loadTeamStats();
            }
            else {
                var url = '/new/partial/' + valueMap[elm.value] + "/{{ selectedMatch }}/";
                $("#data-area").load(url);
            }
        }

        function loadTeamStats(){
            $.ajax({
                dataType: "json",
                url: "/new/partial/teamdump/{{ selectedMatch }}",
                success: function(d){

                    var pref = {
                        "width": $("#data-area").width()
                    };
                    $("#data-area").empty();
                    $("#data-area").append("<div class='team-name-area'><img src='{{ STATIC_URL }}images/logo{{ matchInfo.homeTeamId }}.png'><p>{{ matchInfo.homeTeam }}</p><p>{{ matchInfo.awayTeam }}</p><img src='{{ STATIC_URL }}images/logo{{ matchInfo.awayTeamId }}.png'></div>");
                    simpleBar("#data-area", d.teamStats, pref);
                }
            });
        }

        function refreshScreens()
        {
            var activeTab = $(".inside-menu button.active").attr("value");
            if (activeTab==3){
                loadTeamStats();
            }
            else {
                var url = '/new/partial/' + valueMap[activeTab] + "/{{ selectedMatch }}/";
                $("#data-area").load(url);
            }
        }

        function bindTimer(){
            setInterval(refreshScreens, 30000);
        }
        bindTimer();
    </script>

    <script type="text/javascript">
        $(function(){
                    $.event.trigger({
                        type: "radarPlayerClick",
                        "team_id": {{ gks.0.team_id }},
                        "jersey_no": {{ gks.0.jersey_no }},
                        "player_id": {{ gks.0.player_id }},
                        "homeOrAway": 0,
                        "week": {{ currentWeek }}
                    });

                    $.event.trigger({
                        type: "radarPlayerClick",
                        "team_id": {{ gks.1.team_id }},
                        "jersey_no": {{ gks.1.jersey_no }},
                        "player_id": {{ gks.1.player_id }},
                        "homeOrAway": 1,
                        "week": {{ currentWeek }}
                    });
                }
        );

    </script>

{% endblock %}


{% block menu %}
    <div id="navbar">
        <div id="nav">
            <a href="../before">MAÇ ÖNCESİ</a>
            <div id="active">
                <a href="../center">STADYUM</a>
            </div>
            <a href="../table">MAÇ TAHTASI</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="slider-holder">
            <canvas id="slider"></canvas>
        </div>
    </div>
    <div class="row" id="canvas-row" style="height: 360px">
        <button class="canvas-button-active" id="showFormation" value="showFormation"  style="margin-left: 50px;" onclick="toggleCanvas(this)">Formasyon</button>
        <button class="canvas-button" id="showRadar" value="showRadar" onclick="toggleCanvas(this)">Radar</button>
        <div id="radarContainer">
            <span id="timeDisplay" class="pull-right"></span></p>
            <div id="canvasContainer" style="position: relative;">
                <div id="canvasOverlay">
                    <!--<p class="canvas-message"></p>-->
                    <p id="canvas-play-button"><i class="icon-white icon-play"></i></p>
                </div>
            </div>
        </div>

        <div id="stadium">
            <ul class="home-team-formation">
                {% for player in homeSquad %}
                    {% if player.eleven == 1 %}
                        <li class="{{ player.playerPosition }}">
                            <p>{{ player.playerNameShort }}</p>
                            <div class="event-area">
                                {% for event in player.playerEvents %}
                                    {% if event.eventType == 7 %}
                                        {% if player.eleven == 0 %}
                                            {% if event.playerId == player.playerId %}
                                                <a title="" class="sub-out" id="{{ player.playerId }}-{{ forloop.counter }}"></a>
                                            {% else %}
                                                <a title="" class="sub-in" id="{{ player.playerId }}-{{ forloop.counter }}"></a>
                                            {% endif %}
                                        {% else %}
                                            <a title="" class="sub-out" id="{{ player.playerId }}-{{ forloop.counter }}"></a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% if player.playerPosition == "GK" %}
                                <span style="background: url('{{ STATIC_URL }}images/home_gk_jersey.png'); color: #ffffff" onclick="changePlayerCard({{ currentWeek }},0,{{ player.playerId }},{{ player.jerseyNumber }})" player-data="{{ player.playerId }}">{{ player.jerseyNumber }}</span>
                            {% else %}
                                <span class="teamcolor-{{ matchInfo.homeTeamId }}" style="background: url('{{ STATIC_URL }}images/jersey{{ matchInfo.homeTeamId }}.png')" onclick="changePlayerCard({{ currentWeek }},0,{{ player.playerId }},{{ player.jerseyNumber }})" player-data="{{ player.playerId }}">{{ player.jerseyNumber }}</span>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <ul class="away-team-formation">
                {% for player in awaySquad|dictsort:"playPosition"%}
                    {% if player.eleven == 1 %}
                        <li class="{{ player.playerPosition }}">
                            <p>{{ player.playerNameShort }}</p>
                            <div class="event-area">
                                {% for event in player.playerEvents %}
                                    {% if event.eventType == 7 %}
                                        {% if player.eleven == 0 %}
                                            {% if event.playerId == player.playerId %}
                                                <a title="" class="sub-out" id="{{ player.playerId }}-{{ forloop.counter }}"></a>
                                            {% else %}
                                                <a title="" class="sub-in" id="{{ player.playerId }}-{{ forloop.counter }}"></a>
                                            {% endif %}
                                        {% else %}
                                            <a title="" class="sub-out" id="{{ player.playerId }}-{{ forloop.counter }}"></a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% if player.playerPosition == "GK" %}
                                <span style="background: url('{{ STATIC_URL }}images/away_gk_jersey.png'); color: #ffffff" onclick="changePlayerCard({{ currentWeek }},1,{{ player.playerId }},{{ player.jerseyNumber }})" player-data="{{ player.playerId }}">{{ player.jerseyNumber }}</span>
                            {% else %}
                                <span class="teamcolor-{{ matchInfo.awayTeamId }}" style="background: url('{{ STATIC_URL }}images/jersey{{ matchInfo.awayTeamId }}.png')" onclick="changePlayerCard({{ currentWeek }},1,{{ player.playerId }},{{ player.jerseyNumber }})" player-data="{{ player.playerId }}">{{ player.jerseyNumber }}</span>
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <ul class="home-team-subs">
                {% for player in homeSquad|dictsort:"playPosition" %}
                    {% if player.eleven == 0 %}
                        <li class="S{{ forloop.counter }}">

                            <div class="event-area">
                                {% for event in player.playerEvents %}
                                    {% if event.eventType == 7 %}
                                        {% if player.eleven == 0 %}
                                            {% if event.playerId == player.playerId %}
                                                <a title="" class="sub-out" id="{{ player.playerId }}-{{ forloop.counter }}"></a>
                                            {% else %}
                                                <a title="" class="sub-in" id="{{ player.playerId }}-{{ forloop.counter }}"></a>
                                            {% endif %}
                                        {% else %}
                                            <a title="" class="sub-out" id="{{ player.playerId }}-{{ forloop.counter }}"></a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% if player.playPosition == 1 %}
                                <span style="background: url('{{ STATIC_URL }}images/home_gk_jersey.png'); color: #ffffff" onclick="changePlayerCard({{ currentWeek }},0,{{ player.playerId }},{{ player.jerseyNumber }})" player-data="{{ player.playerId }}">{{ player.jerseyNumber }}</span>
                            {% else %}
                                <span class="teamcolor-{{ matchInfo.homeTeamId }}" style="background: url('{{ STATIC_URL }}images/jersey{{ matchInfo.homeTeamId }}.png')" onclick="changePlayerCard({{ currentWeek }},0,{{ player.playerId }},{{ player.jerseyNumber }})" player-data="{{ player.playerId }}">{{ player.jerseyNumber }}</span>
                            {% endif %}

                            <p>{{ player.playerNameShort }}</p>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <ul class="away-team-subs">
                {% for player in awaySquad|dictsort:"playPosition"%}
                    {% if player.eleven == 0 %}
                        <li class="S{{ forloop.counter }}">
                            <div class="event-area">
                                {% for event in player.playerEvents %}
                                    {% if event.eventType == 7 %}
                                        {% if player.eleven == 0 %}
                                            {% if event.playerId == player.playerId %}
                                                <a title="" class="sub-out" id="{{ player.playerId }}-{{ forloop.counter }}"></a>
                                            {% else %}
                                                <a title="" class="sub-in" id="{{ player.playerId }}-{{ forloop.counter }}"></a>
                                            {% endif %}
                                        {% else %}
                                            <a title="" class="sub-out" id="{{ player.playerId }}-{{ forloop.counter }}"></a>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                            {% if player.playPosition == 1 %}
                                <span style="background: url('{{ STATIC_URL }}images/away_gk_jersey.png'); color: #ffffff" onclick="changePlayerCard({{ currentWeek }},1,{{ player.playerId }},{{ player.jerseyNumber }})" player-data="{{ player.playerId }}">{{ player.jerseyNumber }}</span>
                            {% else %}
                                <span class="teamcolor-{{ matchInfo.awayTeamId }}" style="background: url('{{ STATIC_URL }}images/jersey{{ matchInfo.awayTeamId }}.png')" onclick="changePlayerCard({{ currentWeek }},1,{{ player.playerId }},{{ player.jerseyNumber }})" player-data="{{ player.playerId }}">{{ player.jerseyNumber }}</span>
                            {% endif %}
                            <p>{{ player.playerNameShort }}</p>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="row" id="playerCardsContainer" style="margin-bottom: 10px">
        <div class="span4 card-container" id="leftPlayerCard">
            <img src="{{ STATIC_URL }}images/card-hole.png">
            <div class="card-inside">

                <div class="card-header row-fluid">
                    <img class="playerImage" src="{{STATIC_URL}}images/players/default.png">
                    <div class="playerInfo">
                        <p class="playerName">Oyuncu Karti</p>
                    </div>
                </div>
                <div class="card-data row-fluid">
                    <table class="card-table">
                        <tr>
                            <th>İstatistik</th>
                            <th>Bu Sezon</th>
                            <th>Bu Hafta</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <div class="span4 card-container" id="rightPlayerCard">
            <img src="{{ STATIC_URL }}images/card-hole.png">
            <div class="card-inside">
                <div class="card-header row-fluid">
                    <img class="playerImage" src="{{STATIC_URL}}images/players/default.png">
                    <div class="playerInfo">
                        <p class="playerName">Oyuncu Karti</p>
                    </div>
                </div>
                <div class="card-data row-fluid">
                    <table class="card-table">
                        <tr>
                            <th>İstatistik</th>
                            <th>Bu Sezon</th>
                            <th>Bu Hafta</th>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="inside-menu">
        <button value="1" class="active" onclick="handleSelect(this)">OLAYLAR</button>
        <button value="2" onclick="handleSelect(this)">ANLATIM</button>
        <button value="3" onclick="handleSelect(this)">TAKIM İSTATİSTİKLERİ</button>
        <button value="4" onclick="handleSelect(this)">OYUNCU İSTATİSTİKLERİ</button>
    </div>

    <div class="data-area" id="data-area">

    </div>

    <script>
        var squad = jQuery.parseJSON('{{ matchSquad|jsonify }}');
        $(function() {
            $( document ).tooltip({
                items: "[player-data]",
                content: function() {
                    var element = $( this );
                    if ( element.is( "[player-data]" ) ) {
                        var text = element.attr("player-data");
                        for(var i=0;i<squad.length;i++){
                            var returnVal = "";
                            if(parseInt(squad[i]["playerId"]) == parseInt(text)){
                                var events = squad[i]["playerEvents"];
                                console.log(events);
                                if(events.length == 0){
                                    return
                                }
                                for(var j=0; j<events.length; j++){
                                    var eventType = events[j]["eventType"];
                                    var matchTime  = events[j]["matchTime"];
                                    var playerName = events[j]["playerName"];
                                    var playerNameIn = events[j]["playerNameIn"];
                                    if(eventType == 7){;
                                        returnVal += "<div class='ttip-formation'><p style='text-align:center'>" + matchTime + "' <span style='color:#ca1111'>" + playerName + "</span> - <span style='color:#139d04'>" + playerNameIn + "</span></p></div>"
                                    }
                                    else if(eventType == 0){
                                        returnVal += "<div class='ttip-formation'><p style='text-align:center'>" + matchTime + "' Gol</p></div>"
                                    }
                                    else if(eventType == 1){
                                        returnVal += "<div class='ttip-formation'><p style='text-align:center'>" + matchTime + "' Kendi Kalesine Gol</p></div>"
                                    }
                                    else if(eventType == 2){
                                        returnVal += "<div class='ttip-formation'><p style='text-align:center'>" + matchTime + "' Gol(Penaltı)</p> </div>"
                                    }
                                    else if(eventType == 3){
                                        returnVal += "<div class='ttip-formation'><p style='text-align:center'>" + matchTime + "' Kaçan Penaltı</p> </div>"
                                    }
                                    else if(eventType == 4){
                                        returnVal += "<div class='ttip-formation'><p style='text-align:center'>" + matchTime + "' Sarı Kart</p> </div>"
                                    }
                                    else if(eventType == 5){
                                        returnVal += "<div class='ttip-formation'><p style='text-align:center'>" + matchTime + "' İkinci Sarı Kart</p> </div>"
                                    }
                                    else if(eventType == 6){
                                        returnVal += "<div class='ttip-formation'><p style='text-align:center'>" + matchTime + "' Kırmızı Kart</p> </div>"
                                    }
                                }
                                return returnVal;
                            }
                        }
                    }
                },
                show: {
                    effect: "show",
                    delay: 100
                },
                hide: {
                    effect: "hide",
                    delay: 100
                },
                position: {
                    my: "center bottom",
                    at: "center top"
                },
                close: function (event, ui) {
                    $('div.ui-effects-wrapper').remove();
                }
            });
        });
        var url = '/new/partial/' + valueMap[1] + "/{{ selectedMatch }}/";
        $("#data-area").load(url);

    </script>
    <script>
        changePlayerCard =  function(weekid,homeOrAway,playerid,jerseyno){
            $.post("/api/GetPlayerCard", JSON.stringify({leagueId: 1, seasonId: 9064, weekId: weekid, playerId: playerid})).done(function(data){
                var info = data.data;
                var $card = (homeOrAway==0) ? $("#leftPlayerCard") : $("#rightPlayerCard");

                var imageTag = "<img class='teamLogo' src='/static/images/logo"+info.teamId+".png' />";
                $card.find(".playerName").html(imageTag + info.playerName + " (#"+jerseyno+")");
                $card.find(".playerImage").attr("src", "http://sentiotab.blob.core.windows.net/player/"+playerid+".png");

                var $table = $card.find(".card-table");
                $table.empty();
                $table.append("<tr><th>İstatistik</th><th>Sezon Ortalaması</th><th>Bu Hafta</th></tr>");

                var statNames = {"passes": "Toplam Pas",
                    "shotsOnTarget": "İsabetli",
                    "crosses": "Toplam Orta",
                    "foulsSuffered": "Maruz Kalınan Faul",
                    "totalDistance": "Kat Edilen Mesafe",
                    "yellowCard": "Sarı Kart",
                    "corners": "Korner",
                    "redCard": "Kırmızı Kart",
                    "successfulCross": "İsabetli",
                    "penalty": "Penaltı",
                    "assists": "Asist",
                    "goals": "Gol",
                    "shots": "Toplam Şut",
                    "foulsCommitted": "Yapılan Faul",
                    "matchesPlayed": "Oynadığı Maç Sayısı",
                    "successfulPass": "İsabetli",
                    "goalsConceded": "Yediği Gol",
                    "offside": "Ofsayt"}


                /*kaleci mi, oyuncu mu ayrımı
                 * serviste goals hiç tanımlanmamışsa kalecidir*/

                if(typeof info.statistics.goals === "undefined"){
                    var goalkeeperStatistics = new Object();
                    goalkeeperStatistics.matchesPlayed = info.statistics.matchesPlayed;
                    goalkeeperStatistics.goalsConceded = info.statistics.goalsConceded;
                    goalkeeperStatistics.successfulPass = info.statistics.successfulPass;
                    goalkeeperStatistics.passes = info.statistics.passes;
                    goalkeeperStatistics.yellowCard = info.statistics.yellowCard;
                    goalkeeperStatistics.redCard = info.statistics.redCard;

                    var flag = 0;
                    var statNameHolder;
                    var val0Holder;
                    var var1Holder;

                    _.each(goalkeeperStatistics, function(value, key){

                        var statName = statNames[key];
                        var val0 = (value[1]%1==0) ? value[1] : value[1].toFixed(2);
                        var val1 = (value[0]%1==0) ? value[0] : value[0].toFixed(2);
                        if(statName!=null){
                            if(flag == 1){
                                $table.append("<tr><td>"+statNameHolder+" / "+statName+"</td><td>"+val0Holder+" / "+val0+"</td><td>"+var1Holder+" / "+val1+"</td></tr>");
                                flag = 0;
                            }
                            else if(statName === "İsabetli"){
                                statNameHolder = statName;
                                val0Holder = val0;
                                var1Holder = val1;
                                flag = 1;
                            }
                            else{
                                $table.append("<tr><td>"+statName+"</td><td>"+val0+"</td><td>"+val1+"</td></tr>");
                            }
                        }

                    });
                }
                else{

                    var playerStatistics = new Object();
                    playerStatistics.matchesPlayed = info.statistics.matchesPlayed;
                    playerStatistics.goals = info.statistics.goals;
                    playerStatistics.assists = info.statistics.assists;
                    playerStatistics.successfulPass = info.statistics.successfulPass;
                    playerStatistics.passes = info.statistics.passes;
                    playerStatistics.shotsOnTarget = info.statistics.shotsOnTarget;
                    playerStatistics.shots = info.statistics.shots;
                    playerStatistics.successfulCross = info.statistics.successfulCross;
                    playerStatistics.crosses = info.statistics.crosses;
                    playerStatistics.totalDistance = info.statistics.totalDistance;
                    playerStatistics.offside = [0,0];
                    playerStatistics.foulsSuffered = info.statistics.foulsSuffered;
                    playerStatistics.foulsCommitted = info.statistics.foulsCommitted;
                    playerStatistics.yellowCard = info.statistics.yellowCard;
                    playerStatistics.redCard = info.statistics.redCard;

                    var flag = 0;
                    var statNameHolder;
                    var val0Holder;
                    var var1Holder;

                    _.each(playerStatistics, function(value, key){

                        var statName = statNames[key];
                        var val0 = (value[1]%1==0) ? value[1] : value[1].toFixed(2);
                        var val1 = (value[0]%1==0) ? value[0] : value[0].toFixed(2);
                        if(statName!=null){
                            if(flag == 1){
                                $table.append("<tr><td>"+statNameHolder+" / "+statName+"</td><td>"+val0Holder+" / "+val0+"</td><td>"+var1Holder+" / "+val1+"</td></tr>");
                                flag = 0;
                            }
                            else if(statName === "İsabetli"){
                                statNameHolder = statName;
                                val0Holder = val0;
                                var1Holder = val1;
                                flag = 1;
                            }
                            else{
                                $table.append("<tr><td>"+statName+"</td><td>"+val0+"</td><td>"+val1+"</td></tr>");
                            }
                        }
                    });
                }
            });
        }

    </script>

{% endblock %}





