{% extends "vs_base.html" %}

{% load match_center_tags %}

{% block head-addition %}
    <script src="{{ STATIC_URL }}js/radar.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}/js/timeline.js" type="text/javascript"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js"></script>

    <!-- radar script -->
    <script type="text/javascript">
        $(function(){
            var timelineScope = new paper.PaperScope();
            var radarScope = new paper.PaperScope;

            var radar = new Radar({{selectedMatch}}, radarScope);
            var timeline = new Timeline({divId: "slider", matchId: {{selectedMatch}} , sliderCount: 1, paperScope: timelineScope});

            $(document).on("radarTimeChange", function(event){
                timeline.moveSlider("left", event.minute, event.second);
            });

            $("#slider").on("timeChanged", function(event){

            });

            $("#startMatch").click(function(){
                radar.startMatch();
            });
        });
    </script>


    <script type="text/javascript">

    var valueMap = {1: "events",
        2: "narrations",
        3: "teamstats",
        4: "playerstats"}


    function handleSelect(elm)
    {
        $("#div-menu li.active").removeClass("active")
        $(elm).addClass("active")
        var url = '/new/partial/' + valueMap[elm.value] + "/{{ selectedMatch }}/";
        $("#data-area").load(url);
    }

    function refreshScreens()
    {
        $(".fixture").load('/new/partial/fixture/{{ selectedMatch }}/', function(responseTxt,statusTxt,xhr){
            if(statusTxt=="success")
                prepTimelinr();
        });

        var activeTab = $("#div-menu li.active").attr("value");
        var url = '/new/partial/' + valueMap[activeTab] + "/{{ selectedMatch }}/";
        $("#data-area").load(url);
    }
    </script>

    <!-- refresh try -->
    <script type="text/javascript">
    $(document).ready(function(){

        $("#data-area").load('/new/partial/events/{{ selectedMatch }}/');

        var refreshFixture = function(){
            $(".fixture").load('/new/partial/fixture/{{ selectedMatch }}/', function(responseTxt,statusTxt,xhr){
                if(statusTxt=="success")
                    prepTimelinr();
            });
        }

        $("#tryRefresh").click(refreshFixture);

        //setInterval(refreshFixture, 5000);
    })

    </script>
    <!-- end refresh try -->

    <style type="text/css">
        #radarContainer > * {
            margin-left: 50px;
        }
        canvas#slider {
            margin-left: 50px;
        }
    </style>
{% endblock %}


{% block menu %}
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a href="../before">MAÇ ÖNCESİ</a></li>
                <li class="active"><a href="../center">STADYUM</a></li>
                <li><a href="../table">MAÇ TAHTASI</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block content %}
    <button class="btn btn-primary" onclick="refreshScreens()">Refresh!</button>
    <div class="row">
        <div id="radarContainer">
            <p><button class="btn" id="startMatch">Maci Baslat</button></p>
            <div id="timeDisplay"></div>
        </div>
    </div>
    <div class="row">
        <canvas id="slider"></canvas>
    </div>

    <div id="div-menu" style="background-color: #2a2a28; width: 100%;float: left;line-height: 50px;text-align: center;margin-top: 2px">
        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <ul class="nav">
                    <li class="active" value="1" onclick="handleSelect(this)"><a>OLAYLAR</a></li>
                    <li value="2" onclick="handleSelect(this)"><a>ANLATIM</a></li>
                    <li value="3" onclick="handleSelect(this)"><a>TAKIM İSTATİSTİKLERİ</a></li>
                    <li value="4" onclick="handleSelect(this)"><a>OYUNCU İSTATİSTİKLERİ</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="data-area" id="data-area">
    </div>


{% endblock %}


