{% load static %}
{% get_static_prefix as STATIC_URL %}


<!doctype html>
<html>
<head>
    <title>Chalkboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="{{ STATIC_URL }}js/paper.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery-1.10.1.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/underscore.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-slider.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/heatmap.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/jquery.cookie.js" type="text/javascript"></script>

    <script src="{{ STATIC_URL }}js/chalkboard.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/ui.js" type="text/javascript"></script>

    <link rel="stylesheet"  type="text/css" href="{{ STATIC_URL }}css/bootstrap.css" />
    <link rel="stylesheet"  type="text/css" href="{{ STATIC_URL }}css/bootstrap-responsive.css" />
    <link rel="stylesheet"  type="text/css" href="{{ STATIC_URL }}css/slider.css" />

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/site.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/chalkboard.css" />
</head>
<body>
    <div class="container">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <ul class="nav centered">
                    <li><a href="#">Mac Oncesi</a></li>
                    <li><a href="#">Mac Merkezi</a></li>
                    <li><a href="#">Mac Ozeti</a></li>
                    <li><a href="#">Oyuncu Istatistikleri</a></li>
                    <li><a href="#">Mac Tahtasi</a></li>
                </ul>
            </div>
        </div>

        <div class="row game-banner">
            <div class="offset3 span2">
                <p class="pull-left large-text">
                    <img src="{{ STATIC_URL }}/images/fener_logo.png" class="thumbnail-40" />
                    Fenerbahce
                </p>
            </div>
            <div class="span2">
                <p class="large-text macskoru centered">2-1</p>
            </div>
            <div class="span2">
                <p class="pull-right large-text">
                    Galatasaray
                    <img src="{{ STATIC_URL }}/images/galata_logo.png" class="thumbnail-40" />
                </p>
            </div>
        </div>
        <div class="row game-info">
            <div class="offset3 span2">
                <p class="pull-right">
                    12.05.2013 20.00
                </p>
            </div>
            <div class="span2">
                <p class="centered">
                    Sukru Saracoglu Stadyumu
                </p>
            </div>
            <div class="span2">
                <p class="pull-left">
                    Hakem: Cuneyt Cakir
                </p>
            </div>
        </div>

        <div class="row">
            <div class="span3">
                <div class="red-box">
                    <h5>Fenerbahce</h5>
                </div>
                <div class="light-gray-box">
                    <ul class="no-bullets teamlist" id="homeTeamJersey">
                    </ul>
                </div>

            </div>
            <div class="span6 light-gray-box">
                <div class="row">
                    <div class="span6">
                        <div id="chalkboardContainer"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="span6 gray-box">
                        <div class="row">
                            <div class="span6">
                                <p><input type="text" id="timeSlider" /></p>
                            </div>
                        </div>
                        <div class="row chalkboard-controls">
                            <div class="btn-group">
                                <button type="button" class="btn" data-toggle="button" id="shots">
                                    Shots
                                </button>
                                <button type="button" class="btn" data-toggle="button" id="passes">
                                    Passes
                                </button>
                                <button type="button" class="btn" data-toggle="button" id="heatmap">
                                    Heatmap
                                </button>
                                <button type="button" class="btn" data-toggle="button" id="runpaths">
                                    Runpaths
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="span3">
                <div class="red-box">
                    <h5>Galatasaray</h5>
                </div>
                <div class="light-gray-box">
                    <ul class="no-bullets teamlist" id="awayTeamJersey">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
