{% load url from future %}
{% load static %}
{% load templateextras %}
{% get_static_prefix as STATIC_URL %}

<!DOCTYPE html>
<html>
<head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}/js/underscore.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}/js/paper.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}/js/radar.js" type="text/javascript"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.10/socket.io.min.js"></script>
    <script type="text/javascript">
        $(function(){
            var radar = new Radar(11730074);
            radar.startMatch();
        });
    </script>
</head>
<body>
    <div id="radarContainer">
    </div>
</body>
</html>