
<div>
    <table class="hovertable">
        <tr>
            <th class="first" style="width: 3%"></th> <th style="width: 3%"></th><th></th><th style="width: 3%">O</th><th style="width: 3%">G</th><th style="width: 3%">B</th><th style="width: 3%">M</th><th style="width: 3%">A</th><th style="width: 3%">Y</th><th style="width: 3%">AV</th><th class="last" style="width: 3%">P</th>
        </tr>

        {% for i in standing_list|dictsortreversed:"average"|dictsortreversed:"points"%}
            {% if forloop.counter < 3 %}
                <tr style="background-color: rgba(20,60,20,1)">
                    {% elif forloop.counter < 5 %}
                <tr style="background-color: rgba(60,60,20,1)">
                    {% elif forloop.counter > 15 %}
                <tr style="background-color: rgba(60,20,20,1)">
                    {% else %}
                <tr>
            {% endif %}

        {% if i.change > 0 %}
            <td style="background-color: rgb(45,136,45)">{{ i.change }}</td>
        {% elif i.change < 0 %}

            <td style="background-color: rgb(142,47,47)">{{ i.change }}</td>

        {% else %}
            <td style="background-color: #929194">{{ i.change }}</td>
        {% endif %}

        <td>{{ forloop.counter }}</td><td style="text-align: left" >{{ i.teamName }}</td><td>{{ i.played }}</td><td>{{ i.win }}</td><td>{{ i.draw }}</td><td>{{ i.lose }}</td><td>{{ i.score }}</td><td>{{ i.conceded }}</td><td>{{ i.average }}</td><td>{{ i.points }}</td>
        </tr>

        {% endfor %}
    </table>
</div>
