{% extends "statsbase.html" %}

{% block title %}İstatistik | istatistik.ligtv.com.tr{% endblock %}

{% block head-addition %}
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([
                ['Hafta', 'Siralama' ],
                {% for x in s_list %}
                    [ {{ forloop.counter }}, {{ x }}],
                {% endfor %}

            ]);

            var options = {
                title: 'Performans Grafigi',
                vAxis: {
                    maxValue: 18,
                    minValue: 1,
                    textStyle: {
                        color: 'black'
                    },
                    direction: -1,
                    gridlines: {
                        count: 18
                    },
                    baselineColor : 'black'
                },
                hAxis: {
                    baselineColor : 'black',
                    textStyle: {
                        color: 'black'
                    },
                    gridlines: {
                        count: 34
                    }
                },
                backgroundColor: '#b7b7b7',
                chartArea: {
                    left:20,
                    top:20,
                    width:"95%",
                    height:"80%"
                },
                legend: {
                    position: 'none'
                },
                titlePosition: 'none',
                axisTitlesPosition: 'none'

            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
            chart.draw(data, options);
        }
    </script>

    <script>
        function changeContent(num){
            htmltoSet = "";
            if(num == 1){
                htmltoSet = "<a> <button onclick='changeContent(3)'>Takım Özeti</button> </a><div class='active'><a> <button onclick='changeContent(1)'>Fikstür</button> </a></div><a> <button onclick='changeContent(2)'>Kadro Analizi</button> </a>"
            }
            else if(num==2){
                htmltoSet = "<a> <button onclick='changeContent(3)'>Takım Özeti</button> </a><a> <button onclick='changeContent(1)'>Fikstür</button> </a><div class='active'><a> <button onclick='changeContent(2)'>Kadro Analizi</button> </a></div>"
            }
            else if(num==3){
                htmltoSet = "<div class='active'><a> <button onclick='changeContent(3)'>Takım Özeti</button> </a></div><a> <button onclick='changeContent(1)'>Fikstür</button> </a><a> <button onclick='changeContent(2)'>Kadro Analizi</button> </a>"
            }
            $("#menu").html(htmltoSet);
        }
    </script>
    <script type="text/javascript">
        function handleSelect(elm)
        {
            var htmltoSet = "";
            if (elm.value == 1)
            {
                {% for i in players|dictsortreversed:"match" %}
                    htmltoSet += "<a  href='../../player/{{ team_selected }}/{{ i.playerId }}'> <img src='{{ STATIC_URL }}images/players/{{ i.playerId }}.jpg' onError='this.src=\"{{ STATIC_URL }}images/players/default.png\";'> <p class='first'>{{ i.jerseyNumber }} - {{ i.playerName }}</p> <p class='second'>{{ i.match }}</p></a>";
                {% endfor %}
            }
            else if (elm.value == 2)
            {
                {% for i in players|dictsortreversed:"minutes" %}
                    htmltoSet += "<a  href='../../player/{{ team_selected }}/{{ i.playerId }}'> <img src='{{ STATIC_URL }}images/players/{{ i.playerId }}.jpg' onError='this.src=\"{{ STATIC_URL }}images/players/default.png\";'> <p class='first'>{{ i.jerseyNumber }} - {{ i.playerName }}</p> <p class='second'>{{ i.minutes }}</p></a>";
                {% endfor %}
            }
            else if (elm.value == 3)
            {
                {% for i in players|dictsortreversed:"goals" %}
                    htmltoSet += "<a  href='../../player/{{ team_selected }}/{{ i.playerId }}'> <img src='{{ STATIC_URL }}images/players/{{ i.playerId }}.jpg' onError='this.src=\"{{ STATIC_URL }}images/players/default.png\";'> <p class='first'>{{ i.jerseyNumber }} - {{ i.playerName }}</p> <p class='second'>{{ i.goals }}</p></a>";
                {% endfor %}
            }
            else if (elm.value == 4)
            {
                {% for i in players|dictsortreversed:"assists" %}
                    htmltoSet += "<a  href='../../player/{{ team_selected }}/{{ i.playerId }}'> <img src='{{ STATIC_URL }}images/players/{{ i.playerId }}.jpg' onError='this.src=\"{{ STATIC_URL }}images/players/default.png\";'> <p class='first'>{{ i.jerseyNumber }} - {{ i.playerName }}</p> <p class='second'>{{ i.assists }}</p></a>";
                {% endfor %}
            }
            else if (elm.value == 5)
            {
                {% for i in players|dictsortreversed:"yellowCards" %}
                    htmltoSet += "<a  href='../../player/{{ team_selected }}/{{ i.playerId }}'> <img src='{{ STATIC_URL }}images/players/{{ i.playerId }}.jpg' onError='this.src=\"{{ STATIC_URL }}images/players/default.png\";'> <p class='first'>{{ i.jerseyNumber }} - {{ i.playerName }}</p> <p class='second'>{{ i.yellowCards }}</p></a>";
                {% endfor %}
            }
            else if (elm.value == 6)
            {
                {% for i in players|dictsortreversed:"redCards" %}
                    htmltoSet += "<a  href='../../player/{{ team_selected }}/{{ i.playerId }}'> <img src='{{ STATIC_URL }}images/players/{{ i.playerId }}.jpg' onError='this.src=\"{{ STATIC_URL }}images/players/default.png\";'> <p class='first'>{{ i.jerseyNumber }} - {{ i.playerName }}</p> <p class='second'>{{ i.redCards }}</p></a>";
                {% endfor %}
            }

            $("#player").html(htmltoSet);
        }
    </script>

{% endblock %}

{% block team-menu %}
    <div class="team-menu">
        <p style="width: 1.4%;float: left"></p>
        {% for i in try_list %}
            {% if i.teamId == team_selected %}
                <div class="active">
                    <a  href="../{{ i.teamId }}"> <img alt="{{ i.teamName }}" title="{{ i.teamName }}" src="{{ STATIC_URL }}images/logo{{ i.teamId }}.png"></a>
                </div>

            {% else %}
                <a  href="../{{ i.teamId }}"> <img alt="{{ i.teamName }}" title="{{ i.teamName }}" src="{{ STATIC_URL }}images/logo{{ i.teamId }}.png"></a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block menu-header %}

    <ul id="nav">
        <li>
            <a href="../../"><img src="{{ STATIC_URL }}images/home_disabled.png">Ana Sayfa</a>
        </li>
        <li><a class="active"  href="../"><img src="{{ STATIC_URL }}images/clubs.png">Takımlar</a>

        </li>
        <li>
            <a href="../../player"><img src="{{ STATIC_URL }}images/players_disabled.png">Oyuncular</a>
        </li>
        <li>
            <a href=""><img src="{{ STATIC_URL }}images/compare_disabled.png">Karşılaştır!</a>
        </li>
    </ul>

{% endblock %}


{% block content %}
    <div class="line-menu" id="menu" style="margin-bottom: 5px">
        <div class="active">
            <a> <button onclick="changeContent(3)">Takım Özeti</button> </a>
        </div>
        <a> <button onclick="changeContent(1)">Fikstür</button> </a>
        <a> <button onclick="changeContent(2)">Kadro Analizi</button> </a>
    </div>
    <div class="insideleft">
        <div class="infobox">
            {% for i in details %}

                <h1>{{ i.teamName }}</h1>
                <img src="{{ STATIC_URL }}images/logo{{ team_selected }}.png">
                <div class="line-holder">
                    <p class="first">Kuruluş Yılı</p>
                    <p class="second">{{ i.foundation }}</p>
                </div>

                <div class="line-holder">
                    <p class="first">Stadyum</p>
                    <p class="second">{{ i.stadium }}</p>
                </div>

                <div class="line-holder">
                    <p class="first">Kapasite</p>
                    <p class="second">{{ i.capacity }}</p>
                </div>

                <div class="line-holder">
                    <p class="first">Başkan</p>
                    <p class="second">{{ i.president }}</p>
                </div>

                <div class="line-holder">
                    <p class="first">Teknik Direktör</p>
                    <p class="second">{{ i.manager }}</p>
                </div>

                <div class="line-holder">
                    <p class="first">Websitesi</p>
                    <p class="second"><a href="http://{{ i.website }}" target="_blank">{{ i.website }}</a></p>
                </div>

                <div class="line-holder">
                    <p class="first">Lig Şampiyonluğu</p>
                    <p class="second">{{ i.leaguechamp }}</p>
                </div>

                <div class="line-holder">
                    <p class="first">Türkiye Kupası</p>
                    <p class="second">{{ i.cupchamp }}</p>
                </div>
            {% endfor %}
            <h2>Karşılaştır!</h2>
            <select style="width: 60%;margin-left:5%;float: left">
                <option class="item"> <a>Takım Seçiniz</a> </option>
                {% for i in standing_list %}
                    <option class="item"> <a>{{ i.teamName }}</a> </option>
                {% endfor %}
            </select>
            <button style="float: left;width: 30%;font-size: 12px;padding-left: 2px;">Karşılaştır</button>
        </div>
        <div class="infobox" style="margin-top: 5px">
            <div class="player-header">
                <h1>Takım Kadrosu</h1>
                <select class="player-filter" onchange="javascript:handleSelect(this)">
                    <option class="item" style="float: right" value="1"> <a>Maç Sayısı</a> </option>
                    <option class="item" value="2"> <a>Dakika</a> </option>
                    <option class="item" value="3"> <a>Gol</a> </option>
                    <option class="item" value="4"> <a>Asist</a> </option>
                    <option class="item" value="5"> <a>Sarı Kart</a> </option>
                    <option class="item" value="6"> <a>Kırmızı Kart</a> </option>
                </select>
            </div>
            <div style="width:100%;height: 400px;overflow-y: scroll">
                <div class="player" id="player" >
                    {% for i in players %}
                        <a  href="../../player/{{ team_selected }}/{{ i.playerId }}">
                            <img src="{{ STATIC_URL }}images/players/{{ i.playerId }}.jpg" onError="this.src='{{ STATIC_URL }}images/players/default.png';">
                            <p class="first">{{ i.jerseyNumber }} - {{ i.playerName }}</p>
                            <p class="second">{{ i.match }}</p>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="insideright">


        <div class="infobox" style="margin-left: 1%;width: 99%; margin-bottom: 5px">
            <h1>Lig Pozisyonu</h1>
            <div id="chart_div" style="width: 98%; height: 300px;margin: 1%;"></div>
        </div>
        <div class="infobox" style="margin-left: 1%;width: 99%; margin-bottom: 5px">
            <h1>Son 5 Maç</h1>
            <div class="form">
                <p class="win">G</p>
                <p class="seperator">-</p>
                <p class="draw">B</p>
                <p class="seperator">-</p>
                <p class="lose">M</p>
                <p class="seperator">-</p>
                <p class="win">G</p>
                <p class="seperator">-</p>
                <p class="win">G</p>
            </div>
        </div>
        <div class="infobox" style="margin-left: 1%;width: 99%; margin-bottom: 5px">
            <h1>Takım Karşılaştırması</h1>
            <table class="hovertable" style="width: 98%;margin: 1%">
                <tr>
                    <th class="first" style="width: 16%"> </th><th style="width: 14%">Sıralama</th><th style="width: 14%" title="Lig Ortalaması">Lig Ort.</th><th style="width: 20%">En İyi Takım</th><th class="last" style="width: 20%">En Kötü Takım</th>
                </tr>

                <tr>
                    <td>Gol</td><td> 3. (25 Gol)</td><td>22.4 Gol</td><td>Galatasaray(36 Gol)</td><td>SB Elazığspor(14 Gol)</td>
                </tr>
                <tr >
                    <td>Yenilen Gol</td><td> 6. (18 Gol)</td><td>22.4 Gol</td><td>Galatasaray(12 Gol)</td><td>SB Elazığspor(38 Gol)</td>
                </tr>
                <tr >
                    <td>Takım Yaşı</td><td  > 5. (24.4)</td><td>25.6</td><td>Beşiktaş(22.11)</td><td>Gaziantepspor(28.19)</td>
                </tr>
                <tr>
                    <td>Milli olma</td><td  > 2. (10.5)</td><td>4.4</td><td>Fenerbahçe(10.7)</td><td>Akhisar Bel(1.2)</td>
                </tr>
                <tr>
                    <td>Milli Gol</td><td > 12. (1.1 Gol)</td><td>1.2 Gol</td><td>Galatasaray(2.3 Gol)</td><td>SB Elazığspor(0 Gol)</td>
                </tr>
                <tr >
                    <td>Şut</td><td > 8. (4.4)</td><td>3.7</td><td>Galatasaray(5.2)</td><td>SB Elazığspor(1.3)</td>
                </tr>
                <tr>
                    <td>Şut Yüzdesi</td><td > 17. (%22)</td><td>%35</td><td>Galatasaray(%64)</td><td>SB Elazığspor(%20)</td>
                </tr>
                <tr >
                    <td>Pas</td><td > 6. (252)</td><td>221</td><td>Galatasaray(298)</td><td>SB Elazığspor(179)</td>
                </tr>
                <tr >
                    <td>Pas Yüzdesi</td><td> 5. (%72)</td><td>%64</td><td>Galatasaray(%81)</td><td>SB Elazığspor(%52)</td>
                </tr>
                <tr >
                    <td>Orta</td><td> 9. (6.4)</td><td>6.3</td><td>Galatasaray(9.2)</td><td>SB Elazığspor(3.1)</td>
                </tr>
                <tr >
                    <td>Orta Yüzdesi</td><td> 14. (%25)</td><td>%30</td><td>Galatasaray(%41)</td><td>SB Elazığspor(%20)</td>
                </tr>
                <tr>
                    <td>Takım Faulü</td><td> 4. (12.4)</td><td>8.9</td><td>Galatasaray(14.6)</td><td>SB Elazığspor(7.4)</td>
                </tr>
                <tr>
                    <td>Yapılan Faul</td><td> 10. (8.5)</td><td>8.9</td><td>Galatasaray(11.1)</td><td>SB Elazığspor(4.5)</td>
                </tr>
                <tr>
                    <td>Penaltı</td><td> 4. (6)</td><td>4.3</td><td>Galatasaray(8)</td><td>SB Elazığspor(1)</td>
                </tr>
                <tr>
                    <td>Yapılan Penaltı</td><td> 10. (3)</td><td>4.3</td><td>Galatasaray(11.1)</td><td>SB Elazığspor(4.5)</td>
                </tr>

            </table>
        </div>
    </div>








{% endblock %}

{% block sidebar %}
    <div id="content" style="min-height: 600px">
        <div style="width: 100%;height: 35px">
            <select class="topmenuoption">
                {% for i in weeklist %}
                    <option class="item"> <a>{{ i }}. Hafta</a> </option>
                {% endfor %}
            </select>
            <select class="topmenuoption">
                <option class="item" style="float: right"> <a>Gol</a> </option>
                <option class="item"> <a>Yenilen Gol</a> </option>
                <option class="item"> <a>Averaj</a> </option>
                <option class="item"> <a>Koşu Mesafesi</a> </option>
                <option class="item"> <a>Pas Yüzdesi</a> </option>
                <option class="item"> <a>Şut Yüzdesi</a> </option>
                <option class="item"> <a>Orta Yüzdesi</a> </option>
                <option class="item"> <a>Korner</a> </option>
                <option class="item"> <a>Faul</a> </option>
                <option class="item"> <a>Yapılan Faul</a> </option>
                <option class="item"> <a>Sarı Kart</a> </option>
                <option class="item"> <a>Kırmızı Kart</a> </option>
            </select>
        </div>

        <div class="teamcomparison">
            {% for i in standing_list|dictsortreversed:"score" %}
                <div class="teamitem">
                    <img alt="{{ i.teamName }}" title="{{ i.teamName }}" src="{{ STATIC_URL }}images/logo{{ i.teamId }}.png">
                    <p style="width: {{ i.score}}%">{{ i.score }}</p>
                    <div class="placeholder"></div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}


