{% extends "statsbase.html" %}

{% block title %}İstatistik | istatistik.ligtv.com.tr{% endblock %}

{% block head-addition %}
    <script type="text/javascript">
        $(document).ready(function(){
            $("select").change(function () {
                var str = "";
                $("select option:selected").each(function () {
                    str = $(this).text();
                });
                var htmltoSet = "";
                if ($.trim(str) == "Maç Sayısı")
                {
                    {% for i in player_list|dictsortreversed:"match" %}
                        htmltoSet += "<a> <p style='float: left;margin-left: 10px;line-height: 30px;font-size: 12px'>{{ i.jersey }} - {{ i.name }}</p> <p style='font-size: 12px;float: right;line-height:30px;width: 30px; padding-right: 10px; text-align: center'>{{ i.match }}</p></a>";
                    {% endfor %}
                }
                else if ($.trim(str)  == "Dakika")
                {
                    {% for i in player_list|dictsortreversed:"min" %}
                        htmltoSet += "<a> <p style='float: left;margin-left: 10px;line-height: 30px;font-size: 12px'>{{ i.jersey }} - {{ i.name }}</p> <p style='font-size: 12px;float: right;line-height:30px;width: 30px; padding-right: 10px; text-align: center'>{{ i.min }}</p></a>";
                    {% endfor %}
                }
                else if ($.trim(str) == "Gol")
                {
                    {% for i in player_list|dictsortreversed:"goal" %}
                        htmltoSet += "<a> <p style='float: left;margin-left: 10px;line-height: 30px;font-size: 12px'>{{ i.jersey }} - {{ i.name }}</p> <p style='font-size: 12px;float: right;line-height:30px;width: 30px; padding-right: 10px; text-align: center'>{{ i.goal }}</p></a>";
                    {% endfor %}
                }
                else if ($.trim(str) == "Asist")
                {
                    {% for i in player_list|dictsortreversed:"assist" %}
                        htmltoSet += "<a> <p style='float: left;margin-left: 10px;line-height: 30px;font-size: 12px'>{{ i.jersey }} - {{ i.name }}</p> <p style='font-size: 12px;float: right;line-height:30px;width: 30px; padding-right: 10px; text-align: center'>{{ i.assist }}</p></a>";
                    {% endfor %}
                }
                else if ($.trim(str) == "Sarı Kart")
                {
                    {% for i in player_list|dictsortreversed:"yellow" %}
                        htmltoSet += "<a> <p style='float: left;margin-left: 10px;line-height: 30px;font-size: 12px'>{{ i.jersey }} - {{ i.name }}</p> <p style='font-size: 12px;float: right;line-height:30px;width: 30px; padding-right: 10px; text-align: center'>{{ i.yellow }}</p></a>";
                    {% endfor %}x="Good day";
                }
                else if ($.trim(str) == "Kırmızı Kart")
                {
                    {% for i in player_list|dictsortreversed:"red" %}
                        htmltoSet += "<a> <p style='float: left;margin-left: 10px;line-height: 30px;font-size: 12px'>{{ i.jersey }} - {{ i.name }}</p> <p style='font-size: 12px;float: right;line-height:30px;width: 30px; padding-right: 10px; text-align: center'>{{ i.red }}</p></a>";
                    {% endfor %}
                }
                else if ($.trim(str) == "Koşu")
                {
                    {% for i in player_list|dictsortreversed:"run" %}
                        htmltoSet += "<a> <p style='float: left;margin-left: 10px;line-height: 30px;font-size: 12px'>{{ i.jersey }} - {{ i.name }}</p> <p style='font-size: 12px;float: right;line-height:30px;width: 30px; padding-right: 10px; text-align: center'>{{ i.run }}</p></a>";
                    {% endfor %}
                }
                else{
                    htmltoSet=str;
                }
                $("#player").html(htmltoSet);
            })

        });
    </script>
    <script>
        function changeContent(num){
            htmltoSet = "";
            if(num == 1){
                htmltoSet = "<p style='width: 1.4%;float: left'></p><div id='active'><a> <button onclick='changeContent(1)'>Fikstür</button> </a></div><a> <button onclick='changeContent(2)'>Kadro Analizi</button> </a><a> <button onclick='changeContent(3)'>Takım Özeti</button> </a>"
            }
            else if(num==2){
                htmltoSet = "<p style='width: 1.4%;float: left'></p><a> <button onclick='changeContent(1)'>Fikstür</button> </a><div id='active'><a> <button onclick='changeContent(2)'>Kadro Analizi</button> </a></div><a> <button onclick='changeContent(3)'>Takım Özeti</button> </a>"
            }
            else if(num==3){
                htmltoSet = "<p style='width: 1.4%;float: left'></p><a> <button onclick='changeContent(1)'>Fikstür</button> </a><a> <button onclick='changeContent(2)'>Kadro Analizi</button> </a><div id='active'><a> <button onclick='changeContent(3)'>Takım Özeti</button> </a></div>"
            }
            $("#menu").html(htmltoSet);
        }
    </script>

{% endblock %}


{% block menu-header %}

    <div id="navbar">
        <div id="nav">

            <a href="../../"><p>Ana Sayfa</p></a>

            <div id="active">
                <a href=""><p>Takım Sayfaları</p></a>
            </div>

            <a href="../../league"><p>Lig İstatistikleri</p></a>

        </div>
    </div>


{% endblock %}

{% block info %}
    <p style="width: 1%;float: left"></p>
    <img style="float:left;height: 90%; margin: 3px;" src="{{ STATIC_URL }}images/logo{{ team_selected }}.png">
    {% for i in standing_list %}
        {% if i.teamId == team_selected %}
            <h1 style="margin:0px;float: left; color: #ffffff;line-height: 50px; margin-left: 5px;font-family: CenturyGothic;font-size: 20px">{{ i.teamName }}</h1>
        {% endif %}
    {% endfor %}

{% endblock %}

{% block team-menu %}
    <div id="team-menu">
        <p style="width: 1.4%;float: left"></p>
        {% for i in team_list %}
            {% if i == team_selected %}
                <div id="active">
                    <a  href="../{{ i }}"> <img src="{{ STATIC_URL }}images/logo{{ i }}.png"></a>
                </div>

            {% else %}
                <a  href="../{{ i }}"> <img src="{{ STATIC_URL }}images/logo{{ i }}.png"></a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    <div id="header">
        <img src="{{ STATIC_URL }}images/logo{{ team_selected }}.png">
        {% for i in standing_list %}
            {% if i.teamId == team_selected %}
                <h1>{{ i.teamName }}</h1>
            {% endif %}
        {% endfor %}
    </div>
    <div id="menu">
        <p style="width: 1.4%;float: left"></p>
        <div id="active">
            <a> <button onclick="changeContent(1)">Fikstür</button> </a>
        </div>
        <a> <button onclick="changeContent(2)">Kadro Analizi</button> </a>
        <a> <button onclick="changeContent(3)">Takım Özeti</button> </a>
    </div>


{% endblock %}

{% block sidebar %}
    <div id="content">
        <div id="header">
            <h1>Takım Kadrosu</h1>
            <select class="player-filter">
                <option class="item" style="float: right"> <a>Maç Sayısı</a> </option>
                <option class="item"> <a>Dakika</a> </option>
                <option class="item"> <a>Gol</a> </option>
                <option class="item"> <a>Asist</a> </option>
                <option class="item"> <a>Sarı Kart</a> </option>
                <option class="item"> <a>Kırmızı Kart</a> </option>
                <option class="item"> <a>Koşu</a> </option>
            </select>
        </div>

        <div id="player">
            {% for i in player_list|dictsortreversed:"match" %}
                <a  href="#"> <p style="float: left;margin-left: 10px;line-height: 30px;font-size: 12px">{{ i.jersey }} - {{ i.name }}</p> <p style="font-size: 12px;float: right;line-height:30px;width: 30px; padding-right: 10px; text-align: center">{{ i.match }}</p></a>
            {% endfor %}
        </div>
    </div>



{% endblock %}


