{% load url from future %}
{% load static %}
{% load templateextras %}
{% get_static_prefix as STATIC_URL %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}İstatistik | istatistik.ligtv.com.tr{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css" charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/application.css" charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" charset="utf-8" />


    <script language="javascript">var STATIC_URL = "{{ STATIC_URL }}";</script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.masonry.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/modernizr.custom.79639.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.baraja.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/paper.js"></script>
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" />

    {% block head-addition %}{% endblock %}


</head>

<body>


<div id="container">

    <div class="global-header">

        <div class="header-logo">
            <img style="background-size: cover; float:left " src={{ STATIC_URL }}images/ligtvlogo.png>
        </div>

        <div class="header-menu">
            {% block menu-header %}

            {% endblock %}
        </div>

    </div>

    {% block addition-menu %}

    {% endblock %}

    {% block team-menu %}

    {% endblock %}


    {% block week-menu %}

    {% endblock %}


    {% block info %}

    {% endblock %}


    <div id="content">
        {% block allcontent %}
            <div id="main">
                {% block content %}

                {% endblock %}
            </div>

            <div id="sidebar">
                {% block sidebar %}

                {% endblock %}
            </div>

        {% endblock %}
        <div id="footer">

        </div>
    </div>

</div>
</body>
</html>