{% extends "statsbase.html" %}

{% block title %}İstatistik | istatistik.ligtv.com.tr{% endblock %}

{% block info %}
    <div id="info">
        <img style="float:left;height: 90%; margin: 3px;" src={{ STATIC_URL }}images/league1.png>
        <h1 style="margin:0px;float: left; color: #ffffff;line-height: 50px; margin-left: 5px;font-family: CenturyGothic;font-size: 20px">Spor-Toto Süper Lig</h1>
        <h1 style="margin:0px;float: right; color: #ffffff;line-height: 50px; margin-right: 20px;font-family: CenturyGothic;font-size: 20px">23. Hafta</h1>
    </div>
{% endblock %}


{% block menu-header %}

    <ul id="nav">
        <li>
            <a class="active" href="#">Ana Sayfa</a>
        </li>
        <li><a href="team">Takımlar</a>

        </li>
        <li>
            <a href="player">Oyuncular</a>
        </li>
        <li>
            <a href="compare">Karşılaştır!</a>
            <ul>
                <li><a href="#">Takım</a></li>
                <li><a href="#">Oyuncu</a></li>
            </ul>
        </li>
    </ul>

{% endblock %}

{% block week-menu %}
    <div class="week-menu">
        <p style="width: 2%; float: left"></p>
        {% for i in weeklist %}
            {% if i < 23 %}
                <a><p>{{ i }}</p></a>
            {% elif i == 23 %}
                <div class="active">
                    <a><p>{{ i }}</p></a>
                </div>
            {% else %}
                <div class="disabled">
                    <a><p>{{ i }}</p></a>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{%  endblock %}

{% block sidebar %}
    {% include 'standings_table.html' %}

{% endblock %}

{% block content %}
    <div class="content">
        <div class="header">
            <img src="{{ STATIC_URL }}images/besteleven.png" style="height: 90%;margin-top:2px;float: left">
            <h1>Haftanın 11'i</h1>
        </div>
        <div style="width: 100%; height: 300px; float: left"> {% include 'besteleven.html' %}</div>

    </div>

    <div class="box-container" style="width: 96%;height: 400px">

        <div class="header">
            <img src="{{ STATIC_URL }}images/bestplayer.png">

            <p style="line-height: 50px">Haftanın Kare Ası</p>
        </div>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript" src="../static/js/jquery.baraja.js"></script>
        <script type="text/javascript">
            $(function() {
                var $el = $( '#baraja-el' ),
                        baraja = $el.baraja();

            });
        </script>
        <div class="baraja-demo" style="width: 65%;float: left" onload="openCards()">
            <ul id="baraja-el" class="baraja-container">
                <li><img src="{{ STATIC_URL }}images/player13.png" alt="image1"/></li>
                <li><img src="{{ STATIC_URL }}images/player14.png" alt="image2"/></li>
                <li><img src="{{ STATIC_URL }}images/player15.png" alt="image3"/></li>
                <li><img src="{{ STATIC_URL }}images/player16.png" alt="image4"/></li>
            </ul>
        </div>
    </div>

    <div class="box-container">

        <div class="header">
            <img src="{{ STATIC_URL }}images/bestscorer.png">
            <p style="line-height: 50px">Haftanın Golcüleri</p>
        </div>
        <div style="width: 100%;height: 220px; overflow-y: scroll">
            <a class="content" href="#">
                <p style="width: 100%;text-align: center;font-size: 14px;height: 15px;line-height: 15px;margin-top: 6px;font-weight: bold">Didier Drogba</p>
                <div id="image" style="width: 18%;margin-top: -2px">
                    <img src="{{ STATIC_URL }}images/player23.png">
                </div>
                <ul style="width: 70%; margin-top: -2px">
                    <li><p class="first">Gol</p><p class="last">:2</p></li>
                    <li><p class="first">Toplam Şut</p><p class="last">:4</p></li>
                    <li><p class="first">Kaleyi Bulan Şut</p><p class="last">:3</p></li>
                </ul>
            </a>
            <a class="content" href="#">
                <p style="width: 100%;text-align: center;font-size: 14px;height: 15px;line-height: 15px;margin-top: 6px;font-weight: bold">Kalu Uche</p>
                <div id="image" style="width: 18%;margin-top: -2px">
                    <img src="{{ STATIC_URL }}images/player22.png">
                </div>
                <ul style="width: 70%; margin-top: -2px">
                    <li><p class="first">Gol</p><p class="last">:1</p></li>
                    <li><p class="first">Toplam Şut</p><p class="last">:7</p></li>
                    <li><p class="first">Kaleyi Bulan Şut</p><p class="last">:4</p></li>
                </ul>
            </a>
            <a class="content" href="#">
                <p style="width: 100%;text-align: center;font-size: 14px;height: 15px;line-height: 15px;margin-top: 6px;font-weight: bold">Filip Holosko</p>
                <div id="image" style="width: 18%;margin-top: -2px">
                    <img src="{{ STATIC_URL }}images/player21.png">
                </div>
                <ul style="width: 70%; margin-top: -2px">
                    <li><p class="first">Gol</p><p class="last">:1</p></li>
                    <li><p class="first">Toplam Şut</p><p class="last">:5</p></li>
                    <li><p class="first">Kaleyi Bulan Şut</p><p class="last">:1</p></li>
                </ul>
            </a>
        </div>

        <div class="footer">
            <p>Hafta Detayı</p>
            <p>Sezon Detayı</p>
            <p style="font-size: 0px">.</p>
            <a href="#"><img src="{{ STATIC_URL }}images/weekdetailcomp.png"  onmouseover="this.src='{{ STATIC_URL }}images/weekdetail.png'" onmouseout="this.src='{{ STATIC_URL }}images/weekdetailcomp.png'"></a>
            <a href="#"><img src="{{ STATIC_URL }}images/leaguedetailcomp.png"  onmouseover="this.src='{{ STATIC_URL }}images/leaguedetail.png'" onmouseout="this.src='{{ STATIC_URL }}images/leaguedetailcomp.png'"></a>
        </div>
    </div>

    <div class="box-container">

        <div class="header">
            <img src="{{ STATIC_URL }}images/bestpasser.png">
            <p style="line-height: 50px">Haftanın Pasörleri</p>
        </div>
        <div style="width: 100%;height: 220px; overflow-y: scroll">
            <a class="content" href="#">
                <p style="width: 100%;text-align: center;font-size: 14px;height: 15px;line-height: 15px;margin-top: 6px;font-weight: bold">Emre Belözoğlu</p>
                <div id="image" style="width: 18%;margin-top: -2px">
                    <img src="{{ STATIC_URL }}images/player19.png">
                </div>
                <ul style="width: 70%; margin-top: -2px">
                    <li><p class="first">Toplam Pas</p><p class="last">:42</p></li>
                    <li><p class="first">Başarılı Pas</p><p class="last">:48</p></li>
                    <li><p class="first">Pas Yüzdes</p><p class="last">:%87</p></li>
                </ul>
            </a>
            <a class="content" href="#">
                <p style="width: 100%;text-align: center;font-size: 14px;height: 15px;line-height: 15px;margin-top: 6px;font-weight: bold">Pablo Batalla</p>
                <div id="image" style="width: 18%;margin-top: -2px">
                    <img src="{{ STATIC_URL }}images/player20.png">
                </div>
                <ul style="width: 70%; margin-top: -2px">
                    <li><p class="first">Toplam Pas</p><p class="last">:44</p></li>
                    <li><p class="first">Başarılı Pas</p><p class="last">:55</p></li>
                    <li><p class="first">Pas Yüzdes</p><p class="last">:%80</p></li>
                </ul>
            </a>
            <a class="content" href="#">
                <p style="width: 100%;text-align: center;font-size: 14px;height: 15px;line-height: 15px;margin-top: 6px;font-weight: bold">Olcan Adın</p>
                <div id="image" style="width: 18%;margin-top: -2px">
                    <img src="{{ STATIC_URL }}images/player18.png">
                </div>
                <ul style="width: 70%; margin-top: -2px">
                    <li><p class="first">Toplam Pas</p><p class="last">:38</p></li>
                    <li><p class="first">Başarılı Pas</p><p class="last">:48</p></li>
                    <li><p class="first">Pas Yüzdes</p><p class="last">:%79</p></li>
                </ul>
            </a>
        </div>

        <div class="footer">
            <p>Hafta Detayı</p>
            <p>Sezon Detayı</p>
            <p style="font-size: 0px">.</p>
            <a href="#"><img src="{{ STATIC_URL }}images/weekdetailcomp.png"  onmouseover="this.src='{{ STATIC_URL }}images/weekdetail.png'" onmouseout="this.src='{{ STATIC_URL }}images/weekdetailcomp.png'"></a>
            <a href="#"><img src="{{ STATIC_URL }}images/leaguedetailcomp.png"  onmouseover="this.src='{{ STATIC_URL }}images/leaguedetail.png'" onmouseout="this.src='{{ STATIC_URL }}images/leaguedetailcomp.png'"></a>
        </div>
    </div>
    <div class="box-container">

        <div class="header">
            <img src="{{ STATIC_URL }}images/bestrunner.png">
            <p style="line-height: 50px">Haftanın En Çok Koşanları</p>
        </div>
        <div style="width: 100%;height: 220px; overflow-y: scroll">
            <a class="content" href="#">
                <p style="width: 100%;text-align: center;font-size: 14px;height: 15px;line-height: 15px;margin-top: 6px;font-weight: bold">Albert Riera</p>
                <div id="image" style="width: 18%;margin-top: -2px">
                    <img src="{{ STATIC_URL }}images/player15.png">
                </div>
                <ul style="width: 70%; margin-top: -2px">
                    <li><p class="first">Toplam Koşu</p><p class="last">:12487</p></li>
                    <li><p class="first">Şiddetli Koşu</p><p class="last">:245</p></li>
                    <li><p class="first">Sprint</p><p class="last">:90</p></li>
                </ul>
            </a>
            <a class="content" href="#">
                <p style="width: 100%;text-align: center;font-size: 14px;height: 15px;line-height: 15px;margin-top: 6px;font-weight: bold">Gökhan Gönül</p>
                <div id="image" style="width: 18%;margin-top: -2px">
                    <img src="{{ STATIC_URL }}images/player17.png">
                </div>
                <ul style="width: 70%; margin-top: -2px">
                    <li><p class="first">Toplam Koşu</p><p class="last">:12055</p></li>
                    <li><p class="first">Şiddetli Koşu</p><p class="last">:260</p></li>
                    <li><p class="first">Sprint</p><p class="last">:77</p></li>
                </ul>
            </a>
            <a class="content" href="#">
                <p style="width: 100%;text-align: center;font-size: 14px;height: 15px;line-height: 15px;margin-top: 6px;font-weight: bold">Filip Holosko</p>
                <div id="image" style="width: 18%;margin-top: -2px">
                    <img src="{{ STATIC_URL }}images/player21.png">
                </div>
                <ul style="width: 70%; margin-top: -2px">
                    <li><p class="first">Toplam Koşu</p><p class="last">:11847</p></li>
                    <li><p class="first">Şiddetli Koşu</p><p class="last">:180</p></li>
                    <li><p class="first">Sprint</p><p class="last">:67</p></li>
                </ul>
            </a>
        </div>

        <div class="footer">
            <p>Hafta Detayı</p>
            <p>Sezon Detayı</p>
            <p style="font-size: 0px">.</p>
            <a href="#"><img src="{{ STATIC_URL }}images/weekdetailcomp.png"  onmouseover="this.src='{{ STATIC_URL }}images/weekdetail.png'" onmouseout="this.src='{{ STATIC_URL }}images/weekdetailcomp.png'"></a>
            <a href="#"><img src="{{ STATIC_URL }}images/leaguedetailcomp.png"  onmouseover="this.src='{{ STATIC_URL }}images/leaguedetail.png'" onmouseout="this.src='{{ STATIC_URL }}images/leaguedetailcomp.png'"></a>
        </div>
    </div>

{% endblock %}


