{% extends "statsbase.html" %}

{% block title %}İstatistik | istatistik.ligtv.com.tr{% endblock %}

{% block head-addition %}

{% endblock %}


{% block menu-header %}

    <div id="menubar" style="background-color:#454541; Margin-left:auto;Margin-right:auto;">
    <!--<img src="{{ STATIC_URL }}images/buttonbg.png" height="150px" width="240px" onmouseover="this.src='{{ STATIC_URL }}images/buttonbgclicked.png'" onmouseout="this.src='{{ STATIC_URL }}images/buttonbg.png'">-->
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <ul class="nav">
                    <li style="width:200px"><a href="../">Ana Sayfa</a></li>
                    <li class="divider-vertical"></li>
                    <li class="active" style="width:200px"><a href="">Takım Sayfaları</a></li>
                    <li class="divider-vertical"></li>
                    <li style="width:200px"><a href="#">Lig İstatistikleri</a></li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div id="includedContent">{% include 'sub.html' with pname=player_name %}</div>

{% endblock %}
