{% extends "statsbase.html" %}

{% block title %}İstatistik | istatistik.ligtv.com.tr{% endblock %}

{% block head-addition %}

{% endblock %}


{% block addition-menu %}

    <div id="addition-menu">
        <!--<img src="{{ STATIC_URL }}images/buttonbg.png" height="150px" width="240px" onmouseover="this.src='{{ STATIC_URL }}images/buttonbgclicked.png'" onmouseout="this.src='{{ STATIC_URL }}images/buttonbg.png'">-->
        <div id="navbar" style="float: left">
            <p style="width: 34%; float: left"></p>
            <div id="nav">
                <div id="active" ><a href="#" style="height: 20px; width: 18%"><p style="line-height: 20px; width: 100%">Oyuncu İstatistikleri</p></a></div>
                <a href="#" style="height: 20px; width: 18%"><p style="line-height: 20px; width: 100%">Takım İstatistikleri</p></a>
                <a href="#" style="height: 20px; width: 18%"><p style="line-height: 20px; width: 100%">Hakem İstatistikleri</p></a>
            </div>
        </div>
    </div>

{% endblock %}

{% block menu-header %}

    <div id="menubar" style="background-color:#454541; Margin-left:auto;Margin-right:auto;">
        <!--<img src="{{ STATIC_URL }}images/buttonbg.png" height="150px" width="240px" onmouseover="this.src='{{ STATIC_URL }}images/buttonbgclicked.png'" onmouseout="this.src='{{ STATIC_URL }}images/buttonbg.png'">-->
        <div id="navbar">
            <div id="nav">
                <a href="../"><p>Ana Sayfa</p></a>
                <a href="../team/1"><p>Takım Sayfaları</p></a>
                <div id="active"><a href=""><p>Lig İstatistikleri</p></a></div>
            </div>
        </div>
    </div>

{% endblock %}

{% block week-menu %}
    <div id="week-menu">
        <p style="width: 2%; float: left"></p>
        {% for i in weeklist %}
            {% if i < 23 %}
                <a><p>{{ i }}</p></a>
            {% elif i == 23 %}
                <div id="active">
                    <a><p>{{ i }}</p></a>
                </div>
            {% else %}
                <div id="disabled">
                    <a><p>{{ i }}</p></a>
                </div>
            {% endif %}
        {% endfor %}
    </div>

{%  endblock %}

{% block team-menu %}
    <div id="team-menu">
        <p style="width: 1.4%;float: left"></p>
        {% for i in team_list %}
            {% if i == team_selected %}
                <div id="active">
                    <a  href="#"> <img src="{{ STATIC_URL }}images/logo{{ i }}.png"></a>
                </div>

            {% else %}
                <a  href="#"> <img src="{{ STATIC_URL }}images/logo{{ i }}.png"></a>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}

{% block sidebar %}

    <div id="content">
        <div id="header"><h1>Ads</h1> </div>
        <div style="min-height: 400px"></div>
    </div>

{% endblock %}

{% block content %}


{% endblock %}


