{% extends "virtual_stadium_base.html" %}
{% block menu %}
    <div id="navbar">
        <div id="nav">


            <a href="../before">MAÇ ÖNCESİ</a>


            <div id="active">
                <a href="../center">STADYUM</a>
            </div>
            <a href="../table">MAÇ TAHTASI</a>

        </div>
    </div>
{% endblock %}

{% block content %}
    <p style="background-color: rgba(100,100,100,0.7); width: 96%; height: 50px;float: left;margin-left: 2%;line-height: 50px;text-align: center;margin-top: 5px">Momentum</p>
    <p style="background-color: rgba(100,100,100,0.7); width: 96%; height: 400px;float: left;margin-left: 2%;line-height: 50px;text-align: center;margin-top: 2px">Radar</p>
    <p style="background-color: rgba(100,100,100,0.7); width: 96%; height: 200px;float: left;margin-left: 2%;line-height: 50px;text-align: center;margin-top: 2px">Oyuncu Kartları</p>
    <div style="background-color: rgba(100,100,100,0.7); width: 96%; height: 600px;float: left;margin-left: 2%;line-height: 50px;text-align: center;margin-top: 2px">
        <div id="navbar">
            <div id="nav">

                <div id="active">
                    <a href="#" style="width: 22.5%">OLAYLAR</a>
                </div>
                <a href="#" style="width: 22.5%">ANLATIM</a>

                <a href="#" style="width: 22.5%">TAKIM İSTATİSTİKLERİ</a>

                <a href="#" style="width: 22.5%">OYUNCU İSTATİSTİKLERİ</a>

            </div>
        </div>

    </div>



{% endblock %}


