{% extends "virtual_stadium_base.html" %}
{% block menu %}
    <div id="navbar">
        <div id="nav">
            <div id="active">

                <a href="../before">MAÇ ÖNCESİ</a>

            </div>
            <a href="../center">STADYUM</a>

            <a href="../table">MAÇ TAHTASI</a>

        </div>
    </div>
{% endblock %}
{% block content %}
    <p style="background-color: rgba(100,100,100,0.7); width: 15%; height: 120px;float: left;margin-left: 2%;line-height: 120px;text-align: center;margin-top: 5px" >Ev Sahibi</p>
    <p style="background-color: rgba(100,100,100,0.7); width: 62%; height: 120px;float: left;margin-left: 2%;line-height: 120px;text-align: center;margin-top: 5px">Geçmiş Maçlar,Karşılıklı Goller,Form</p>
    <p style="background-color: rgba(100,100,100,0.7); width: 15%; height: 120px;float: left;margin-left: 2%;line-height: 120px;text-align: center;margin-top: 5px">Deplasman</p>
    <p style="background-color: rgba(100,100,100,0.7); width: 20%; height: 160px;float: left;margin-left: 2%;line-height: 120px;text-align: center;margin-top: 5px" >Cezalılar</p>
    <p style="background-color: rgba(100,100,100,0.7); width: 52%; height: 400px;float: left;margin-left: 2%;line-height: 120px;text-align: center;margin-top: 5px">Muhtemel 11'ler</p>
    <p style="background-color: rgba(100,100,100,0.7); width: 20%; height: 160px;float: left;margin-left: 2%;line-height: 120px;text-align: center;margin-top: 5px">Cezalılar</p>
    <p style="background-color: rgba(100,100,100,0.7); width: 96%; height: 400px;float: left;margin-left: 2%;line-height: 120px;text-align: center;margin-top: 5px">Son 4 Maç</p>


{% endblock %}


