{% load url from future %}
{% load static %}
{% load templateextras %}
{% get_static_prefix as STATIC_URL %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}İstatistik | istatistik.ligtv.com.tr{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/bootstrap.min.css" charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/application.css" charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/virtual_style.css" charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <script language="javascript">var STATIC_URL = "{{ STATIC_URL }}";</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>

    <script src="{{ STATIC_URL }}/js/paper.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/main.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.masonry.min.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}/js/underscore.js" type="text/javascript"></script>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:600,700' rel='stylesheet' type='text/css'>

    <script src="{{ STATIC_URL }}js/jquery.timelinr-0.9.53.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/site.css" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" />



    {% block head-addition %}{% endblock %}

    <script>
        var week = {{ currentWeek }}
                console.log("{{ currentWeek }}")
        console.log("{{ selectedMatch }}")
        $(function(){
            $().timelinr({
                issuesSpeed: 	300,
                datesSpeed: 	100,
                arrowKeys: 		'true',
                startAt:		week
            })
        });
    </script>
    <script>
        formatDate = function(elm,rawDate){
            var d = new Date(rawDate)
            var weekDay = d.getDay()
            var monthDay = d.getDate()
            var month = d.getMonth()
            var dayString
            switch(weekDay)
            {
                case 0:
                    dayString = "Pazar"
                    break;
                case 1:
                    dayString = "Pazartesi"
                    break;
                case 2:
                    dayString = "Salı"
                    break;
                case 3:
                    dayString = "Çarşamba"
                    break;
                case 4:
                    dayString = "Perşembe"
                    break;
                case 5:
                    dayString = "Cuma"
                    break;
                case 6:
                    dayString = "Cumartesi"
                    break;
            }

            var monthString
            switch(month)
            {
                case 0:
                    monthString = "Oca"
                    break;
                case 1:
                    monthString = "Şub"
                    break;
                case 2:
                    monthString = "Mar"
                    break;
                case 3:
                    monthString = "Nis"
                    break;
                case 4:
                    monthString = "May"
                    break;
                case 5:
                    monthString = "Haz"
                    break;
                case 6:
                    monthString = "Tem"
                    break;
                case 7:
                    monthString = "Ağu"
                    break;
                case 8:
                    monthString = "Eyl"
                    break;
                case 9:
                    monthString = "Eki"
                    break;
                case 10:
                    monthString = "Kas"
                    break;
                case 11:
                    monthString = "Ara"
                    break;
            }

            var str = monthDay + " " + weekDay + " " + monthString
            console.log(str)
            elm.html("<p>" + str + "</p>")

        }
    </script>




</head>

<body>

<div id="global-header">
    <div id="cnt">
        <div id="logo">
            <p style="width: 100%;height: 40px;line-height: 50px;text-align: center">Logo</p>
        </div>
        <div id="scoreboard">
            {% block scoreboard %}
                {% for x in matchInfo %}

                    <div class="match-info">
                        <div id="stadium" style="font-size: 10px;height: 12px"></div>
                        <div id="match-day" style="font-size: 10px;height: 12px"></div>
                        <div id="referee" style="font-size: 10px;height: 12px"></div>
                    </div>
                    <div class="score-area">
                        <div id="hometeam">
                            <p>{{ x.homeTeam|upper }}</p>
                        </div>
                        <div id="homescore">
                            <p class="score">{{ x.homeTeamScore }}</p>
                        </div>
                        <div class="score-seperator">-</div>
                        <div id="awayscore">
                            <p class="score">{{ x.awayTeamScore }}</p>
                        </div>
                        <div id="awayteam">
                            <p>{{ x.awayTeam|upper }}</p>
                        </div>
                    </div>
                    <div class="match-time">
                        <div></div>
                    </div>
                {% endfor %}
            {% endblock %}
        </div>
    </div>

</div>

<div id="content">
    <div id="sidebar">

        <div class="fixture">

            <div id="timeline">
                <div class="timeline-correcter"></div>
                <ul id="dates">
                    {% for i in weeks|dictsort:"weekId" %}
                        {% if i.weekId  == currentWeek %}
                            <li><a href="#{{ i.weekId }}" class="selected">{{ i.weekId }}. Hafta</a></li>
                        {% else %}
                            <li><a href="#{{ i.weekId }}">{{ i.weekId }}. Hafta</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <ul id="issues">
                    {% for week in weeks|dictsort:"weekId" %}
                        <li>
                            {% if week.status == 0 %}
                                {% for match in week.matches %}
                                    {% if match.matchStatus != 1 and match.matchStatus != 6 and match.matchStatus != 11 and match.matchStatus != 13 and match.matchStatus != 5 and match.matchStatus != 17 %}
                                        {% if selectedMatch == match.matchId %}
                                            <a class="match-selected" href="../../{{ match.matchId }}">
                                        {% else %}
                                            <a class="match" href="../../{{ match.matchId }}">
                                        {% endif %}
                                    <div id="scorearea">
                                        <div id="home">
                                            <div id="name"><p>{{ match.homeTeamCond }}</p></div>
                                            <div id="score"><p>:{{ match.homeScore }}</p></div>
                                        </div>
                                        <div id="away">
                                            <div id="name"><p>{{ match.awayTeamCond }}</p></div>
                                            <div id="score"><p>:{{ match.awayScore }}</p></div>
                                        </div>
                                    </div>
                                    <div id="live">
                                        <p class="live-time">{{ match.liveTime }}</p>
                                    </div>
                                    </a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if week.status == 0 or  week.status == 1 %}
                                <p class="line-info"> Oynanmış Maçlar</p>
                                {% for match in week.matches %}
                                    {% if match.matchStatus == 6 or match.matchStatus == 11 or match.matchStatus == 13%}
                                        {% if selectedMatch == match.matchId %}
                                            <a class="match-selected" href="../../{{ match.matchId }}">
                                        {% else %}
                                            <a class="match" href="../../{{ match.matchId }}">
                                        {% endif %}
                                    <div id="scorearea">
                                        <div id="home">
                                            <div id="name"><img src="{{ STATIC_URL }}images/logo{{ match.homeTeamId }}.png"><p>{{ match.homeTeamCond}}</p></div>
                                            <div id="score"><p>:{{ match.homeScore }}</p></div>
                                        </div>
                                        <div id="away">
                                            <div id="name"><img src="{{ STATIC_URL }}images/logo{{ match.awayTeamId }}.png"><p>{{ match.awayTeamCond }}</p></div>
                                            <div id="score"><p>:{{ match.awayScore }}</p></div>
                                        </div>
                                    </div>
                                    <div id="datearea" onload="javascript:formatDate(this,{{ match.date }})">
                                        <p>{{ match.date }}</p>
                                    </div>
                                    </a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if week.status == 0 or  week.status == 2 %}
                                <p class="line-info"> Oynanmamış Maçlar</p>
                                {% for match in week.matches %}
                                    {% if match.matchStatus == 1 %}
                                        {% if selectedMatch == match.matchId %}
                                            <a class="match-selected" href="../../{{ match.matchId }}">
                                        {% else %}
                                            <a class="match" href="../../{{ match.matchId }}">
                                        {% endif %}
                                    <div id="scorearea">
                                        <div id="home">
                                            <div id="name"><p>{{ match.homeTeamCond }}</p></div>
                                            <div id="score"><p>:{{ match.homeScore }}</p></div>
                                        </div>
                                        <div id="away">
                                            <div id="name"><p>{{ match.awayTeamCond }}</p></div>
                                            <div id="score"><p>:{{ match.awayScore }}</p></div>
                                        </div>
                                    </div>
                                    <div id="datearea">
                                        <p>{{ match.date }}</p>
                                    </div>
                                    </a>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </li>
                    {% endfor %}
            </div>
        </div>

        <div class="sidebox">
            <h1> Gol Videoları </h1>

            {% for x in goals %}
                <div style="height: 40px">
                    <a href="{{ x.goalLink }}" target="_blank">
                        <img src="{{ STATIC_URL }}images/players/{{ x.playerId }}.jpg" onError="this.src='{{ STATIC_URL }}images/players/default.png';">
                        <p id="name">{{ x.playerName }}</p>
                        <p id="min">{{ x.min }}'</p>
                    </a>
                </div>

            {% endfor %}

        </div>
        <div class="sidebox">
            <h1> Mesafe </h1>
        </div>
        <div class="sidebox">
            <h1> Pas </h1>
        </div>
        <div class="sidebox">
            <h1> Şut </h1>
        </div>
    </div>
    <div id="main">
        <div id="menu">
            {% block menu %}

            {% endblock %}
        </div>
        <div class="container">
            {% block content %}

            {% endblock %}
        </div>

    </div>

</div>

<div id="footer">

</div>


</body>

</html>