{% extends "virtual_stadium_base.html" %}
{% block menu %}
    <div id="navbar">
        <div id="nav">


            <a href="../before">MAÇ ÖNCESİ</a>


            <a href="../center">STADYUM</a>
            <div id="active">
                <a href="../table">MAÇ TAHTASI</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}
    <p style="background-color: rgba(100,100,100,0.7); width: 20%; height: 400px;float: left;margin-left: 1%;line-height: 120px;text-align: center;margin-top: 5px" >Ev Sahibi</p>
    <p style="background-color: rgba(100,100,100,0.7); width: 55%; height: 300px;float: left;margin-left: 1%;line-height: 120px;text-align: center;margin-top: 5px">Saha</p>
    <p style="background-color: rgba(100,100,100,0.7); width: 20%; height: 400px;float: left;margin-left: 1%;line-height: 120px;text-align: center;margin-top: 5px">Deplasman</p>
{% endblock %}


